<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paichi.modules.recipe.mapper.RecipeMapper">

    <!--食谱详情数据，包含食谱步骤表的一对多关系和食谱功效表的多对多关系-->
    <resultMap id="recipeZuoFa" type="com.paichi.modules.recipe.entity.Recipe">
        <id property="recipeId" column="RECIPE_ID"></id>
        <result property="recipeName" column="RECIPE_NAME"></result>
        <result property="recipeImg" column="RECIPE_IMG"></result>
        <result property="recipeVideo" column="RECIPE_VIDEO"></result>
        <result property="peopleNumber" column="PEOPLE_NUMBER"></result>
        <result property="cookTime" column="COOK_TIME"></result>
        <result property="preparationTime" column="PREPARATION_TIME"></result>
        <result property="popularity" column="POPULARITY"></result>
        <result property="difficulty" column="DIFFICULTY"></result>
        <result property="introduction" column="INTRODUCTION"></result>
        <result property="cookingSkill" column="COOKINGSKILL"></result>
        <result property="timestamp" column="TIMESTAMP"></result>
        <!--一对一关联关系-->
        <association property="craft" javaType="com.paichi.modules.craft.entity.Craft">
            <id property="craftId" column="CRAFT_ID"></id>
            <result property="craftName" column="CRAFT_NAME"></result>
        </association>
        <association property="taste" javaType="com.paichi.modules.recipe.entity.Taste">
            <id property="tasteId" column="TASTE_ID"></id>
            <result property="tasteName" column="TASTE_NAME"></result>
        </association>
        <association property="user" javaType="com.paichi.modules.user.entity.User">
            <id property="userId" column="USER_ID"></id>
            <result property="userName" column="USER_NAME"></result>
            <result property="userIcon" column="USER_ICON"></result>
            <result property="userEmail" column="USER_EMAIL"></result>
            <result property="userSex" column="USER_SEX"></result>
            <result property="userIntroduction" column="USER_INTRODUCTION"></result>
            <result property="birth" column="BIRTH"></result>
            <result property="createTime" column="CREATE_TIME"></result>
        </association>
        <!--多对多关联关系-->
        <collection property="effects" ofType="com.paichi.modules.effect.entity.Effect">
            <id property="effectId" column="EFFECT_ID"></id>
            <result property="effectName" column="EFFECT_NAME"></result>
        </collection>
        <!--一对多关联关系-->
        <collection property="recipeSteps" ofType="com.paichi.modules.recipe.entity.RecipeStep">
            <id property="recipeStepId" column="RECIPE_STEP_ID"></id>
            <result property="recipeId" column="RECIPE_ID"></result>
            <result property="stepContent" column="STEP_CONTENT"></result>
            <result property="stepImg" column="STEP_IMG"></result>
            <result property="stepNumber" column="STEP_NUMBER"></result>
        </collection>
        <collection property="materials" ofType="com.paichi.modules.materials.entity.Materials">
            <id property="materialsId" column="MATERIALS_ID"></id>
            <result property="recipeId" column="RECIPE_ID"></result>
            <result property="mainMaterials" column="MAIN_MATERIALS"></result>
            <result property="mainNumber" column="MAIN_NUMBER"></result>
            <result property="materialsFlag" column="MATERIALS_FLAG"></result>
            <result property="materialsImg" column="MATERIALSIMG"></result>
        </collection>
    </resultMap>

    <!--用户美食菜单-->
    <resultMap id="recipeOrders" type="User">
        <id property="userId" column="USER_ID"></id>
        <result property="userName" column="USER_NAME"></result>
        <result property="userIcon" column="USER_ICON"></result>
        <result property="ordersCount" column="ordersCount"></result>
        <collection property="recipes" ofType="Recipe">
            <id property="recipeId" column="RECIPE_ID"></id>
            <result property="recipeName" column="RECIPE_NAME"></result>
            <result property="recipeImg" column="RECIPE_IMG"></result>
            <result property="timestamp" column="TIMESTAMP"></result>
        </collection>
    </resultMap>

    <!--保存食谱-->
    <insert id="saveRecipe" parameterType="Recipe">
        insert into RECIPE
            <trim prefix="(" suffix=")" suffixOverrides=",">
                    RECIPE_ID,
                <if test="recipeName != null and recipeName != ''">
                    RECIPE_NAME,
                </if>
                <if test="recipeImg != null and recipeImg != ''">
                    RECIPE_IMG,
                </if>
                <if test="recipeVideo != null and recipeVideo != ''">
                    RECIPE_VIDEO,
                </if>
                    CRAFT_ID,
                    TASTE_ID,
                <if test="userId != null">
                    USER_ID,
                </if>
                <if test="peopleNumber != null">
                    PEOPLE_NUMBER,
                </if>
                <if test="cookTime != null">
                    COOK_TIME,
                </if>
                <if test="preparationTime != null">
                    PREPARATION_TIME,
                </if>
                <if test="popularity != null">
                    POPULARITY,
                </if>
                <if test="difficulty != null">
                    DIFFICULTY,
                </if>
                <if test="introduction != null and introduction != ''">
                    INTRODUCTION,
                </if>
                <if test="cookingSkill != null and cookingSkill != ''">
                    COOKINGSKILL,
                </if>
                <if test="timestamp != null">
                    TIMESTAMP,
                </if>
            </trim>
            <trim prefix="values (" suffix=")" suffixOverrides=",">
                    #{recipeId},
                <if test="recipeName != null and recipeName != ''">
                    #{recipeName},
                </if>
                <if test="recipeImg != null and recipeImg != ''">
                    #{recipeImg},
                </if>
                <if test="recipeVideo != null and recipeVideo != ''">
                    #{recipeVideo},
                </if>
                    #{craftId, jdbcType=NUMERIC},
                    #{tasteId, jdbcType=NUMERIC},
                <if test="userId != null">
                    #{userId},
                </if>
                <if test="peopleNumber != null">
                    #{peopleNumber, jdbcType=NUMERIC},
                </if>
                <if test="cookTime != null">
                    #{cookTime, jdbcType=NUMERIC},
                </if>
                <if test="preparationTime != null">
                    #{preparationTime, jdbcType=NUMERIC},
                </if>
                <if test="popularity != null">
                    #{popularity, jdbcType=NUMERIC},
                </if>
                <if test="difficulty != null">
                    #{difficulty, jdbcType=NUMERIC},
                </if>
                <if test="introduction != null and introduction != ''">
                    #{introduction, jdbcType=CLOB},
                </if>
                <if test="cookingSkill != null and cookingSkill != ''">
                    #{cookingSkill},
                </if>
                <if test="timestamp != null">
                    #{timestamp},
                </if>
            </trim>
    </insert>

    <!--根据食谱表id获取食谱做法，包含步骤表等表信息-->
    <select id="getRecipeDetailByRecipeId" parameterType="String" resultMap="recipeZuoFa">
        select r.recipe_id as recipeId, r.recipe_name, #{fastDFSPath} || r.recipe_img as recipe_img, r.recipe_video, r.CRAFT_ID, r.TASTE_ID,
           r.USER_ID, r.people_number, r.cook_time, r.preparation_time, r.popularity, r.timestamp, r.difficulty,
           r.cookingskill, r.introduction, e.EFFECT_ID, e.EFFECT_NAME, rs.RECIPE_STEP_ID, rs.RECIPE_ID, rs.STEP_CONTENT,
           #{fastDFSPath} || rs.STEP_IMG as STEP_IMG, rs.STEP_NUMBER, u.USER_ID, USER_NAME, PASSWORD, USER_ICON, USER_EMAIL,
           USER_SEX, USER_INTRODUCTION, BIRTH, CREATE_TIME, c.CRAFT_ID, c.CRAFT_NAME, t.TASTE_ID, TASTE_NAME,
           m.MATERIALS_ID, m.RECIPE_ID, m.MAIN_MATERIALS, m.MAIN_NUMBER, m.MATERIALS_FLAG, #{fastDFSPath} || m.MATERIALSIMG as MATERIALSIMG
        from RECIPE r
            left join RECIPE_EFFECT re on r.RECIPE_ID = re.RECIPE_ID
            left join EFFECT e on re.EFFECT_ID = e.EFFECT_ID
            left join RECIPE_STEP rs on rs.RECIPE_ID = r.RECIPE_ID
            left join "USER" u on u.USER_ID = r.USER_ID
            left join CRAFT c on c.CRAFT_ID = r.CRAFT_ID
            left join TASTE t on t.TASTE_ID = r.TASTE_ID
            left join Materials m on m.RECIPE_ID = r.RECIPE_ID
        where r.RECIPE_ID = #{recipeId}
        order by rs.STEP_NUMBER ASC
    </select>

    <!--搜索查询菜谱-->
    <select id="queryRecipeOfSearch" resultType="Map">
        select *  from (
            select t1.RECIPE_ID, RECIPE_NAME, RECIPE_IMG, POPULARITY, COOK_TIME, TIMESTAMP,
                stepNumber, userName, craftName, tasteName, effectName, ROWNUM as rn
                from (
                select r.RECIPE_ID, r.RECIPE_NAME, #{fastDFSPath} || r.RECIPE_IMG as RECIPE_IMG, r.POPULARITY,
                    r.COOK_TIME, r.TIMESTAMP,
                    (select max(rs.STEP_NUMBER) from RECIPE_STEP rs where rs.RECIPE_ID = r.RECIPE_ID) as stepNumber,
                    (select u.USER_NAME from "USER" u where u.USER_ID = r.USER_ID) as userName,
                    (select c.CRAFT_NAME from CRAFT c where c.CRAFT_ID = r.CRAFT_ID) as craftName,
                    (select t.TASTE_NAME from TASTE t where t.TASTE_ID = r.TASTE_ID) as tasteName,
                    -- 一个食谱有的对应很多功效，有的无对应功效，所以这里只取一个功效展示
                    (select e.EFFECT_NAME
                        from RECIPE_EFFECT re
                        left join EFFECT e on re.EFFECT_ID = e.EFFECT_ID
                        left join RECIPE r1 on r1.RECIPE_ID = re.RECIPE_ID
                    where r1.RECIPE_ID = r.RECIPE_ID and ROWNUM = 1) as effectName
            from RECIPE r
            <where>
                <if test="term.diffcultTerm != null and term.diffcultTerm != ''">
                    <choose>
                        <when test="term.diffcultTerm == '厨神级'">
                            and r.DIFFICULTY > 15
                        </when>
                        <when test="term.diffcultTerm == '高级厨师'">
                            and r.DIFFICULTY > 12
                        </when>
                        <when test="term.diffcultTerm == '中级掌勺'">
                            and r.DIFFICULTY > 9
                        </when>
                        <when test="term.diffcultTerm == '初级水平'">
                            and r.DIFFICULTY > 6
                        </when>
                        <when test="term.diffcultTerm == '初级入门'">
                            and r.DIFFICULTY > 3
                        </when>
                        <otherwise>
                            and (r.DIFFICULTY &lt;=3 or r.DIFFICULTY IS NULL)
                        </otherwise>
                    </choose>
                </if>
                <if test="term.cookTimeTerm != null and term.cookTimeTerm != ''">
                    <choose>
                        <when test="term.cookTimeTerm == '数天'">
                            and r.COOK_TIME >= 2880
                        </when>
                        <when test="term.cookTimeTerm == '两天'">
                            and r.COOK_TIME >= 1440 and r.COOK_TIME &lt; 2880
                        </when>
                        <when test="term.cookTimeTerm == '数小时'">
                            and r.COOK_TIME >= 120 and r.COOK_TIME &lt; 1440
                        </when>
                        <when test="term.cookTimeTerm == '两小时'">
                            and r.COOK_TIME >= 60 and r.COOK_TIME &lt; 120
                        </when>
                        <when test="term.cookTimeTerm == '一小时'">
                            and r.COOK_TIME >= 0 and r.COOK_TIME &lt; 60
                        </when>
                        <otherwise>
                            and (r.COOK_TIME IS NULL or r.COOK_TIME &lt; 0)
                        </otherwise>
                    </choose>
                </if>
                <if test="term.craftTerm != null and term.craftTerm != ''">
                    and r.CRAFT_ID = (select rc.CRAFT_ID from CRAFT rc where rc.CRAFT_NAME = #{term.craftTerm})
                </if>
                <if test="term.tasteTerm != null and term.tasteTerm != ''">
                    and r.TASTE_ID = (select rt.TASTE_ID from TASTE rt where rt.TASTE_NAME = #{term.tasteTerm})
                </if>
                <if test="term.materialTerm != null and term.materialTerm != ''">
                    and EXISTS (select rm.RECIPE_ID from MATERIALS rm where rm.MAIN_MATERIALS = #{term.materialTerm} and rm.MATERIALS_FLAG = 1 and rm.RECIPE_ID = r.RECIPE_ID)
                </if>
            </where>
            <if test="recipeType == 1">
                order by r.TIMESTAMP DESC
            </if>
            <if test="recipeType == 2">
                order by r.POPULARITY DESC
            </if>
            ) t1
            where ROWNUM &lt;= #{page.current} * #{page.limit} ) t
        where rn &gt; (#{page.current} - 1) * #{page.limit}
    </select>

    <!--条件查询食谱数量-->
    <select id="queryRecipeOfSearchCount" resultType="Integer">
        select count(*)
        from RECIPE r
        <where>
            <if test="diffcultTerm != null and diffcultTerm != ''">
                <choose>
                    <when test="diffcultTerm == '厨神级'">
                        and r.DIFFICULTY > 15
                    </when>
                    <when test="diffcultTerm == '高级厨师'">
                        and r.DIFFICULTY > 12
                    </when>
                    <when test="diffcultTerm == '中级掌勺'">
                        and r.DIFFICULTY > 9
                    </when>
                    <when test="diffcultTerm == '初级水平'">
                        and r.DIFFICULTY > 6
                    </when>
                    <when test="diffcultTerm == '初级入门'">
                        and r.DIFFICULTY > 3
                    </when>
                    <otherwise>
                        and (r.DIFFICULTY &lt;=3 or r.DIFFICULTY IS NULL)
                    </otherwise>
                </choose>
            </if>
            <if test="cookTimeTerm != null and cookTimeTerm != ''">
                <choose>
                    <when test="cookTimeTerm == '数天'">
                        and r.COOK_TIME >= 2880
                    </when>
                    <when test="cookTimeTerm == '两天'">
                        and r.COOK_TIME >= 1440 and r.COOK_TIME &lt; 2880
                    </when>
                    <when test="cookTimeTerm == '数小时'">
                        and r.COOK_TIME >= 120 and r.COOK_TIME &lt; 1440
                    </when>
                    <when test="cookTimeTerm == '两小时'">
                        and r.COOK_TIME >= 60 and r.COOK_TIME &lt; 120
                    </when>
                    <when test="cookTimeTerm == '一小时'">
                        and r.COOK_TIME >= 0 and r.COOK_TIME &lt; 60
                    </when>
                    <otherwise>
                        and (r.COOK_TIME IS NULL or r.COOK_TIME &lt; 0)
                    </otherwise>
                </choose>
            </if>
            <if test="craftTerm != null and craftTerm != ''">
                and r.CRAFT_ID = (select rc.CRAFT_ID from CRAFT rc where rc.CRAFT_NAME = #{craftTerm})
            </if>
            <if test="tasteTerm != null and tasteTerm != ''">
                and r.TASTE_ID = (select rt.TASTE_ID from TASTE rt where rt.TASTE_NAME = #{tasteTerm})
            </if>
            <if test="materialTerm != null and materialTerm != ''">
                and EXISTS (select rm.RECIPE_ID from MATERIALS rm where rm.MAIN_MATERIALS = #{materialTerm} and rm.MATERIALS_FLAG = 1 and rm.RECIPE_ID = r.RECIPE_ID)
            </if>
        </where>
    </select>

    <!--最新菜谱-->
    <select id="queryHotRecipeOfDay" resultType="Map">
        select *  from (
            select r.RECIPE_ID, r.RECIPE_NAME, #{fastDFSPath} || r.RECIPE_IMG as RECIPE_IMG, r.POPULARITY, r.COOK_TIME, r.TIMESTAMP,
                (select max(rs.STEP_NUMBER) from RECIPE_STEP rs where rs.RECIPE_ID = r.RECIPE_ID) as stepNumber,
                (select u.USER_NAME from "USER" u where u.USER_ID = r.USER_ID) as userName,
                (select c.CRAFT_NAME from CRAFT c where c.CRAFT_ID = r.CRAFT_ID) as craftName,
                (select t.TASTE_NAME from TASTE t where t.TASTE_ID = r.TASTE_ID) as tasteName,
                -- 一个食谱有的对应很多功效，有的无对应功效，所以这里只取一个功效展示
                (select e.EFFECT_NAME
                 from RECIPE_EFFECT re
                  left join EFFECT e on re.EFFECT_ID = e.EFFECT_ID
                  left join RECIPE r1 on r1.RECIPE_ID = re.RECIPE_ID
                 where r1.RECIPE_ID = r.RECIPE_ID
                   and ROWNUM = 1) as effectName
            from RECIPE r
        ) t where ROWNUM &lt; 8
        order by t.TIMESTAMP DESC
    </select>

    <!--每周最热菜谱-->
    <select id="queryHotRecipeOfHour" resultType="Map">
        select *  from (
            select r.RECIPE_ID, r.RECIPE_NAME, #{fastDFSPath} || r.RECIPE_IMG as RECIPE_IMG, r.POPULARITY, r.COOK_TIME, r.TIMESTAMP,
                (select max(rs.STEP_NUMBER) from RECIPE_STEP rs where rs.RECIPE_ID = r.RECIPE_ID) as stepNumber,
                (select u.USER_NAME from "USER" u where u.USER_ID = r.USER_ID) as userName,
                (select c.CRAFT_NAME from CRAFT c where c.CRAFT_ID = r.CRAFT_ID) as craftName,
                (select t.TASTE_NAME from TASTE t where t.TASTE_ID = r.TASTE_ID) as tasteName,
                -- 一个食谱有的对应很多功效，有的无对应功效，所以这里只取一个功效展示
                (select e.EFFECT_NAME
                 from RECIPE_EFFECT re
                  left join EFFECT e on re.EFFECT_ID = e.EFFECT_ID
                  left join RECIPE r1 on r1.RECIPE_ID = re.RECIPE_ID
                 where r1.RECIPE_ID = r.RECIPE_ID
                   and ROWNUM = 1) as effectName
            from RECIPE r
        ) t where ROWNUM &lt; 8
        order by t.TIMESTAMP DESC
    </select>

    <!--每小时最热菜谱-->
    <select id="queryHotRecipeOfWeek" resultType="Map">
        select *  from (
            select r.RECIPE_ID, r.RECIPE_NAME, #{fastDFSPath} || r.RECIPE_IMG as RECIPE_IMG, r.POPULARITY, r.COOK_TIME, r.TIMESTAMP,
                (select max(rs.STEP_NUMBER) from RECIPE_STEP rs where rs.RECIPE_ID = r.RECIPE_ID) as stepNumber,
                (select u.USER_NAME from "USER" u where u.USER_ID = r.USER_ID) as userName,
                (select c.CRAFT_NAME from CRAFT c where c.CRAFT_ID = r.CRAFT_ID) as craftName,
                (select t.TASTE_NAME from TASTE t where t.TASTE_ID = r.TASTE_ID) as tasteName,
                -- 一个食谱有的对应很多功效，有的无对应功效，所以这里只取一个功效展示
                (select e.EFFECT_NAME
                 from RECIPE_EFFECT re
                  left join EFFECT e on re.EFFECT_ID = e.EFFECT_ID
                  left join RECIPE r1 on r1.RECIPE_ID = re.RECIPE_ID
                 where r1.RECIPE_ID = r.RECIPE_ID
                   and ROWNUM = 1) as effectName
            from RECIPE r
        ) t where ROWNUM &lt; 8
        order by t.TIMESTAMP DESC
    </select>

    <!--每日最热菜谱-->
    <select id="queryHotRecipeOfNow" resultType="Map">
        select *  from (
            select r.RECIPE_ID, r.RECIPE_NAME, #{fastDFSPath} || r.RECIPE_IMG as RECIPE_IMG, r.POPULARITY, r.COOK_TIME, r.TIMESTAMP,
                (select max(rs.STEP_NUMBER) from RECIPE_STEP rs where rs.RECIPE_ID = r.RECIPE_ID) as stepNumber,
                (select u.USER_NAME from "USER" u where u.USER_ID = r.USER_ID) as userName,
                (select c.CRAFT_NAME from CRAFT c where c.CRAFT_ID = r.CRAFT_ID) as craftName,
                (select t.TASTE_NAME from TASTE t where t.TASTE_ID = r.TASTE_ID) as tasteName,
                -- 一个食谱有的对应很多功效，有的无对应功效，所以这里只取一个功效展示
                (select e.EFFECT_NAME
                 from RECIPE_EFFECT re
                  left join EFFECT e on re.EFFECT_ID = e.EFFECT_ID
                  left join RECIPE r1 on r1.RECIPE_ID = re.RECIPE_ID
                 where r1.RECIPE_ID = r.RECIPE_ID
                   and ROWNUM = 1) as effectName
            from RECIPE r
        ) t where ROWNUM &lt; 8
        order by t.TIMESTAMP DESC
    </select>

    <!--菜谱总数 -->
    <select id="recipeCount" resultType="int">
        select count(*) from RECIPE
    </select>

    <!--美食菜单-->
    <select id="queryRecipeOrders" resultMap="recipeOrders">
        select r.RECIPE_ID, RECIPE_NAME, #{fastDFSPath} || r.RECIPE_IMG as RECIPE_IMG,
               r.USER_ID, timestamp,u.USER_NAME, u.USER_ICON,
            -- 食谱菜单总数
            (select count(*) from RECIPE re where re.USER_ID = u.USER_ID) as ordersCount
        from "USER" u
        left join (
        select RECIPE_ID, RECIPE_NAME, USER_ID, RECIPE_IMG,
        ROW_NUMBER() over (PARTITION BY USER_ID order by TIMESTAMP DESC) as num,
        TIMESTAMP
        from RECIPE) r
        on u.USER_ID = r.USER_ID
        where num &lt;= 5
    </select>

    <!--美食菜单总数-->
    <select id="recipeOrdersCount" resultMap="recipeOrders">
        select r.RECIPE_ID, RECIPE_NAME, r.RECIPE_IMG, r.USER_ID, timestamp,
                     u.USER_NAME, u.USER_ICON
            from "USER" u
            left join (
                select RECIPE_ID, RECIPE_NAME, USER_ID, RECIPE_IMG,
                ROW_NUMBER() over (PARTITION BY USER_ID order by TIMESTAMP DESC ) as num,
                TIMESTAMP
                from RECIPE) r
            on u.USER_ID = r.USER_ID
            where num &lt;= 1
    </select>
</mapper>
