<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paichi.modules.recipe.mapper.RecipeMapper">

    <!--食谱详情数据，包含食谱步骤表的一对多关系和食谱功效表的多对多关系-->
    <resultMap id="recipeZuoFa" type="com.paichi.modules.recipe.entity.Recipe">
        <id property="recipeId" column="RECIPE_ID"></id>
        <result property="recipeName" column="RECIPE_NAME"></result>
        <result property="recipeImg" column="RECIPE_IMG"></result>
        <result property="recipeVideo" column="RECIPE_VIDEO"></result>
        <result property="peopleNumber" column="PEOPLE_NUMBER"></result>
        <result property="cookTime" column="COOK_TIME"></result>
        <result property="preparationTime" column="PREPARATION_TIME"></result>
        <result property="popularity" column="POPULARITY"></result>
        <result property="difficulty" column="DIFFICULTY"></result>
        <result property="introduction" column="INTRODUCTION"></result>
        <result property="cookingSkill" column="COOKINGSKILL"></result>
        <result property="timestamp" column="TIMESTAMP"></result>
        <!--一对一关联关系-->
        <association property="craft" javaType="com.paichi.modules.craft.entity.Craft">
            <id property="craftId" column="CRAFT_ID"></id>
            <result property="craftName" column="CRAFT_NAME"></result>
        </association>
        <association property="taste" javaType="com.paichi.modules.recipe.entity.Taste">
            <id property="tasteId" column="TASTE_ID"></id>
            <result property="tasteName" column="TASTE_NAME"></result>
        </association>
        <association property="user" javaType="com.paichi.modules.user.entity.User">
            <id property="userId" column="USER_ID"></id>
            <result property="userName" column="USER_NAME"></result>
            <result property="userIcon" column="USER_ICON"></result>
            <result property="userEmail" column="USER_EMAIL"></result>
            <result property="userSex" column="USER_SEX"></result>
            <result property="userIntroduction" column="USER_INTRODUCTION"></result>
            <result property="birth" column="BIRTH"></result>
            <result property="createTime" column="CREATE_TIME"></result>
        </association>
        <!--多对多关联关系-->
        <collection property="effects" ofType="com.paichi.modules.effect.entity.Effect">
            <id property="effectId" column="EFFECT_ID"></id>
            <result property="effectName" column="EFFECT_NAME"></result>
        </collection>
        <collection property="recipeSteps" ofType="com.paichi.modules.recipe.entity.RecipeStep">
            <id property="recipeStepId" column="RECIPE_STEP_ID"></id>
            <result property="stepContent" column="STEP_CONTENT"></result>
            <result property="stepImg" column="STEP_IMG"></result>
            <result property="stepNumber" column="STEP_NUMBER"></result>
        </collection>
    </resultMap>

    <!--保存食谱-->
    <insert id="saveRecipe" parameterType="Recipe">
        insert into RECIPE
            <trim prefix="(" suffix=")" suffixOverrides=",">
                    RECIPE_ID,
                <if test="recipeName != null and recipeName != ''">
                    RECIPE_NAME,
                </if>
                <if test="recipeImg != null and recipeImg != ''">
                    RECIPE_IMG,
                </if>
                <if test="recipeVideo != null and recipeVideo != ''">
                    RECIPE_VIDEO,
                </if>
                    CRAFT_ID,
                    TASTE_ID,
                <if test="userId != null">
                    USER_ID,
                </if>
                <if test="peopleNumber != null">
                    PEOPLE_NUMBER,
                </if>
                <if test="cookTime != null">
                    COOK_TIME,
                </if>
                <if test="preparationTime != null">
                    PREPARATION_TIME,
                </if>
                <if test="popularity != null">
                    POPULARITY,
                </if>
                <if test="difficulty != null">
                    DIFFICULTY,
                </if>
                <if test="introduction != null and introduction != ''">
                    INTRODUCTION,
                </if>
                <if test="cookingSkill != null and cookingSkill != ''">
                    COOKINGSKILL,
                </if>
                <if test="timestamp != null">
                    TIMESTAMP,
                </if>
            </trim>
            <trim prefix="values (" suffix=")" suffixOverrides=",">
                    #{recipeId},
                <if test="recipeName != null and recipeName != ''">
                    #{recipeName},
                </if>
                <if test="recipeImg != null and recipeImg != ''">
                    #{recipeImg},
                </if>
                <if test="recipeVideo != null and recipeVideo != ''">
                    #{recipeVideo},
                </if>
                    #{craftId, jdbcType=NUMERIC},
                    #{tasteId, jdbcType=NUMERIC},
                <if test="userId != null">
                    #{userId},
                </if>
                <if test="peopleNumber != null">
                    #{peopleNumber, jdbcType=NUMERIC},
                </if>
                <if test="cookTime != null">
                    #{cookTime, jdbcType=NUMERIC},
                </if>
                <if test="preparationTime != null">
                    #{preparationTime, jdbcType=NUMERIC},
                </if>
                <if test="popularity != null">
                    #{popularity, jdbcType=NUMERIC},
                </if>
                <if test="difficulty != null">
                    #{difficulty, jdbcType=NUMERIC},
                </if>
                <if test="introduction != null and introduction != ''">
                    #{introduction, jdbcType=CLOB},
                </if>
                <if test="cookingSkill != null and cookingSkill != ''">
                    #{cookingSkill},
                </if>
                <if test="timestamp != null">
                    #{timestamp},
                </if>
            </trim>
    </insert>

    <!--根据食谱表id获取食谱做法，包含步骤表等表信息-->
    <select id="getRecipeDetailByRecipeId" parameterType="String" resultMap="recipeZuoFa">
        select r.recipe_id as recipeId, r.recipe_name, r.recipe_img, r.recipe_video, r.CRAFT_ID, r.TASTE_ID,
           r.USER_ID, r.people_number, r.cook_time, r.preparation_time, r.popularity, r.timestamp, r.difficulty,
           r.cookingskill, r.introduction, e.EFFECT_ID, e.EFFECT_NAME, rs.RECIPE_ID, rs.STEP_CONTENT,
           rs.STEP_IMG, rs.STEP_NUMBER, u.USER_ID, USER_NAME, PASSWORD, USER_ICON, USER_EMAIL,
           USER_SEX, USER_INTRODUCTION, BIRTH, CREATE_TIME, c.CRAFT_ID, c.CRAFT_NAME, t.TASTE_ID, TASTE_NAME
        from RECIPE r, RECIPE_EFFECT re, EFFECT e, RECIPE_STEP rs, "USER" u, CRAFT c, TASTE t
        where r.RECIPE_ID = re.RECIPE_ID
          and re.EFFECT_ID = e.EFFECT_ID
          and rs.RECIPE_ID = r.RECIPE_ID
          and r.USER_ID = u.USER_ID
          and r.CRAFT_ID = c.CRAFT_ID
          and t.TASTE_ID = r.TASTE_ID
          and r.RECIPE_ID = #{recipeId}
        order by rs.STEP_NUMBER ASC
    </select>

    <!--最新菜谱-->
    <select id="queryHotRecipeOfDay" resultType="map">
        select *  from (
            select r.RECIPE_ID, r.RECIPE_NAME, #{fastDFSPath} || r.RECIPE_IMG as RECIPE_IMG, r.POPULARITY, r.COOK_TIME, r.TIMESTAMP,
            (select max(rs.STEP_NUMBER) from RECIPE_STEP rs where rs.RECIPE_ID = r.RECIPE_ID) as stepNumber,
            (select u.USER_NAME from "USER" u where u.USER_ID = r.USER_ID) as userName,
            (select c.CRAFT_NAME from CRAFT c where c.CRAFT_ID = r.CRAFT_ID) as craftName,
            (select t.TASTE_NAME from TASTE t where t.TASTE_ID = r.TASTE_ID) as tasteName,
            -- 一个食谱有的对应很多功效，有的无对应功效，所以这里只取一个功效展示
            (select e.EFFECT_NAME
             from RECIPE_EFFECT re
              left join EFFECT e on re.EFFECT_ID = e.EFFECT_ID
              left join RECIPE r1 on r1.RECIPE_ID = re.RECIPE_ID
             where r1.RECIPE_ID = r.RECIPE_ID
               and ROWNUM = 1) as effectName
        from RECIPE r
        ) t where ROWNUM &lt; 8
        order by t.TIMESTAMP DESC
    </select>

    <!--每周最热菜谱-->
    <select id="queryHotRecipeOfHour" resultType="map">
        select *  from (
            select r.RECIPE_ID, r.RECIPE_NAME, #{fastDFSPath} || r.RECIPE_IMG as RECIPE_IMG, r.POPULARITY, r.COOK_TIME, r.TIMESTAMP,
            (select max(rs.STEP_NUMBER) from RECIPE_STEP rs where rs.RECIPE_ID = r.RECIPE_ID) as stepNumber,
            (select u.USER_NAME from "USER" u where u.USER_ID = r.USER_ID) as userName,
            (select c.CRAFT_NAME from CRAFT c where c.CRAFT_ID = r.CRAFT_ID) as craftName,
            (select t.TASTE_NAME from TASTE t where t.TASTE_ID = r.TASTE_ID) as tasteName,
            -- 一个食谱有的对应很多功效，有的无对应功效，所以这里只取一个功效展示
            (select e.EFFECT_NAME
             from RECIPE_EFFECT re
              left join EFFECT e on re.EFFECT_ID = e.EFFECT_ID
              left join RECIPE r1 on r1.RECIPE_ID = re.RECIPE_ID
             where r1.RECIPE_ID = r.RECIPE_ID
               and ROWNUM = 1) as effectName
        from RECIPE r
        ) t where ROWNUM &lt; 8
        order by t.TIMESTAMP DESC
    </select>

    <!--每小时最热菜谱-->
    <select id="queryHotRecipeOfWeek" resultType="map">
        select *  from (
            select r.RECIPE_ID, r.RECIPE_NAME, #{fastDFSPath} || r.RECIPE_IMG as RECIPE_IMG, r.POPULARITY, r.COOK_TIME, r.TIMESTAMP,
            (select max(rs.STEP_NUMBER) from RECIPE_STEP rs where rs.RECIPE_ID = r.RECIPE_ID) as stepNumber,
            (select u.USER_NAME from "USER" u where u.USER_ID = r.USER_ID) as userName,
            (select c.CRAFT_NAME from CRAFT c where c.CRAFT_ID = r.CRAFT_ID) as craftName,
            (select t.TASTE_NAME from TASTE t where t.TASTE_ID = r.TASTE_ID) as tasteName,
            -- 一个食谱有的对应很多功效，有的无对应功效，所以这里只取一个功效展示
            (select e.EFFECT_NAME
             from RECIPE_EFFECT re
              left join EFFECT e on re.EFFECT_ID = e.EFFECT_ID
              left join RECIPE r1 on r1.RECIPE_ID = re.RECIPE_ID
             where r1.RECIPE_ID = r.RECIPE_ID
               and ROWNUM = 1) as effectName
        from RECIPE r
        ) t where ROWNUM &lt; 8
        order by t.TIMESTAMP DESC
    </select>

    <!--每日最热菜谱-->
    <select id="queryHotRecipeOfNow" resultType="map">
        select *  from (
            select r.RECIPE_ID, r.RECIPE_NAME, #{fastDFSPath} || r.RECIPE_IMG as RECIPE_IMG, r.POPULARITY, r.COOK_TIME, r.TIMESTAMP,
            (select max(rs.STEP_NUMBER) from RECIPE_STEP rs where rs.RECIPE_ID = r.RECIPE_ID) as stepNumber,
            (select u.USER_NAME from "USER" u where u.USER_ID = r.USER_ID) as userName,
            (select c.CRAFT_NAME from CRAFT c where c.CRAFT_ID = r.CRAFT_ID) as craftName,
            (select t.TASTE_NAME from TASTE t where t.TASTE_ID = r.TASTE_ID) as tasteName,
            -- 一个食谱有的对应很多功效，有的无对应功效，所以这里只取一个功效展示
            (select e.EFFECT_NAME
             from RECIPE_EFFECT re
              left join EFFECT e on re.EFFECT_ID = e.EFFECT_ID
              left join RECIPE r1 on r1.RECIPE_ID = re.RECIPE_ID
             where r1.RECIPE_ID = r.RECIPE_ID
               and ROWNUM = 1) as effectName
        from RECIPE r
        ) t where ROWNUM &lt; 8
        order by t.TIMESTAMP DESC
    </select>
</mapper>
