<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8; charset=UTF-8">
    <title>家常菜 – PaiChi菜谱搜索</title>
    <meta name="keywords" content="家常菜的做法,家常菜,家常菜的家常做法,家常菜怎么做,家常家常菜的做法,家常菜怎么做好吃,家常菜的做法大全,家常菜的视频,如何做家常菜,家常菜的菜谱,家常菜的制作方法">
    <meta name="description"
          content="家常菜的做法 - 家常家常菜的做法非常简单易学。如果家常菜怎么做好吃,家常菜的家常做法如何做一直困扰着你,美食杰提供的图文家常菜的家常做法大全和家常菜的视频,用最短的时间让你学会家常菜的做法">
    <meta content="www.meishij.net" name="author">
    <meta name="renderer" content="webkit">

    <meta name="“viewport”" content="“width=device-width;" initial-scale="1.0”">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/js/search/css/ss_base.css}">
    <script type="text/javascript" th:src="@{/js/j.m.js}">
    </script>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/js/search/css/search20151229.css}">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/js/search/css/tipswindownnew.css}">
    <script type="text/javascript" th:src="@{/js/search/js/tipswindownnew.js}"></script>
</head>
<div class="search_header">

    <div class="search_header_con">
        <a href="https://www.meishij.net/" class="logo"><img th:src="@{/js/search/images/search2015_logo.png}"></a>
        <ul class="headernav">
            <li><a href="">首页</a></li>
            <li><a href="https://www.meishij.net/chufang/diy/">菜谱大全</a></li>
            <li><a href="https://www.meishij.net/jiankang/">饮食健康</a></li>
            <li><a href="https://i.meishi.cc/">空间</a></li>
            <li><a href="http://sj.meishi.cc/">手机版下载</a></li>
        </ul>
        <div class="search_toplogin">
            <a href="https://i.meishi.cc/connect/index.php?site=qzone&redirect=https%3A%2F%2Fwww.meishij.net%2F"
               class="a1">
                <img th:src="@{/js/search/images/qq_16px.png}">QQ登录
            </a>
            <a href="https://i.meishi.cc/connect/index.php?site=sina&redirect=https%3A%2F%2Fwww.meishij.net%2F"
               class="a1">
                <img th:src="@{/js/search/images/sina_weibo_16px.png}">微博登录
            </a>
            <a href="http://i.meishi.cc/login.php?redirect=" https%3A%2F%2Fwww.meishij.net%2F class="a1">登录</a>
            <a href="http://i.meishi.cc/r.php?redirect=" https%3A%2F%2Fwww.meishij.net%2F class="a1">注册</a>
        </div>
    </div>

</div>

<body>
<script>

    checkWindowWidth();

    function checkWindowWidth() {
        var wW = $(window).width();
        if (wW > 1420) {
            $("body").removeClass().addClass("widebody");
        } else if (wW > 1250) {
            $("body").removeClass().addClass("midbody");
        } else {
            $("body").removeClass().addClass("narrowbody");
        }
    }
</script>

<div class="searchbox_box">
    <div class="searchbox_w">
        <div class="searchbox_ww">
            <div class="searchbox" id="searchbox">
                <div class="newsearch_logo2" id="newsearch_logo2">
                    <a href="http://www.meishij.net" target="_blank">
                        <img th:src="@{/js/search/images/search2015_logo_1.png}">
                    </a>
                </div>
                <form action="http://so.meishi.cc/index.php">
                    <div class="suggestionsBox" id="suggestions" style="display:none;">
                        <ul class="suggestionList" id="autoSuggestionsList">
                            <li class>
                                <a href="http://www.meishij.net/s/12geyue/" target="_blank">
                                    <span>专题页</span>12个月婴儿食谱
                                </a>
                            </li>
                            <li class>
                                <a href="http://so.meishi.cc/?q=%E7%BB%B4%E7%94%9F%E7%B4%A0B12" target="_blank">
                                    <span>原料</span>维生素B12
                                </a>
                            </li>
                            <li>
                                <a href="http://so.meishi.cc/?q=%E8%B5%8F%E5%BF%83%E6%82%A6%E7%9B%AE12%E6%98%9F%E5%BA%A7%E9%B8%A1%E5%B0%BE%E9%85%92">
                                    <span>被看过 8478 次</span>赏心悦目12星座鸡尾
                                </a>
                            </li>
                            <li>
                                <a href="http://so.meishi.cc/?q=%E6%84%9F%E6%81%A9%E8%8A%82%EF%BC%9A12%E6%98%9F%E5%BA%A7%E7%9A%84%E4%BD%A0%E8%AF%A5%E6%84%9F%E8%B0%A2%E8%B0%81">
                                    <span>被看过 5246 次</span>感恩节：12星座的你
                                </a>
                            </li>
                            <li>
                                <a href="http://so.meishi.cc/?q=4%EF%BD%9E12%E4%B8%AA%E6%9C%88%E5%AE%9D%E5%AE%9D%E7%9A%84%E5%89%AF%E9%A3%9F%E5%93%81%E9%A3%9F%E8%B0%B1">
                                    <span>被看过 3436 次</span>4～12个月宝宝的副
                                </a>
                            </li>
                            <li>
                                <a href="http://so.meishi.cc/?q=%E9%B1%BC%E8%82%89%E6%9C%AB%2810-12%E4%B8%AA%E6%9C%88%29">
                                    <span>被看过 3221 次</span>鱼肉末(10-12个月)
                                </a>
                            </li>
                            <li>
                                <a href="http://so.meishi.cc/?q=%E5%90%8E%E6%9C%9F%E7%AE%80%E6%98%93%E8%BE%85%E9%A3%9F%E9%A3%9F%E8%B0%B1%EF%BC%8810-12%E4%B8%AA%E6%9C%88%EF%BC%89"><span>被看过 1082 次</span>后期简易辅食食谱（</a>
                            </li>
                            <li><a href="http://so.meishi.cc/?q=%E9%86%8B%E7%9A%8412%E7%A7%8D%E7%94%A8%E6%B3%95">
                                <span>被看过 721 次</span>醋的12种用法
                            </a>
                            </li>
                            <li>
                                <a href="http://so.meishi.cc/?q=%E5%8F%AA%E8%A6%81%E5%81%A5%E5%BA%B7%E4%B8%8D%E8%A6%81%E8%83%9612%E5%A6%99%E6%8B%9B">
                                    <span>被看过 650 次</span>只要健康不要胖12妙
                                </a>
                            </li>
                            <li>
                                <a href="http://so.meishi.cc/?q=%E6%B3%A1%E5%88%B612%E9%81%93%E5%87%8F%E8%82%A5%E8%8C%B6">
                                    <span>被看过 565 次</span>泡制12道减肥茶
                                </a>
                            </li>
                        </ul>
                    </div>
                    <input type="text" class="text" name="q" value="家常菜" placeholder="请输入菜谱/食材/菜单/作者"
                           defaultval="请输入菜谱/食材/菜单/作者名" autocomplete="off" id="inputString" href="/ajax/ajaxtitle.php">
                    <button type="submit" class="submit">搜索</button>
                    <a href="https://www.meishij.net/chishenme/" class="smartxcbtn">智能选菜</a>
                    <!--                    -->
                    <!--<a href="javascript:void(0);" class="openfilter " id="openfilter">展开高级筛选 ∨</a>--></form>
            </div>
        </div>

    </div>
</div>

<div class="search2015_path">当前位置：
    <a href>首页</a> >
    <span>搜索：
        家常菜 | 为您找到
        <em>
            28,553        </em>
        个结果
    </span>
</div>
<div class="search_content clearfix">
    <div class="scon_left">


        <div class="search_filterbox_w">
            <div class="search_filterbox">


                <div class="fliterset">
                    <span class="t">工艺：</span>
                    <div class="fliters">
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C" class="current">不限</a>
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&gy=192">
                            炒 </a>
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&gy=156">
                            蒸 </a>
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&gy=194">
                            煮 </a>
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&gy=124">
                            炖 </a>
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&gy=141">
                            拌 </a>
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&gy=149">
                            烧 </a>
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&gy=129">
                            煎 </a>
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&gy=153">
                            炸 </a>
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&gy=220">
                            烘焙 </a>
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&gy=251">
                            微波 </a>
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&gy=130">
                            烤 </a>
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&gy=147">
                            煲 </a>
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&gy=144">
                            焖 </a>
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&gy=136">
                            冻 </a>
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&gy=252">
                            烙 </a>
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&gy=148">
                            砂锅 </a>
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&gy=134">
                            腌 </a>
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&gy=138">
                            卤 </a>
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&gy=132">
                            酱 </a>
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&gy=127">
                            烩 </a>
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&gy=112">
                            扒 </a>
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&gy=114">
                            爆 </a>
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&gy=140">
                            炝 </a>
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&gy=142">
                            熘 </a>
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&gy=139">
                            熏 </a>
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&gy=123">
                            汆 </a>
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&gy=113">
                            拔丝 </a>
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&gy=253">
                            榨汁 </a>
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&gy=193">
                            灼 </a>
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&gy=256">
                            泡 </a>
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&gy=133">
                            腊 </a>
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&gy=119">
                            糖蘸 </a>
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&gy=255">
                            干锅 </a>
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&gy=262">
                            焗 </a>
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&gy=260">
                            干煸 </a>
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&gy=261">
                            煨 </a>
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&gy=259">
                            其他 </a>
                    </div>
                    <span class="filter_openbtn">展开 ∨</span>

                </div>

                <div class="fliterset">
                    <span class="t">口味：</span>
                    <div class="fliters">
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C" class="current">不限</a>
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&kw=168">家常味</a>
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&kw=187">香辣味</a>
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&kw=160">咸鲜味</a>
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&kw=185">甜味</a>
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&kw=182">酸甜味</a>
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&kw=180">酸辣味</a>
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&kw=177">麻辣味</a>
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&kw=170">酱香味</a>
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&kw=257">奶香味</a>
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&kw=183">蒜香味</a>
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&kw=188">鱼香味</a>
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&kw=162">葱香味</a>
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&kw=166">果味</a>
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&kw=186">五香味</a>
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&kw=173">咖喱味</a>
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&kw=171">椒麻味</a>
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&kw=179">茄汁味</a>
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&kw=266">酸味</a>
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&kw=174">苦香味</a>
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&kw=169">姜汁味</a>
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&kw=165">怪味</a>
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&kw=172">芥末味</a>
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&kw=167">红油味</a>
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&kw=164">豆瓣味</a>
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&kw=176">麻酱味</a>
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&kw=264">黑椒味</a>
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&kw=265">糊辣味</a>
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&kw=189">其他</a>
                    </div>
                    <span class="filter_openbtn">展开 ∨</span>
                </div>

                <div class="fliterset">
                    <span class="t">时间：</span>
                    <div class="fliters">
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C" class="current">不限</a>
                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&mt=1"><5分钟< a>
                            <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&mt=2"><10分钟< a>
                                <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&mt=3"><15分钟< a>
                                    <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&mt=4"><30分钟< a>
                                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&mt=5"><60分钟< a>
                                            <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&mt=6"><90分钟<
                                                a>
                                                <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&mt=7"><2小时<
                                                    a>
                                                    <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&mt=8">
                                                        <数小时
                                                        < a>
                                                        <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&mt=9">
                                                            <一天
                                                            < a>
                                                            <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&mt=10">
                                                                <数天
                                                                < a>
                                                                </数天<></a></一天<></a></数小时<></a></2小时<></a></90分钟<></a></60分钟<></a></30分钟<></a>
                    </
                    15分钟<></a></
                10分钟<></a></
            5分钟<></a></div>
        <span class="filter_openbtn filter_openbtn3">展开 ∨</span>
    </div>

    <div class="fliterset fliterset_last">
        <span class="t">难度：</span>
        <div class="fliters">
            <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C" class="current">不限</a>
            <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&md=1">新手尝试</a>
            <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&md=2">初级入门</a>
            <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&md=3">初中水平</a>
            <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&md=4">中级掌勺</a>
            <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&md=5">高级厨师</a>
            <a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&md=6">厨神级</a>
        </div>
    </div>
</div>
<a href="javascript:void(0);" class="openfilter opened" id="openfilter">收起高级筛选 ∧</a>
</div>
<div class="search_cplist">


    <div class="fliter_px">
        <ul class="fliter_px_ul">
            <li><a href="####" class="current">默认排序</a></li>
            <li><a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&sort=lastdotime">按发布时间</a></li>
            <li><a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&sort=onclick">按热度</a></li>
            <li><a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&sort=plnum">按人气</a></li>
            <li><a href="https://so.meishi.cc/?&q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&sort=writer_gf">官方发布</a></li>
        </ul>
    </div>


    <div class="search2015_cpitem_w clearfix">

        <div class="search2015_cpitem">
            <a href="http://www.meishij.net/zuofa/jiachangcai_28.html" target="_blank" class="img" title="家常菜">
                <img alt="家常菜" th:src="@{/js/search/images/a13919407_156670861556468.jpeg}">
            </a>

            <a href="http://so.meishi.cc/index.php?q=家常菜&gy=192&kw=168&mt=5&md=0&recipe_type=0" class="similarcpbtn">找相似菜谱</a>

            <div class="info">
                <a href="http://www.meishij.net/zuofa/jiachangcai_28.html" target="_blank" title="家常菜" class="cpn">
                    家常菜 </a>
                <span class="des"></span>
            </div>
        </div>

        <div class="search2015_cpitem">
            <a href="http://www.meishij.net/zuofa/jiachangcai_29.html" target="_blank" class="img" title="家常菜">
                <img alt="家常菜" th:src="@{/js/search/images/a6092181_156764228903176.jpeg}">
            </a>

            <a href="http://so.meishi.cc/index.php?q=家常菜&gy=192&kw=168&mt=2&md=0&recipe_type=0" class="similarcpbtn">找相似菜谱</a>

            <div class="info">
                <a href="http://www.meishij.net/zuofa/jiachangcai_29.html" target="_blank" title="家常菜" class="cpn">
                    家常菜 </a>
                <span class="des">
                                                    </span>
            </div>
        </div>

        <div class="search2015_cpitem">
            <a href="http://www.meishij.net/zuofa/jiachangcaizhi25.html" target="_blank" class="img" title="家常菜之25">
                <img alt="家常菜之25" th:src="@{/js/search/images/a3273609_155341433841454.jpeg}">
            </a>

            <a href="http://so.meishi.cc/index.php?q=家常菜之25&gy=149&kw=168&mt=4&md=0&recipe_type=0" class="similarcpbtn">找相似菜谱</a>

            <div class="info">
                <a href="http://www.meishij.net/zuofa/jiachangcaizhi25.html" target="_blank" title="家常菜之25" class="cpn">
                    家常菜之25 </a>
                <span class="des"></span>
            </div>
        </div>

        <div class="search2015_cpitem">
            <a href="http://www.meishij.net/zuofa/jiachangcaizhishiba.html" target="_blank" class="img" title="家常菜之十八">
                <img alt="家常菜之十八" th:src="@{/js/search/images/a3273609_155318187522429.jpeg}">
            </a>

            <a href="http://so.meishi.cc/index.php?q=家常菜之十八&gy=192&kw=168&mt=4&md=0&recipe_type=0" class="similarcpbtn">找相似菜谱</a>

            <div class="info">
                <a href="http://www.meishij.net/zuofa/jiachangcaizhishiba.html" target="_blank" title="家常菜之十八"
                   class="cpn">
                    家常菜之十八 </a>
                <span class="des"></span>
            </div>
        </div>

        <div class="search2015_cpitem">
            <a href="http://www.meishij.net/zuofa/jiachangcaizhi31.html" target="_blank" class="img" title="家常菜之31">
                <img alt="家常菜之31" th:src="@{/js/search/images/a3273609_155407676682389.jpeg}">
            </a>

            <a href="http://so.meishi.cc/index.php?q=家常菜之31&gy=192&kw=168&mt=2&md=0&recipe_type=0" class="similarcpbtn">找相似菜谱</a>

            <div class="info">
                <a href="http://www.meishij.net/zuofa/jiachangcaizhi31.html" target="_blank" title="家常菜之31" class="cpn">
                    家常菜之31 </a>
                <span class="des"></span>
            </div>
        </div>

        <div class="search2015_cpitem">
            <a href="http://www.meishij.net/zuofa/jiachangcaizhi27.html" target="_blank" class="img" title="家常菜之27">
                <img alt="家常菜之27" th:src="@{/js/search/images/a3273609_155351885550199.jpeg}">
            </a>

            <a href="http://so.meishi.cc/index.php?q=家常菜之27&gy=192&kw=168&mt=3&md=0&recipe_type=0" class="similarcpbtn">找相似菜谱</a>

            <div class="info">
                <a href="http://www.meishij.net/zuofa/jiachangcaizhi27.html" target="_blank" title="家常菜之27" class="cpn">
                    家常菜之27 </a>
                <span class="des"></span>
            </div>
        </div>

        <div class="search2015_cpitem">
            <a href="http://www.meishij.net/zuofa/jiachangcaizhi42.html" target="_blank" class="img" title="家常菜之42">
                <img alt="家常菜之42" th:src="@{/js/search/images/a3273609_155668974801710.jpeg}">
            </a>

            <a href="http://so.meishi.cc/index.php?q=家常菜之42&gy=192&kw=170&mt=2&md=0&recipe_type=0" class="similarcpbtn">找相似菜谱</a>

            <div class="info">
                <a href="http://www.meishij.net/zuofa/jiachangcaizhi42.html" target="_blank" title="家常菜之42" class="cpn">
                    家常菜之42 </a>
                <span class="des"></span>
            </div>
        </div>

        <div class="search2015_cpitem">
            <a href="http://www.meishij.net/zuofa/jiachangliangcai_11.html" target="_blank" class="img" title="家常凉菜">
                <img alt="家常凉菜" th:src="@{/js/search/images/a113291_154460619678068.jpeg}">
            </a>

            <a href="http://so.meishi.cc/index.php?q=家常凉菜&gy=141&kw=160&mt=1&md=1&recipe_type=3" class="similarcpbtn">找相似菜谱</a>

            <div class="info">
                <a href="http://www.meishij.net/zuofa/jiachangliangcai_11.html" target="_blank" title="家常凉菜"
                   class="cpn">
                    家常凉菜 </a>
                <span class="des"></span>
            </div>
        </div>

        <div class="search2015_cpitem">
            <a href="http://www.meishij.net/zuofa/jiachangcaizhi29.html" target="_blank" class="img" title="家常菜之29">
                <img alt="家常菜之29" th:src="@{/js/search/images/a3273609_155407682346279.jpeg}">
            </a>

            <a href="http://so.meishi.cc/index.php?q=家常菜之29&gy=156&kw=168&mt=3&md=0&recipe_type=0" class="similarcpbtn">找相似菜谱</a>

            <div class="info">
                <a href="http://www.meishij.net/zuofa/jiachangcaizhi29.html" target="_blank" title="家常菜之29" class="cpn">
                    家常菜之29 </a>
                <span class="des"></span>
            </div>
        </div>

        <div class="search2015_cpitem">
            <a href="http://www.meishij.net/zuofa/jiachangcaizhishi.html" target="_blank" class="img" title="家常菜之十">
                <img alt="家常菜之十" th:src="@{/js/search/images/a3273609_155098293115818.jpeg}">
            </a>

            <a href="http://so.meishi.cc/index.php?q=家常菜之十&gy=192&kw=168&mt=3&md=0&recipe_type=0" class="similarcpbtn">找相似菜谱</a>

            <div class="info">
                <a href="http://www.meishij.net/zuofa/jiachangcaizhishi.html" target="_blank" title="家常菜之十" class="cpn">
                    家常菜之十 </a>
                <span class="des"></span>
            </div>
        </div>

        <div class="search2015_cpitem">
            <a href="http://www.meishij.net/zuofa/jiachangcaizhisan.html" target="_blank" class="img" title="家常菜之三">
                <img alt="家常菜之三" th:src="@{/js/search/images/a3273609_155084401415300.jpeg}">
            </a>

            <a href="http://so.meishi.cc/index.php?q=家常菜之三&gy=192&kw=168&mt=4&md=0&recipe_type=0" class="similarcpbtn">找相似菜谱</a>

            <div class="info">
                <a href="http://www.meishij.net/zuofa/jiachangcaizhisan.html" target="_blank" title="家常菜之三" class="cpn">
                    家常菜之三 </a>
                <span class="des"></span>
            </div>
        </div>

        <div class="search2015_cpitem">
            <a href="http://www.meishij.net/zuofa/jiachangcaizhi40.html" target="_blank" class="img" title="家常菜之40">
                <img alt="家常菜之40" th:src="@{/js/search/images/a3273609_155601243114971.jpeg}">
            </a>

            <a href="http://so.meishi.cc/index.php?q=家常菜之40&gy=149&kw=168&mt=3&md=0&recipe_type=0" class="similarcpbtn">找相似菜谱</a>

            <div class="info">
                <a href="http://www.meishij.net/zuofa/jiachangcaizhi40.html" target="_blank" title="家常菜之40" class="cpn">
                    家常菜之40 </a>
                <span class="des"></span>
            </div>
        </div>

        <div class="search2015_cpitem">
            <a href="http://www.meishij.net/zuofa/jiachangcaizhiliu.html" target="_blank" class="img" title="家常菜之六">
                <img alt="家常菜之六" th:src="@{/js/search/images/a3273609_155084700696142.jpeg}">
            </a>

            <a href="http://so.meishi.cc/index.php?q=家常菜之六&gy=194&kw=168&mt=2&md=0&recipe_type=0" class="similarcpbtn">找相似菜谱</a>

            <div class="info">
                <a href="http://www.meishij.net/zuofa/jiachangcaizhiliu.html" target="_blank" title="家常菜之六" class="cpn">
                    家常菜之六 </a>
                <span class="des"></span>
            </div>
        </div>

        <div class="search2015_cpitem">
            <a href="http://www.meishij.net/zuofa/jiachangcaizhishiyi.html" target="_blank" class="img" title="家常菜之十一">
                <img alt="家常菜之十一" th:src="@{/js/search/images/a3273609_155099047237193.jpeg}">
            </a>

            <a href="http://so.meishi.cc/index.php?q=家常菜之十一&gy=156&kw=168&mt=4&md=0&recipe_type=0" class="similarcpbtn">找相似菜谱</a>

            <div class="info">
                <a href="http://www.meishij.net/zuofa/jiachangcaizhishiyi.html" target="_blank" title="家常菜之十一"
                   class="cpn">
                    家常菜之十一 </a>
                <span class="des"></span>
            </div>
        </div>

        <div class="search2015_cpitem">
            <a href="http://www.meishij.net/zuofa/jiachangcaizhi36.html" target="_blank" class="img" title="家常菜之36">
                <img alt="家常菜之36" th:src="@{/js/search/images/a3273609_155525229859402.jpeg}">
            </a>

            <a href="http://so.meishi.cc/index.php?q=家常菜之36&gy=192&kw=168&mt=2&md=0&recipe_type=0" class="similarcpbtn">找相似菜谱</a>

            <div class="info">
                <a href="http://www.meishij.net/zuofa/jiachangcaizhi36.html" target="_blank" title="家常菜之36" class="cpn">
                    家常菜之36 </a>
                <span class="des"></span>
            </div>
        </div>

        <div class="search2015_cpitem">
            <a href="http://www.meishij.net/zuofa/jiachangcaizhi38.html" target="_blank" class="img" title="家常菜之38">
                <img alt="家常菜之38" th:src="@{/js/search/images/a3273609_155550566871564.jpeg}">
            </a>

            <a href="http://so.meishi.cc/index.php?q=家常菜之38&gy=192&kw=168&mt=3&md=0&recipe_type=0" class="similarcpbtn">找相似菜谱</a>

            <div class="info">
                <a href="http://www.meishij.net/zuofa/jiachangcaizhi38.html" target="_blank" title="家常菜之38" class="cpn">
                    家常菜之38 </a>
                <span class="des"></span>
            </div>
        </div>

        <div class="search2015_cpitem">
            <a href="http://www.meishij.net/zuofa/jiachangcaizhi33.html" target="_blank" class="img" title="家常菜之33">
                <img alt="家常菜之33" th:src="@{/js/search/images/a3273609_155464146891439.jpeg}">
            </a>

            <a href="http://so.meishi.cc/index.php?q=家常菜之33&gy=124&kw=168&mt=5&md=0&recipe_type=0" class="similarcpbtn">找相似菜谱</a>

            <div class="info">
                <a href="http://www.meishij.net/zuofa/jiachangcaizhi33.html" target="_blank" title="家常菜之33" class="cpn">
                    家常菜之33 </a>
                <span class="des"></span>
            </div>
        </div>

        <div class="search2015_cpitem">
            <a href="http://www.meishij.net/zuofa/jiachangcaizhishier.html" target="_blank" class="img" title="家常菜之十二">
                <img alt="家常菜之十二" th:src="@{/js/search/images/a3273609_155110241633976.jpeg}">
            </a>

            <a href="http://so.meishi.cc/index.php?q=家常菜之十二&gy=194&kw=168&mt=1&md=0&recipe_type=0" class="similarcpbtn">找相似菜谱</a>

            <div class="info">
                <a href="http://www.meishij.net/zuofa/jiachangcaizhishier.html" target="_blank" title="家常菜之十二"
                   class="cpn">
                    家常菜之十二 </a>
                <span class="des"></span>
            </div>
        </div>

        <div class="search2015_cpitem">
            <a href="http://www.meishij.net/zuofa/jiachangcaizhi31_1.html" target="_blank" class="img" title="家常菜之31">
                <img alt="家常菜之31" th:src="@{/js/search/images/a3273609_155437017507327.jpeg}">
            </a>

            <a href="http://so.meishi.cc/index.php?q=家常菜之31&gy=194&kw=168&mt=4&md=0&recipe_type=0" class="similarcpbtn">找相似菜谱</a>

            <div class="info">
                <a href="http://www.meishij.net/zuofa/jiachangcaizhi31_1.html" target="_blank" title="家常菜之31"
                   class="cpn">
                    家常菜之31 </a>
                <span class="des"></span>
            </div>
        </div>

        <div class="search2015_cpitem">
            <a href="http://www.meishij.net/zuofa/jiachangcaizhier.html" target="_blank" class="img" title="家常菜之二">
                <img alt="家常菜之二" th:src="@{/js/search/images/a3273609_155084360855282.jpeg}">
            </a>

            <a href="http://so.meishi.cc/index.php?q=家常菜之二&gy=124&kw=168&mt=4&md=0&recipe_type=0" class="similarcpbtn">找相似菜谱</a>

            <div class="info">
                <a href="http://www.meishij.net/zuofa/jiachangcaizhier.html" target="_blank" title="家常菜之二" class="cpn">
                    家常菜之二 </a>
                <span class="des"></span>
            </div>
        </div>
    </div>
</div>
<div class="search_page">
    <span>1</span><a href="/?q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&sort=time&page=2">2</a><a
        href="/?q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&sort=time&page=3">3</a><a
        href="/?q=%E5%AE%B6%E5%B8%B8%E8%8F%9C&sort=time&page=2">下一页</a></div>
<!--        --><!--            <div class="linksearch">-->
<!--                <strong class="t">相关搜索</strong>-->
<!--                <ul>-->
<!--                    --><!--                        <li><a href="http://so.meishi.cc/index.php?q=--><!--">-->
<!--</a></li>-->
<!--                    --><!--                </ul>-->
<!--            </div>-->
<!--        -->    </div>

<div class="scon_right">
    <h3 class="t">大家正在搜...</h3>
    <ul class="clearfix">
        <li class="others">
            <a title="烤羊肉串"
               href="https://so.meishi.cc/index.php?from=soindextopnews&q=%E7%83%A4%E7%BE%8A%E8%82%89%E4%B8%B2">
                <em>1.</em>
                <strong>烤羊肉串</strong>
                <span>
                            <img th:src="@{/js/search/images/newsearch_searchicon.png}">国外</span>
            </a>
        </li>
        <li class="others">
            <a title="大盘鸡" href="https://so.meishi.cc/index.php?from=soindextopnews&q=%E5%A4%A7%E7%9B%98%E9%B8%A1">
                <em>2.</em>
                <strong>大盘鸡</strong>
                <span>
                            <img th:src="@{/js/search/images/newsearch_searchicon.png}">国外                        </span>
            </a>
        </li>
        <li class="others">
            <a title="烤馕饼" href="https://so.meishi.cc/index.php?from=soindextopnews&q=%E7%83%A4%E9%A6%95%E9%A5%BC">
                <em>3.</em>
                <strong>烤馕饼</strong>
                <span>
                            <img th:src="@{/js/search/images/newsearch_searchicon.png}">北京                        </span>
            </a>
        </li>
        <li class="others">
            <a title="风味面疙瘩"
               href="https://so.meishi.cc/index.php?from=soindextopnews&q=%E9%A3%8E%E5%91%B3%E9%9D%A2%E7%96%99%E7%98%A9">
                <em>4.</em>
                <strong>风味面疙瘩</strong>
                <span>
                            <img th:src="@{/js/search/images/newsearch_searchicon.png}">国外                        </span>
            </a>
        </li>
        <li class="others">
            <a title="羊肉薄饼"
               href="https://so.meishi.cc/index.php?from=soindextopnews&q=%E7%BE%8A%E8%82%89%E8%96%84%E9%A5%BC">
                <em>5.</em>
                <strong>羊肉薄饼</strong>
                <span>
                            <img th:src="@{/js/search/images/newsearch_searchicon.png}">国外                        </span>
            </a>
        </li>
        <li class="others">
            <a title="辣子鸡" href="https://so.meishi.cc/index.php?from=soindextopnews&q=%E8%BE%A3%E5%AD%90%E9%B8%A1">
                <em>6.</em>
                <strong>辣子鸡</strong>
                <span>
                            <img th:src="@{/js/search/images/newsearch_searchicon.png}">大理                        </span>
            </a>
        </li>
        <li class="others">
            <a title="大盘鸡正宗制法"
               href="https://so.meishi.cc/index.php?from=soindextopnews&q=%E5%A4%A7%E7%9B%98%E9%B8%A1%E6%AD%A3%E5%AE%97%E5%88%B6%E6%B3%95">
                <em>7.</em>
                <strong>大盘鸡正宗制法</strong>
                <span>
                            <img th:src="@{/js/search/images/newsearch_searchicon.png}">石家庄                        </span>
            </a>
        </li>
        <li class="others">
            <a title="羊肉手抓饭"
               href="https://so.meishi.cc/index.php?from=soindextopnews&q=%E7%BE%8A%E8%82%89%E6%89%8B%E6%8A%93%E9%A5%AD">
                <em>8.</em>
                <strong>羊肉手抓饭</strong>
                <span>
                            <img th:src="@{/js/search/images/newsearch_searchicon.png}">兰州                        </span>
            </a>
        </li>
        <li class="others">
            <a title="早餐" href="https://so.meishi.cc/index.php?from=soindextopnews&q=%E6%97%A9%E9%A4%90">
                <em>9.</em>
                <strong>早餐</strong>
                <span>
                            <img th:src="@{/js/search/images/newsearch_searchicon.png}">国外                        </span>
            </a>
        </li>
        <li class="others">
            <a title="海鲜" href="https://so.meishi.cc/index.php?from=soindextopnews&q=%E6%B5%B7%E9%B2%9C">
                <em>10.</em>
                <strong>海鲜</strong>
                <span>
                            <img th:src="@{/js/search/images/newsearch_searchicon.png}">鞍山                        </span>
            </a>
        </li>
        <li class="others">
            <a title="沙湾大盘鸡"
               href="https://so.meishi.cc/index.php?from=soindextopnews&q=%E6%B2%99%E6%B9%BE%E5%A4%A7%E7%9B%98%E9%B8%A1">
                <em>11.</em>
                <strong>沙湾大盘鸡</strong>
                <span>
                            <img th:src="@{/js/search/images/newsearch_searchicon.png}">国外                        </span>
            </a>
        </li>
        <li class="others">
            <a title="拉条子" href="https://so.meishi.cc/index.php?from=soindextopnews&q=%E6%8B%89%E6%9D%A1%E5%AD%90">
                <em>12.</em>
                <strong>拉条子</strong>
                <span>
                            <img th:src="@{/js/search/images/newsearch_searchicon.png}">北京                        </span>
            </a>
        </li>
        <li class="others">
            <a title="大盘鸡（居家版）"
               href="https://so.meishi.cc/index.php?from=soindextopnews&q=%E5%A4%A7%E7%9B%98%E9%B8%A1%EF%BC%88%E5%B1%85%E5%AE%B6%E7%89%88%EF%BC%89">
                <em>13.</em>
                <strong>大盘鸡（居家版）</strong>
                <span>
                            <img th:src="@{/js/search/images/newsearch_searchicon.png}">北京                        </span>
            </a>
        </li>
        <li class="others">
            <a title="米肠子" href="https://so.meishi.cc/index.php?from=soindextopnews&q=%E7%B1%B3%E8%82%A0%E5%AD%90">
                <em>14.</em>
                <strong>米肠子</strong>
                <span>
                            <img th:src="@{/js/search/images/newsearch_searchicon.png}">北京                        </span>
            </a>
        </li>
        <li class="others">
            <a title="琉璃葡萄"
               href="https://so.meishi.cc/index.php?from=soindextopnews&q=%E7%90%89%E7%92%83%E8%91%A1%E8%90%84">
                <em>15.</em>
                <strong>琉璃葡萄</strong>
                <span>
                            <img th:src="@{/js/search/images/newsearch_searchicon.png}">北京                        </span>
            </a>
        </li>
        <li class="others">
            <a title="果料面包"
               href="https://so.meishi.cc/index.php?from=soindextopnews&q=%E6%9E%9C%E6%96%99%E9%9D%A2%E5%8C%85">
                <em>16.</em>
                <strong>果料面包</strong>
                <span>
                            <img th:src="@{/js/search/images/newsearch_searchicon.png}">国外                        </span>
            </a>
        </li>
        <li class="others">
            <a title="手抓饭" href="https://so.meishi.cc/index.php?from=soindextopnews&q=%E6%89%8B%E6%8A%93%E9%A5%AD">
                <em>17.</em>
                <strong>手抓饭</strong>
                <span>
                            <img th:src="@{/js/search/images/newsearch_searchicon.png}">北京                        </span>
            </a>
        </li>
        <li class="others">
            <a title="塌牛" href="https://so.meishi.cc/index.php?from=soindextopnews&q=%E5%A1%8C%E7%89%9B">
                <em>18.</em>
                <strong>塌牛</strong>
                <span>
                            <img th:src="@{/js/search/images/newsearch_searchicon.png}">国外                        </span>
            </a>
        </li>
        <li class="others">
            <a title="营养三明治"
               href="https://so.meishi.cc/index.php?from=soindextopnews&q=%E8%90%A5%E5%85%BB%E4%B8%89%E6%98%8E%E6%B2%BB">
                <em>19.</em>
                <strong>营养三明治</strong>
                <span>
                            <img th:src="@{/js/search/images/newsearch_searchicon.png}">北京                        </span>
            </a>
        </li>
        <li class="others">
            <a title="洋蓟吸食"
               href="https://so.meishi.cc/index.php?from=soindextopnews&q=%E6%B4%8B%E8%93%9F%E5%90%B8%E9%A3%9F">
                <em>20.</em>
                <strong>洋蓟吸食</strong>
                <span>
                            <img th:src="@{/js/search/images/newsearch_searchicon.png}">国外                        </span>
            </a>
        </li>
        <li class="others">
            <a title="奶茶" href="https://so.meishi.cc/index.php?from=soindextopnews&q=%E5%A5%B6%E8%8C%B6">
                <em>21.</em>
                <strong>奶茶</strong>
                <span>
                            <img th:src="@{/js/search/images/newsearch_searchicon.png}">国外                        </span>
            </a>
        </li>
        <li class="others">
            <a title="珍珠" href="https://so.meishi.cc/index.php?from=soindextopnews&q=%E7%8F%8D%E7%8F%A0">
                <em>22.</em>
                <strong>珍珠</strong>
                <span>
                            <img th:src="@{/js/search/images/newsearch_searchicon.png}">北京                        </span>
            </a>
        </li>
        <li class="others">
            <a title="西红柿炒鸡蛋"
               href="https://so.meishi.cc/index.php?from=soindextopnews&q=%E8%A5%BF%E7%BA%A2%E6%9F%BF%E7%82%92%E9%B8%A1%E8%9B%8B">
                <em>23.</em>
                <strong>西红柿炒鸡蛋</strong>
                <span>
                            <img th:src="@{/js/search/images/newsearch_searchicon.png}">上海                        </span>
            </a>
        </li>
        <li class="others">
            <a title="家常手抓饭"
               href="https://so.meishi.cc/index.php?from=soindextopnews&q=%E5%AE%B6%E5%B8%B8%E6%89%8B%E6%8A%93%E9%A5%AD">
                <em>24.</em>
                <strong>家常手抓饭</strong>
                <span>
                            <img th:src="@{/js/search/images/newsearch_searchicon.png}">国外                        </span>
            </a>
        </li>
        <li class="others">
            <a title="特色羊肉手抓饭"
               href="https://so.meishi.cc/index.php?from=soindextopnews&q=%E7%89%B9%E8%89%B2%E7%BE%8A%E8%82%89%E6%89%8B%E6%8A%93%E9%A5%AD">
                <em>25.</em>
                <strong>特色羊肉手抓饭</strong>
                <span>
                            <img th:src="@{/js/search/images/newsearch_searchicon.png}">国外                        </span>
            </a>
        </li>
        <li class="others">
            <a title="味道烤羊排"
               href="https://so.meishi.cc/index.php?from=soindextopnews&q=%E5%91%B3%E9%81%93%E7%83%A4%E7%BE%8A%E6%8E%92">
                <em>26.</em>
                <strong>味道烤羊排</strong>
                <span>
                            <img th:src="@{/js/search/images/newsearch_searchicon.png}">国外                        </span>
            </a>
        </li>
        <li class="others">
            <a title="炒片" href="https://so.meishi.cc/index.php?from=soindextopnews&q=%E7%82%92%E7%89%87">
                <em>27.</em>
                <strong>炒片</strong>
                <span>
                            <img th:src="@{/js/search/images/newsearch_searchicon.png}">温州                        </span>
            </a>
        </li>
        <li class="others">
            <a title="菜" href="https://so.meishi.cc/index.php?from=soindextopnews&q=%E8%8F%9C">
                <em>28.</em>
                <strong>菜</strong>
                <span>
                            <img th:src="@{/js/search/images/newsearch_searchicon.png}">乌鲁木齐                        </span>
            </a>
        </li>
        <li class="others">
            <a title="炒茄子" href="https://so.meishi.cc/index.php?from=soindextopnews&q=%E7%82%92%E8%8C%84%E5%AD%90">
                <em>29.</em>
                <strong>炒茄子</strong>
                <span>
                            <img th:src="@{/js/search/images/newsearch_searchicon.png}">邢台                        </span>
            </a>
        </li>
        <li class="others">
            <a title="吐鲁番剁肉饼"
               href="https://so.meishi.cc/index.php?from=soindextopnews&q=%E5%90%90%E9%B2%81%E7%95%AA%E5%89%81%E8%82%89%E9%A5%BC">
                <em>30.</em>
                <strong>吐鲁番剁肉饼</strong>
                <span>
                            <img th:src="">国外                        </span>
            </a>
        </li>
    </ul>
</div>
</div>

<div class="right_cplist clearfix" id="right_cplist">
    <h3 class="t" id="youxuan">你可能也感兴趣<a href="javascript:void(0)" class="changebtn" id="changebtn"></a></h3>
</div>


<div class="searchbottom">
    <strong>美食杰 - 做菜只用美食杰</strong>
    <span>版权所有 © 2007-2015 美食杰(Meishi.cc) 保留所有权利 - 京ICP备150335号/京公网安备11010802026928</span>
</div>


<script>
    var st_searchform;
    var left_searchform;
    get_likenews();
    $(function () {
        $("#openfilter").click(function () {
            var _this = $(this);
            if (_this.hasClass("opened")) {
                $(".search_filterbox").slideUp(400);
                _this.removeClass("opened");
                _this.html("展开高级筛选 ∨");

            } else {
                $(".search_filterbox").slideDown(400);
                _this.addClass("opened");
                _this.html("收起高级筛选 ∧");
            }
        });
//        var filter_con = "//"
//        var if_news = "//"
//        if(filter_con == 2 || if_news == 2){
//            $("#openfilter").trigger('click');
//        }
        $(".suggestion").click(function () {
            Alert("请提出您的宝贵意见...", "iframe:http://so.meishi.cc/ajax/add_sosuggestion.php?s_type=3&show=2", "500", "370", "false", "", "true", "img");
        });

        $(window).resize(function () {
            checkWindowWidth();
            checkleft_searchform();
        });
        $(".changebtn").live('click', function () {
            var title = '家常菜';
            $.post("/ajax/get_slikenews.php", {title: title}, function (data) {
                var obj = eval('(' + data + ')');
                if (obj.code == 1) {
                    $('.right_cplist').html('<h3 class="t" id="youxuan">你可能也感兴趣<a href="javascript:void(0)" class="changebtn" id="changebtn"></a></h3>' + obj.content);
                }
            });
        });
        checkleft_searchform();
        st_searchform = $("#searchbox").offset().top;
        $(window).scroll(function () {
            var st = $(window).scrollTop();
            if (st > st_searchform) {
                $("#searchbox").css({
                    "position": "fixed",
                    "top": "0px",
                    "left": left_searchform + "px",
                    "height": "60px",
                    "box-shadow": "0px 0px 10px rgba(0,0,0,0.3)"
                });
                $("#searchbox form").css({"padding": "10px 20px"});
//                $("#searchbox .yjfk_btn").css({"top":"2px"});
                $("#newsearch_logo2").css({"opacity": "1"});
            } else {
                $("#searchbox").css({
                    "position": "relative",
                    "top": "0px",
                    "left": "0px",
                    "height": "80px",
                    "box-shadow": "0px 0px 0px rgba(0,0,0,0.3)"
                });
                $("#searchbox form").css({"padding": "20px 20px"});
//                $("#searchbox .yjfk_btn").css({"top":"12px"});
                $("#newsearch_logo2").css({"opacity": "0"});
            }

        });
        ;

        $(".filter_openbtn").click(function () {
            var _this = $(this);
            if (_this.html() == "展开 ∨") {
                _this.prev(".fliters").css("height", "auto");
                _this.html("收起 ∧");
            } else {
                _this.prev(".fliters").css("height", "22px");
                _this.html("展开 ∨");
            }
        });

    });

    function get_likenews() {
        var title = '家常菜';
        $.post("/ajax/get_slikenews.php", {title: title}, function (data) {
            var obj = eval('(' + data + ')');
            if (obj.code == 1) {
                $('.right_cplist').append(obj.content);
            }
        });
    }

    function checkleft_searchform() {
        var wW = $(window).width();
        var left;
        if (wW > 1420) {
            left = (wW - 1350) / 2;
        } else if (wW > 1250) {
            left = (wW - 1190) / 2;
        } else {
            left = (wW - 1000) / 2;
        }

        left_searchform = left;
    }

    var active = -1;
    var lastKeyValue = '';
    var lastKeyPressCode = 0;
    var default_value = $("#inputString").attr('defaultval');

    function lookup(inputString) {
        if (inputString.length == 0) {
            $('#suggestions').hide()
        } else {
            if (inputString != lastKeyValue) {
                lastKeyValue = inputString;
                $.get($("#inputString").attr('href'), {
                        words: encodeURIComponent(inputString)
                    },
                    function (data) {
                        if (data.length > 0) {
                            $('#suggestions').show();
                            $('#autoSuggestionsList').html(data);
                            $("li", $('#autoSuggestionsList')).removeClass("ac_over");
                            $("#autoSuggestionsList li").hover(function () {
                                    var liss = $("li.ac_over", $('#autoSuggestionsList'));
                                    liss.find('a').css("backgroundColor", "#fff");
                                    liss.find('a').css("color", "#333");
                                    liss.find('a').find('span').css("color", "#8fc31f");
                                    $("li", $('#autoSuggestionsList')).removeClass("ac_over");
                                    $(this).addClass("ac_over");
                                    $(this).find('a').css("backgroundColor", "#ff5151");
                                    $(this).find('a').css("color", "#fff");
                                    $(this).find('a').find('span').css("color", "#fff");
                                    for (var i = 0; i <= $("li", $('#autoSuggestionsList')).length; i++) {
                                        if ($("li", $('#autoSuggestionsList'))[i] == $(this)[0]) {
                                            active = i
                                        }
                                    }
                                },
                                function () {
                                    $(this).removeClass("ac_over");
                                    $(this).find('a').css("backgroundColor", "#fff");
                                    $(this).find('a').css("color", "#333");
                                    $(this).find('a').find('span').css("color", "#8fc31f")
                                });
                            active = -1
                        }
                    })
            } else if ($('#autoSuggestionsList').html() != '') {
                $('#suggestions').show()
            }
        }
    }


    $(document).ready(function () {
        $('#inputString').keyup(function (e) {
            lastKeyPressCode = e.keyCode;
            if ((lastKeyPressCode > 32 && lastKeyPressCode < 41) || (lastKeyPressCode > 8 && lastKeyPressCode < 32)) {
                return false
            } else {
                lookup($('#inputString').val())
            }
        });
        $('#inputString').keydown(function (e) {
            switch (e.keyCode) {
                case 38:
                    $("li", $('#autoSuggestionsList')).removeClass("ac_over");
                    e.preventDefault();
                    moveSelect(-1);
                    break;
                case 40:
                    $("li", $('#autoSuggestionsList')).removeClass("ac_over");
                    e.preventDefault();
                    moveSelect(1);
                    break;
                case 9:
                case 13:
                    break;
                default:
                    break
            }
        }).blur(function () {
            fill()
        })
    });

    function submit_headerfrom() {
        if ($('#inputString').val() == '' || $('#inputString').val() == default_value) {
            return false
        }
        var submit_from = true;
        if (active != -1) {
            var lis = $("li", $('#autoSuggestionsList'));
            if (lis) {
                var jump_href = $(lis[active]).find("a").attr('href');
                if (jump_href != '') {
                    location.href = jump_href;
                    submit_from = false
                }
            }
        }
        if (submit_from == true) {
            $('#suggestions_from').submit(function () {
                $('#suggestions_from').submit()
            });
            $('#suggestions_from').submit()
        }
    }

    function fill() {
        setTimeout("$('#suggestions').hide();", 200)
    }

    function moveSelect(step) {
        var lis = $("li", $('#autoSuggestionsList'));
        if (!lis) return;
        active += step;
        if (active < 0) {
            active = 0
        } else if (active >= lis.size()) {
            active = lis.size() - 1
        }
        var li_val = $(lis[active]).html();
        li_val = li_val.toLowerCase();
        var find1 = li_val.indexOf('</span>');
        var find2 = li_val.indexOf('</a>', find1);
        var words_val = li_val.substring(find1 + 7, find2);
        if (words_val != '') {
            $('#inputString').val(words_val)
        }
        lis.find('a').css("backgroundColor", "#fff");
        lis.find('a').css("color", "#333");
        lis.find('a').find('span').css("color", "#8fc31f");
        $(lis[active]).addClass("ac_over");
        $(lis[active]).find('a').css("backgroundColor", "#ff5151");
        $(lis[active]).find('a').css("color", "#fff");
        $(lis[active]).find('span').css("color", "#fff")
    };


</script>


</body>
</html>
<div style="display:none;">
    <script>var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?05fa5ed02545dfdb59ea7e4104b463ab";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();</script>
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cspan id='cnzz_stat_icon_1259001544'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/stat.php%3Fid%3D1259001544' type='text/javascript'%3E%3C/script%3E"));</script>
</div>