<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>【茄子】茄子的功效_茄子图片_食材百科_PaiChi</title>
    <meta name="keywords" content="茄子,茄子的功效,茄子图片,食材茄子">
    <meta name="description"
          content="茄子是一种常见的食材，PaiChi食材百科为您整理了茄子的别名、基本信息、选购技巧、适宜人群、不宜人群、搭配禁忌、茄子的功效与作用、茄子的烹饪技巧等信息，让您做出美味的茄子。">
    <meta content="www.paichi.net" name="author">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script>var _hmt = _hmt || [];</script>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/ss_base.css}">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/js/food/css/shicai.css}">
    <script type="text/javascript" th:src="@{/js/j.m.js}"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
    <script type="text/javascript" th:src="@{/js/list.js}"></script>
    <script th:src="@{/js/ds.js}"></script>
    <script>var _czc = _czc || [];
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?01dd6a7c493607e115255b7e72de5f40";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();</script>
</head>
<body style>
<div class="adinheader">
    <div class="adinheader_w">
        <script>
            (function () {
                var s = "_" + Math.random().toString(36).slice(2);
                document.write('<div id="' + s + '"></div>');
                (window.slotbydup = window.slotbydup || []).push({
                    id: '206520',
                    container: s,
                    size: '990,40',
                    display: 'inlay-fix'
                });
            })();
        </script>
    </div>
</div>
<div class="header">
    <div class="header_c">
        <a href="/" class="logo pngFix"></a>
        <div class="main_search_top_w">
            <div class="suggestionsBox" id="suggestions" style="display:none;">
                <ul class="suggestionList" id="autoSuggestionsList"></ul>
            </div>
            <form class="search" action="https://so.meishi.cc/">
                <input type="text" class="text" name="q" defaultval="请输入菜谱/食材/菜单/作者" x-webkit-speech
                       value="请输入菜谱/食材/菜单/作者" autocomplete="off"
                       onfocus="if(this.value=='请输入菜谱/食材/菜单/作者'){this.value='';}$(this).css('color','#333');"
                       onblur="if(this.value==''){this.value='请输入菜谱/食材/菜单/作者';$(this).css('color','#999');}"
                       href="/ajax/ajaxtitle.php" id="inputString"><input type="submit" class="submit" value="搜 索">
            </form>
        </div>
        <div class="loginitem_h">
            <script th:src="@{/js/loginheader_n2.js}"></script>
        </div>
    </div>
</div>
<div class="nav">
    <ul id="main_nav">
        <li class="current"><a href="https://www.paichi.net/" class="link pngFix"><strong>首页</strong></a></li>
        <li class="hasmore">
            <a href="https://www.paichi.net/chufang/diy/" class="link pngFix"><strong>菜谱大全</strong></a>
            <div class="dw clearfix">
                <div class="dww clearfix dww_cpdq">
                    <div class="dwitem clearfix pngFix">
                        <dl class="clearfix">
                            <dt><a href="https://www.paichi.net/chufang/diy/">家常菜谱</a></dt>
                            <dd><a href="https://www.paichi.net/chufang/diy/jiangchangcaipu/">家常菜</a></dd>
                            <dd><a href="https://www.paichi.net/chufang/diy/langcaipu/">凉菜</a></dd>
                            <dd><a href="https://www.paichi.net/chufang/diy/sushi/">素食</a></dd>
                            <dd><a href="https://www.paichi.net/chufang/diy/wancan/">晚餐</a></dd>
                            <dd><a href="https://www.paichi.net/chufang/diy/sijiacai/">私家菜</a></dd>
                            <dd><a href="https://www.paichi.net/chufang/diy/recaipu/">热菜</a></dd>
                            <dd><a href="https://www.paichi.net/chufang/diy/haixian/">海鲜</a></dd>
                            <dd><a href="https://www.paichi.net/chufang/diy/yunfu/">孕妇</a></dd>
                            <dd><a href="https://www.paichi.net/chufang/diy/zaocan/">早餐</a></dd>
                            <dd><a href="https://www.paichi.net/chufang/diy/wucan/">午餐</a></dd>
                            <dd><a href="https://www.paichi.net/chufang/diy/tianpindianxin/">甜品点心</a></dd>
                            <dd><a href="https://www.paichi.net/chufang/diy/tangbaocaipu/">汤粥</a></dd>
                            <dd><a href="https://www.paichi.net/chufang/diy/baobaocaipu/">宝宝食谱-婴儿食谱</a></dd>
                            <dd><a href="https://www.paichi.net/chufang/diy/gaodianxiaochi/">糕点主食</a></dd>
                            <dd><a href="https://www.paichi.net/chufang/diy/weibolucaipu/">微波炉</a></dd>
                        </dl>
                    </div>
                    <div class="dwitem dwitem_half clearfix">
                        <dl class="clearfix">
                            <dt><a href="https://www.paichi.net/china-food/caixi/">中华菜系</a></dt>
                            <dd><a href="https://www.paichi.net/china-food/caixi/chuancai/">川菜</a></dd>
                            <dd><a href="https://www.paichi.net/china-food/caixi/yuecai/">粤菜</a></dd>
                            <dd><a href="https://www.paichi.net/china-food/caixi/dongbeicai/">东北菜</a></dd>
                            <dd><a href="https://www.paichi.net/china-food/caixi/xiangcai/">湘菜</a></dd>
                            <dd><a href="https://www.paichi.net/china-food/caixi/lucai/">鲁菜</a></dd>
                            <dd><a href="https://www.paichi.net/china-food/caixi/zhecai/">浙菜</a></dd>
                            <dd><a href="https://www.paichi.net/china-food/caixi/hubeicai/">湖北菜</a></dd>
                            <dd><a href="https://www.paichi.net/china-food/caixi/qingzhencai/">清真菜</a></dd>
                        </dl>
                    </div>
                    <div class="dwitem dwitem_half clearfix">
                        <dl class="clearfix">
                            <dt><a href="https://www.paichi.net/china-food/xiaochi/">各地小吃</a></dt>
                            <dd><a href="https://www.paichi.net/china-food/xiaochi/sichuan/">四川小吃</a></dd>
                            <dd><a href="https://www.paichi.net/china-food/xiaochi/guangdong/">广东小吃</a></dd>
                            <dd><a href="https://www.paichi.net/china-food/xiaochi/beijing/">北京小吃</a></dd>
                            <dd><a href="https://www.paichi.net/china-food/xiaochi/shanxii/">陕西小吃</a></dd>
                        </dl>
                    </div>
                    <br>
                    <div class="dwitem dwitem_half clearfix">
                        <dl class="clearfix">
                            <dt><a href="https://www.paichi.net/chufang/diy/guowaicaipu1/">外国菜谱</a></dt>
                            <dd><a href="https://www.paichi.net/chufang/diy/guowaicaipu1/hanguo/">韩国料理</a></dd>
                            <dd><a href="https://www.paichi.net/chufang/diy/guowaicaipu1/japan/">日本料理</a></dd>
                            <dd><a href="https://www.paichi.net/chufang/diy/guowaicaipu1/faguo/">法国菜</a></dd>
                            <dd><a href="https://www.paichi.net/chufang/diy/guowaicaipu1/yidali/">意大利餐</a></dd>
                        </dl>
                    </div>
                    <div class="dwitem dwitem_half clearfix">
                        <dl class="clearfix">
                            <dt><a href="https://www.paichi.net/hongpei/">烘焙</a></dt>
                            <dd><a href="https://www.paichi.net/hongpei/dangaomianbao/">蛋糕面包</a></dd>
                            <dd><a href="https://www.paichi.net/hongpei/bingganpeifang/">饼干配方</a></dd>
                            <dd><a href="https://www.paichi.net/hongpei/tianpindianxin/">甜品点心</a></dd>
                        </dl>
                    </div>
                    <br>
                    <div class="dwitem dwitem_half clearfix">
                        <dl class="clearfix">
                            <dt><a href="https://www.paichi.net/pengren/">厨房百科</a></dt>
                            <dd><a href="https://www.paichi.net/pengren/baipanzhoubian/">摆盘围边</a></dd>
                            <dd><a href="https://www.paichi.net/pengren/jiqiao/">烹饪技巧</a></dd>
                            <dd><a href="https://www.paichi.net/pengren/chufangmiaozhao/">生活妙招</a></dd>
                            <dd><a href="https://www.paichi.net/pengren/chufang/">美食专题</a></dd>
                        </dl>
                    </div>
                    <div class="dwitem dwitem_half clearfix">
                        <dl class="clearfix">
                            <dt><a href="https://www.paichi.net/shicai/">食材百科</a></dt>
                            <dd><a href="https://www.paichi.net/shicai/shucai_list">蔬菜</a></dd>
                            <dd><a href="https://www.paichi.net/shicai/shuiguo_list">水果</a></dd>
                            <dd><a href="https://www.paichi.net/shicai/gulei_list">谷类</a></dd>
                        </dl>
                    </div>
                    <div class="bgitem"></div>
                </div>
            </div>
        </li>
        <li class="hasmore"><a href="https://www.paichi.net/jiankang/" class="link pngFix"><strong>饮食健康</strong></a>
            <div class="dw clearfix">
                <div class="dww clearfix dww_ysjk">
                    <div class="dwitem clearfix pngFix">
                        <dl class="clearfix">
                            <dt><a href="https://www.paichi.net/jiankang/">饮食健康</a></dt>
                            <dd><a href="https://www.paichi.net/jiankang/changshi/">饮食小常识</a></dd>
                            <dd><a href="https://www.paichi.net/jiankang/meirong/">美容瘦身</a></dd>
                            <dd><a href="https://www.paichi.net/jiankang/shipinanquan/">食品安全</a></dd>
                            <dd><a href="https://www.paichi.net/jiankang/yangsheng/">养生妙方</a></dd>
                            <dd><a href="https://www.paichi.net/jiankang/jinji/">饮食禁忌</a></dd>
                            <dd><a href="https://www.paichi.net/jiankang/zhongyi/">中医保健</a></dd>
                            <dd><a href="https://www.paichi.net/jiankang/muying/">母婴健康饮食</a></dd>
                            <dd><a href="https://www.paichi.net/jiankang/yinshixinwen/">饮食新闻</a></dd>
                        </dl>
                    </div>
                    <div class="dwitem clearfix">
                        <dl class="clearfix">
                            <dt><a href="https://www.paichi.net/yaoshanshiliao/gongnengxing/">功能性调理</a></dt>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/gongnengxing/qingrequhuo/">清热去火</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/gongnengxing/jianfei/">减肥</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/gongnengxing/qutan/">祛痰</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/gongnengxing/wufa/">乌发</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/gongnengxing/ziyinbushen/">滋阴补肾</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/gongnengxing/jianpikaiwei/">健脾开胃</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/gongnengxing/xiaohuabulang/">消化不良</a>
                            </dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/gongnengxing/qingrejiedu/">清热解毒</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/gongnengxing/buyangzhuangyang/">补阳壮阳</a>
                            </dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/gongnengxing/zengfei/">增肥</a></dd>
                        </dl>
                    </div>
                    <br>
                    <div class="dwitem dwitem_half clearfix">
                        <dl class="clearfix">
                            <dt><a href="https://www.paichi.net/yaoshanshiliao/renqunshanshi/">人群膳食</a></dt>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/renqunshanshi/yunfu/">孕妇</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/renqunshanshi/laoren/">老人</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/renqunshanshi/chanfu/">产妇</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/renqunshanshi/rumu/">哺乳期</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/renqunshanshi/qingshaonian/">青少年</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/renqunshanshi/rouer/">幼儿</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/renqunshanshi/xuelingqi/">学龄期儿童</a></dd>
                        </dl>
                    </div>
                    <div class="dwitem dwitem_half clearfix">
                        <dl class="clearfix">
                            <dt><a href="https://www.paichi.net/yaoshanshiliao/jibingtiaoli/">疾病调理</a></dt>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/jibingtiaoli/tangniaobing/">糖尿病</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/jibingtiaoli/gaoxueya/">高血压</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/jibingtiaoli/tongfeng/">痛风</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/jibingtiaoli/weiyan/">胃炎</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/jibingtiaoli/zhichuang/">痔疮</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/jibingtiaoli/gengnianqi/">更年期</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/jibingtiaoli/jiakangxian/">甲状腺</a></dd>
                        </dl>
                    </div>
                    <br>
                    <div class="dwitem clearfix">
                        <dl class="clearfix">
                            <dt><a href="https://www.paichi.net/yaoshanshiliao/zangfu/">脏腑调理</a></dt>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/zangfu/ganmao/">感冒</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/zangfu/shentiaoli/">补肾</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/zangfu/yangweizaoxie/">阳痿早泄</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/zangfu/buxue/">补血</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/zangfu/bianmi/">便秘</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/zangfu/fuxie/">腹泻</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/zangfu/houxuehuayu/">活血化瘀</a></dd>
                        </dl>
                    </div>
                    <div class="bgitem"></div>
                </div>
            </div>
        </li>
        <li><a href="https://i.meishi.cc/recipe_list/" class="link pngFix"><strong>美食菜单</strong></a></li>
        <li style="position:relative;z-index:100;"><a style="padding:0 11px;" href="https://i.meishi.cc/jiajuguan/"
                                                      class="link pngFix"><strong>家居馆</strong>
        </a></li>
        <li><a href="https://i.meishi.cc/daren_task/daren.php" class="link"><strong>美食达人</strong><img
                th:src="@{/image/vip_hat.png}"
                style="display:inline-block;margin-left:-7px;vertical-align:top;margin-top:8px;"></a></li>
        <li><a href="https://www.paichi.net/video/" class="link pngFix"><strong>菜谱视频</strong></a></li>
        <li><a href="https://i.meishi.cc/download_msj.php" class="link pngFix"><strong>产品下载</strong></a></li>
    </ul>
</div>
<div class="main_search main_search_slideUp pngFix" slideUp="1" style="_display:none;" id="main_search">
    <div class="main_search_w">
        <div class="searchform_div">
            <form action="https://so.meishi.cc/" target="_blank"><input type="text" class="text" name="q"
                                                                        x-webkit-speech autocomplete="off"
                                                                        id="inputString" placeholder="茄子"><input
                    type="submit" class="submit" value="搜 索"></form>
        </div>
        <span id="searchslideup_btn" class="pngFix" style="background-position:0px -48px;">自动收缩</span>
    </div>
</div>
<div class="bottom_back_top_top bottom_back_top_top_slideUp" id="bottom_back_top_top"><a href="#" title="返回茄子的顶部"
                                                                                         class="backtotop pngFix">回到顶部</a>
</div>
<div class="main_w clearfix">
    <div class="main">
        <ul class="pathstlye1">
            <li><a href="/">首页</a></li>
            <li> &gt;</li>
            <li><a href="https://www.paichi.net/chufang/diy/">菜谱大全</a></li>
            <li> &gt;</li>
            <li><a href="https://www.paichi.net/shicai/">食材百科</a></li>
            <li> &gt;</li>
            <li><h2>茄子</h2></li>
        </ul>
        <div class="sc_header">
            <img class="sc_headerimg" alt="茄子" th:src="@{/js/food/images/46ff26140cddcba66a59ef101bb7a4a0_180x180.jpeg}">
            <div class="sc_header_con1">
                <h1>茄子<a href="#" class="fortb" data-type="2" biz-keyword="茄子 鲜" biz-category="50016422" data-rd="1"
                         data-style="1" data-tmpl="290x380" target="_blank"></a></h1>
                <p class="p1"></p>
                <p class="p2">【别名】：落苏、茄瓜<br> 【食量建议】：每次约85克<br> 【适宜人群】：特别适合心血管疾病<br> <strong>【禁忌人群】</strong>：脾胃虚寒的人、哮喘患者慎食
                </p>
            </div>
            <div class="sc_header_con2">
                <ul class="clearfix">
                    <li class="yi"><a target="_blank" href="http://tizhi.meishi.cc/pinghezhi.html">平和质</a></li>
                    <li class="ji"><a target="_blank" href="http://tizhi.meishi.cc/shirezhi.html">湿热质</a></li>
                    <li class="ji"><a target="_blank" href="http://tizhi.meishi.cc/tanshizhi.html">痰湿质</a></li>
                </ul>
            </div>
        </div>
        <h2 class="bbtitles"><a href="https://www.paichi.net/shicaizuofa/qiezi/">茄子的做法大全</a></h2>
        <div class="shicai_maincon">
            <div class="shicai_cp clearfix">
                <div class="shicai_cp_w clearfix">
                    <div class="sccon_left" id="sccon_left">
                        <div class="listtyle1_w clearfix" id="listtyle1_w">
                            <div class="listtyle1_list clearfix" id="listtyle1_list">
                                <div class="scc_masker pngFix" style="display:none;"></div>
                                <div class="listtyle1 ml0">
                                    <a target="_blank"
                                       href="https://www.paichi.net/chufang/diy/jiangchangcaipu/176699.html"
                                       title="家常烧茄子" class="big">
                                        <img class="img" alt="家常烧茄子"
                                             th:src="@{/js/food/images/6fbc87716d1fd43831c4f8e5875662a5_150x150.jpeg}">
                                        <div class="i_w">
                                            <div class="i" style="margin-top: 0px;">
                                                <div class="c1">
                                                    <strong>家常烧茄子</strong><span>685 评论  3150086 人气</span><em>潘潘猫</em>
                                                </div>
                                                <div class="c2">
                                                    <ul>
                                                        <li class="li1">10步 / 大概10分钟</li>
                                                        <li class="li2">烧 / 咸鲜味</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <strong class="gx"><span>抗衰老</span></strong> </a>
                                </div>
                                <div class="listtyle1">
                                    <a target="_blank" href="https://www.paichi.net/china-food/caixi/chuancai/322.html"
                                       title="鱼香茄子" class="big">
                                        <img class="img" alt="鱼香茄子"
                                             th:src="@{/js/food/images/c3cbaae904805753c26ed6358795160b_150x150.jpeg}">
                                        <div class="i_w">
                                            <div class="i" style="margin-top: 0px;">
                                                <div class="c1"><strong>鱼香茄子</strong><span>773 评论  2803935 人气</span><em>梅依旧</em>
                                                </div>
                                                <div class="c2">
                                                    <ul>
                                                        <li class="li1">6步 / 大概30分钟</li>
                                                        <li class="li2">炒 / 鱼香味</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <strong class="gx"><span>防治贫血</span></strong> </a>
                                </div>
                                <div class="listtyle1">
                                    <a target="_blank" href="https://www.paichi.net/chufang/diy/recaipu/39302.html"
                                       title="红烧茄子" class="big">
                                        <img class="img" alt="红烧茄子"
                                             th:src="@{/js/food/images/f992f9f94219d500f6321ed977a8e3fe_150x150.jpeg}">
                                        <div class="i_w">
                                            <div class="i" style="margin-top: 0px;">
                                                <div class="c1"><strong>红烧茄子</strong><span>351 评论  2301731 人气</span><em>暖暖尚</em>
                                                </div>
                                                <div class="c2">
                                                    <ul>
                                                        <li class="li1">8步 / 大概10分钟</li>
                                                        <li class="li2">烧 / 咸鲜味</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <strong class="gx"><span>降血压</span></strong> </a>
                                </div>
                                <div class="listtyle1 ml0">
                                    <a target="_blank" href="https://www.paichi.net/chufang/diy/recaipu/39264.html"
                                       title="家常烧茄子" class="big">
                                        <img class="img" alt="家常烧茄子"
                                             th:src="@{/js/food/images/ad823d20bebc55af455a352af117cbe8_150x150.jpeg}">
                                        <div class="i_w">
                                            <div class="i" style="margin-top: 0px;">
                                                <div class="c1"><strong>家常烧茄子</strong><span>67 评论  896081 人气</span><em>PaiChi小编</em>
                                                </div>
                                                <div class="c2">
                                                    <ul>
                                                        <li class="li1">11步 / 大概15分钟</li>
                                                        <li class="li2">烧 / 香辣味</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <strong class="gx"><span>防癌</span></strong> </a>
                                </div>
                                <div class="listtyle1">
                                    <a target="_blank"
                                       href="https://www.paichi.net/chufang/diy/jiangchangcaipu/155709.html"
                                       title="红烧茄子" class="big">
                                        <img class="img" alt="红烧茄子"
                                             th:src="@{/js/food/images/4d37976340bcba693f7d39aaff8346f7_150x150.jpeg}">
                                        <div class="i_w">
                                            <div class="i" style="margin-top: 0px;">
                                                <div class="c1"><strong>红烧茄子</strong><span>19 评论  750839 人气</span></div>
                                                <div class="c2">
                                                    <ul>
                                                        <li class="li1">5步 / 大概15分钟</li>
                                                        <li class="li2">烧 / 家常味</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <strong class="gx"><span>利尿消石</span></strong> </a>
                                </div>
                                <div class="listtyle1">
                                    <a target="_blank"
                                       href="https://www.paichi.net/chufang/diy/jiangchangcaipu/157147.html"
                                       title="酱爆茄子" class="big">
                                        <img class="img" alt="酱爆茄子"
                                             th:src="@{/js/food/images/362ac1fa7f95c00d021155a683933b5b_150x150.jpeg}">
                                        <div class="i_w">
                                            <div class="i" style="margin-top: 0px;">
                                                <div class="c1">
                                                    <strong>酱爆茄子</strong><span>7 评论  672751 人气</span><em>感恩</em></div>
                                                <div class="c2">
                                                    <ul>
                                                        <li class="li1">16步 / 大概10分钟</li>
                                                        <li class="li2">爆 / 酱香味</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <strong class="gx"><span>清热去火</span></strong> </a>
                                </div>
                                <div class="listtyle1 ml0">
                                    <a target="_blank" href="https://www.paichi.net/chufang/diy/recaipu/39041.html"
                                       title="豆角烧茄子" class="big">
                                        <img class="img" alt="豆角烧茄子"
                                             th:src="@{/js/food/images/905aa785dad19d49883f7361b5d15111_150x150.jpeg}">
                                        <div class="i_w">
                                            <div class="i" style="margin-top: 0px;">
                                                <div class="c1"><strong>豆角烧茄子</strong><span>93 评论  699871 人气</span><em>馨月</em>
                                                </div>
                                                <div class="c2">
                                                    <ul>
                                                        <li class="li1">6步 / 大概15分钟</li>
                                                        <li class="li2">烧 / 咸鲜味</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <strong class="gx"><span>防癌</span></strong> </a>
                                </div>
                                <div class="listtyle1">
                                    <a target="_blank" href="https://www.paichi.net/chufang/diy/recaipu/166348.html"
                                       title="蒜香烤茄子" class="big">
                                        <img class="img" alt="蒜香烤茄子" th:src="@{/js/food/images/a2676891_67303.jpeg}">
                                        <div class="i_w">
                                            <div class="i" style="margin-top: 0px;">
                                                <div class="c1"><strong>蒜香烤茄子</strong><span>32 评论  388170 人气</span><em>热爱美食的小北</em>
                                                </div>
                                                <div class="c2">
                                                    <ul>
                                                        <li class="li1">大概15分钟</li>
                                                        <li class="li2">烤 / 蒜香味</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <strong class="gx"><span>防癌</span></strong> </a>
                                </div>
                                <div class="listtyle1">
                                    <a target="_blank" href="https://www.paichi.net/zuofa/chaoqiezi.html" title="炒茄子  "
                                       class="big">
                                        <img class="img" alt="炒茄子  "
                                             th:src="@{/js/food/images/b8d2076a48a4dc5c429f13eee68c06df_150x150.jpeg}">
                                        <div class="i_w">
                                            <div class="i" style="margin-top: 0px;">
                                                <div class="c1">
                                                    <strong>炒茄子 </strong><span>66 评论  618507 人气</span><em>璐稔</em></div>
                                                <div class="c2">
                                                    <ul>
                                                        <li class="li1">7步 / 大概15分钟</li>
                                                        <li class="li2">炒 / 豆瓣味</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <strong class="gx"><span>抗衰老</span></strong> </a>
                                </div>
                                <div class="listtyle1 ml0">
                                    <a target="_blank"
                                       href="https://www.paichi.net/chufang/diy/jiangchangcaipu/161538.html"
                                       title="香辣肉末茄子" class="big">
                                        <img class="img" alt="香辣肉末茄子" th:src="@{/js/food/images/a1259208_35134.jpeg}">
                                        <div class="i_w">
                                            <div class="i" style="margin-top: 0px;">
                                                <div class="c1">
                                                    <strong>香辣肉末茄子</strong><span>170 评论  295852 人气</span><em>心清似水淡若云</em>
                                                </div>
                                                <div class="c2">
                                                    <ul>
                                                        <li class="li1">大概15分钟</li>
                                                        <li class="li2">烧 / 香辣味</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <strong class="gx"><span>防癌</span></strong> </a>
                                </div>
                                <div class="listtyle1">
                                    <a target="_blank" href="https://www.paichi.net/chufang/diy/sijiacai/124634.html"
                                       title="番茄烧茄子" class="big">
                                        <img class="img" alt="番茄烧茄子"
                                             th:src="@{/js/food/images/bd3d94b045e37b7035a77d631f2b5368_150x150.jpeg}">
                                        <div class="i_w">
                                            <div class="i" style="margin-top: 0px;">
                                                <div class="c1"><strong>番茄烧茄子</strong><span>204 评论  298460 人气</span><em>胖星儿</em>
                                                </div>
                                                <div class="c2">
                                                    <ul>
                                                        <li class="li1">8步 / 大概10分钟</li>
                                                        <li class="li2">炒 / 酸甜味</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <strong class="gx"><span>减肥</span></strong> </a>
                                </div>
                                <div class="listtyle1">
                                    <a target="_blank" href="https://www.paichi.net/chufang/diy/sushi/43457.html"
                                       title="油焖茄子" class="big">
                                        <img class="img" alt="油焖茄子"
                                             th:src="@{/js/food/images/2b024f5171ac45c2e46c9da58f64546f_150x150.jpeg}">
                                        <div class="i_w">
                                            <div class="i" style="margin-top: 0px;">
                                                <div class="c1"><strong>油焖茄子</strong><span>85 评论  464316 人气</span><em>小-春</em>
                                                </div>
                                                <div class="c2">
                                                    <ul>
                                                        <li class="li1">6步 / 大概10分钟</li>
                                                        <li class="li2">焖 / 香辣味</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <strong class="gx"><span>防癌</span></strong> </a>
                                </div>
                            </div>
                            <div class="listtyle1_page">
                                <div class="listtyle1_page_w"><a title="茄子的做法大全第1页" href class="current">1</a><a
                                        title="茄子的做法大全第2页" href="?page=2">2</a><a title="茄子的做法大全第3页"
                                                                                  href="?page=3">3</a><a
                                        title="茄子的做法大全第4页" href="?page=4">4</a><a title="茄子的做法大全第5页"
                                                                                  href="?page=5">5</a><a href="?page=2"
                                                                                                         class="next">下一页</a>
                                </div>
                            </div>
                            <script type="text/javascript" th:src="@{/js/food/js/hculdikzy.js}"></script>
                        </div>
                    </div>
                    <div class="sccon_right" id="sccon_right">
                        <div class="sccon_right_w">
                            <div class="scc_masker pngFix" style="display:block;"></div>
                            <div class="sccon_right_con">
                                <strong class="title1">茄子的百科知识</strong>
                                <strong class="title2">茄子介绍</strong>
                                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;茄子是为数不多的紫色蔬菜之一，也是餐桌上十分常见的家常蔬菜。在它的紫皮中含有丰富的维生素E和维生素P，这是其他蔬菜所不能比的。茄子属茄科，一年生蔬菜。原产印度，我国普遍栽培，是夏季主要蔬菜之一。茄子食用的部位是它的嫩果，按其形状不同可分为圆茄、灯泡茄和线茄三种。圆茄，果为圆球形，皮黑紫色，有光泽，果柄深紫色，果肉浅绿白色，肉质致密而细嫩；灯泡茄，果形似灯泡，皮黑紫色，有光泽，果柄深紫色，果肉浅绿白色，含子较多，肉质略松；线茄，果为细长条形或略弯曲，皮较薄，深紫色或黑紫色，果肉浅绿白色，含子少，肉质细嫩松软，品质好。
                                    <br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;茄子最早产于印度，公元4-5世纪传入中国，南北朝栽培的茄子为圆形，与野生形状相似；元代则培养出长形茄子；到清朝末年，这种长茄被引入日本。现在主要在北半球种植较多。
                                    　　</p>
                                <strong class="title2">茄子的营养价值</strong>
                                <p>1.茄子的营养，也较丰富，含有蛋白质、脂肪、碳水化合物、维 生素以及钙、磷、铁等多种营养成分。特别是维生素P的含量很高。每100克中即含维生素P750毫克。 　　<br>
                                    2.茄子维生素P能增强人体细胞间的黏着力，增强毛细血管的弹性，减低脆性及渗透性，防止微血管破裂出血。<br>
                                    3.茄子还含磷、钙、钾等微量元素和胆碱、胡芦巴碱、水苏碱、龙葵碱等多种生物碱。尤其是紫色茄子中维生素含量更高。可以抑制消化道肿瘤细胞的增值。</p>
                                <strong class="title2">茄子的食用效果</strong>
                                <p>1.治胃癌<br>
                                    国外研究结果表明它的抗癌性能是其他有同样作用的蔬菜的好几倍，是抗癌强手。能抑制消化道肿瘤细胞的增值针对胃癌、盲肠癌有较好的抑制作用。<br>
                                    2.抗衰老<br>
                                    茄子含有维生素E，有防止出血和抗衰老功能，常吃茄子，可使血液中胆固醇水平不致增高，对延缓人体衰老具有积极的意义。<br>
                                    3.降低胆固醇保护心血管<br>
                                    经常吃茄子有预防高血压、冠心病、动脉粥样硬化、紫斑症、坏血病及促进伤口愈合等作用。</p>
                                <strong class="title2">茄子的食用禁忌</strong>
                                <p></p>
                                <p>脾胃虚寒、哮喘者不宜多吃。<br><br>
                                    体弱、便溏者不宜多食。<br><br>
                                    手术前吃茄子，麻醉剂可能无法被正常地分解会拖延病人苏醒时间， 影响病人康复速度。</p>
                                <p></p>
                                <strong class="title2"><a href="https://www.paichi.net/xiangke-shicai/茄子"
                                                          title="茄子不能和什么一起吃">茄子的搭配宜忌</a></strong>
                                <ul class="clearfix">
                                    <li class="yi">
                                        <div class="t">宜</div>
                                        <a href="https://www.paichi.net/茄子" class="img">
                                            <img th:src="@{/js/food/images/46ff26140cddcba66a59ef101bb7a4a0_70x70.jpeg}">
                                        </a>
                                        <span class="add"></span>
                                        <a class="img" href="https://www.paichi.net/苦瓜">
                                            <img th:src="@{/js/food/images/e42c1901635df0e2483221ce2a644ad9_70x70.jpeg}">
                                        </a>
                                        <p>
                                            <a target="_blank" title="茄子和苦瓜能一起吃吗？"
                                               href="https://www.paichi.net/wenda/qiezi-kugua-1.html">
                                                茄子 + 苦瓜，对缓解心血管疾病有良好功效
                                            </a></p></li>
                                    <li class="yi">
                                        <div class="t">宜</div>
                                        <a href="https://www.paichi.net/茄子" class="img">
                                            <img th:src="@{/js/food/images/46ff26140cddcba66a59ef101bb7a4a0_70x70.jpeg}">
                                        </a>
                                        <span class="add"></span>
                                        <a class="img" href="https://www.paichi.net/猪肉">
                                            <img th:src="@{/js/food/images/211444ad3bcec7436e047c4f50ff67a0_70x70.jpeg}">
                                        </a>
                                        <p>
                                            <a target="_blank" title="茄子和猪肉能一起吃吗？"
                                               href="https://www.paichi.net/wenda/qiezi-zhurou-1.html">
                                                茄子 + 猪肉，降低胆固醇的吸收 稳定血糖
                                            </a></p></li>
                                    <li class="yi">
                                        <div class="t">宜</div>
                                        <a href="https://www.paichi.net/茄子" class="img">
                                            <img th:src="@{/js/food/images/46ff26140cddcba66a59ef101bb7a4a0_70x70.jpeg}">
                                        </a>
                                        <span class="add"></span>
                                        <a class="img" href="https://www.paichi.net/猪肉馅">
                                            <img th:src="@{/js/food/images/c8b15696a980ae7ac693ffcc1a5103d4_70x70.jpeg}">
                                        </a>
                                        <p>
                                            <a target="_blank" title="茄子和猪肉馅能一起吃吗？"
                                               href="https://www.paichi.net/wenda/qiezi-zhurouxian-1.html">
                                                茄子 + 猪肉馅，降低胆固醇的吸收 稳定血糖
                                            </a></p></li>
                                    <li class="yi">
                                        <div class="t">宜</div>
                                        <a href="https://www.paichi.net/茄子" class="img">
                                            <img th:src="@{/js/food/images/46ff26140cddcba66a59ef101bb7a4a0_70x70.jpeg}">
                                        </a>
                                        <span class="add"></span>
                                        <a class="img" href="https://www.paichi.net/菠菜">
                                            <img th:src="@{/js/food/images/39d74e9bfde79ebc96541ab744865293_70x70.jpeg}">
                                        </a>
                                        <p>
                                            <a target="_blank" title="茄子和菠菜能一起吃吗？"
                                               href="https://www.paichi.net/wenda/qiezi-bocai-1.html">
                                                茄子 + 菠菜，加快血液循环 预防癌症
                                            </a></p></li>
                                    <li class="ji">
                                        <div class="t">忌</div>
                                        <a href="https://www.paichi.net/茄子" class="img">
                                            <img th:src="@{/js/food/images/46ff26140cddcba66a59ef101bb7a4a0_70x70.jpeg}">
                                        </a>
                                        <span class="add"></span>
                                        <a class="img" href="https://www.paichi.net/大闸蟹">
                                            <img th:src="@{/js/food/images/1caad250e69a65e95f619e07eb55da46_70x70.jpeg}">
                                        </a>
                                        <p>
                                            <a target="_blank" title="茄子和大闸蟹能一起吃吗？"
                                               href="https://www.paichi.net/wenda/qiezi-dazhaxie-2.html">
                                                茄子 + 大闸蟹，损伤肠胃
                                            </a></p></li>
                                    <li class="ji">
                                        <div class="t">忌</div>
                                        <a href="https://www.paichi.net/茄子" class="img">
                                            <img th:src="@{/js/food/images/46ff26140cddcba66a59ef101bb7a4a0_70x70.jpeg}">
                                        </a>
                                        <span class="add"></span>
                                        <a class="img" href="https://www.paichi.net/红蟹">
                                            <img th:src="@{/js/food/images/540c9531b9f58ff7ebef2af5579e975e_70x70.jpeg}">
                                        </a>
                                        <p>
                                            <a target="_blank" title="茄子和红蟹能一起吃吗？"
                                               href="https://www.paichi.net/wenda/qiezi-hongxie-2.html">
                                                茄子 + 红蟹，损肠胃
                                            </a></p></li>
                                    <li class="ji">
                                        <div class="t">忌</div>
                                        <a href="https://www.paichi.net/茄子" class="img">
                                            <img th:src="@{/js/food/images/46ff26140cddcba66a59ef101bb7a4a0_70x70.jpeg}">
                                        </a>
                                        <span class="add"></span>
                                        <a class="img" href="https://www.paichi.net/墨鱼">
                                            <img th:src="@{/js/food/images/75b4e73b4cf5987bfd68baec53a531d8_70x70.jpeg}">
                                        </a>
                                        <p>
                                            <a target="_blank" title="茄子和墨鱼能一起吃吗？"
                                               href="https://www.paichi.net/wenda/qiezi-moyu-2.html">
                                                茄子 + 墨鱼，同食容易引起霍乱
                                            </a></p></li>
                                    <li class="ji">
                                        <div class="t">忌</div>
                                        <a href="https://www.paichi.net/茄子" class="img">
                                            <img th:src="@{/js/food/images/46ff26140cddcba66a59ef101bb7a4a0_70x70.jpeg}">
                                        </a>
                                        <span class="add"></span>
                                        <a class="img" href="https://www.paichi.net/河蟹">
                                            <img th:src="@{/js/food/images/40fe0f6ef22dca3661f792e357a3a534_70x70.jpeg}">
                                        </a>
                                        <p>
                                            <a target="_blank" title="茄子和河蟹能一起吃吗？"
                                               href="https://www.paichi.net/wenda/qiezi-hexie-2.html">
                                                茄子 + 河蟹，损肠胃 </a></p></li>
                                    <li class="ji">
                                        <div class="t">忌</div>
                                        <a href="https://www.paichi.net/茄子" class="img">
                                            <img th:src="@{/js/food/images/46ff26140cddcba66a59ef101bb7a4a0_70x70.jpeg}">
                                        </a>
                                        <span class="add"></span>
                                        <a class="img" href="https://www.paichi.net/乌鳢">
                                            <img th:src="@{/js/food/images/shicai946_70x70.jpeg}">
                                        </a>
                                        <p>
                                            <a target="_blank" title="茄子和乌鳢能一起吃吗？"
                                               href="https://www.paichi.net/wenda/qiezi-wuli-2.html">
                                                茄子 + 乌鳢，同食有损肠胃。 </a></p></li>
                                    <li class="ji">
                                        <div class="t">忌</div>
                                        <a href="https://www.paichi.net/茄子" class="img">
                                            <img th:src="@{/js/food/images/46ff26140cddcba66a59ef101bb7a4a0_70x70.jpeg}">
                                        </a>
                                        <span class="add"></span>
                                        <a class="img" href="https://www.paichi.net/墨鱼(干)">
                                            <img th:src="@{/js/food/images/shicai1061_70x70.jpeg}">
                                        </a>
                                        <p>
                                            <a target="_blank" title="茄子和墨鱼(干)能一起吃吗？"
                                               href="https://www.paichi.net/wenda/qiezi-moyugan-2.html">
                                                茄子 + 墨鱼(干)，一起吃容易引起霍乱 </a></p></li>
                                </ul>
                                <strong class="title2">茄子的选购</strong>
                                <p></p>
                                <p>
                                    茄子以果形均匀周正、老嫩适度、无裂口、腐烂、锈皮、斑点、皮薄、子少、肉厚、细嫩的为佳品。嫩茄子颜色发乌暗、皮薄肉松、重量少、子嫩味甜、子肉不易分离、花萼下部有一片绿白色的皮。老茄子颜色光亮发光滑、皮厚而紧、肉坚子实、子容易分离、子黄硬、重量大、有的带苦味。</p>
                                <p></p>
                                <strong class="title2">茄子的存储</strong>
                                <p></p>
                                <p>
                                    茄子的表皮覆盖着一层蜡质，它不仅使茄子发出光泽，而且具有保护茄子的作用，一旦蜡质层被冲刷掉或受机械损害，就容易受微生物侵害而腐烂变质。因此，要保存的茄子绝对不能用水冲洗，还要防雨淋，防磕碰，防受热，并存放在阴凉通风处。
                                    　　</p>
                                <p></p>
                                <strong class="title2">茄子的烹饪小技巧</strong>
                                <p></p>
                                <p>切开的茄子可用清水浸泡，烹制前再捞出来，这样可以防治茄子变黑。</p>
                                <p></p>
                            </div>
                        </div>
                        <div class="sc_ad">
                            <script>
                                (function () {
                                    var s = "_" + Math.random().toString(36).slice(2);
                                    document.write('<div id="' + s + '"></div>');
                                    (window.slotbydup = window.slotbydup || []).push({
                                        id: '740582',
                                        container: s,
                                        size: '230,300',
                                        display: 'inlay-fix'
                                    });
                                })();
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        (function (win, doc) {
            var s = doc.createElement("script"), h = doc.getElementsByTagName("head")[0];
            if (!win.alimamatk_show) {
                s.charset = "gbk";
                s.async = true;
                s.src = "http://a.alimama.cn/tkapi.js";
                s.kslite = "";
                h.insertBefore(s, h.firstChild);
            }
            var o = {
                pid: "mm_10008787_2640448_11521435",
                unid: "",
                rd: 2,
                appkey: "",
                plugins: [{name: "keyword"}]
            };
            win.alimamatk_onload = win.alimamatk_onload || [];
            win.alimamatk_onload.push(o);
        })(window, document);
    </script>
</div>
<div style="margin:0 auto;padding-top:20px;width:990px;">
    <div style="display:inline-block;vertical-align:top;">
        <script type="text/javascript" th:src="@{/js/food/js/fasjbsigw.js}"></script>
    </div>
    <div style="display:inline-block;vertical-align:top;">
        <script type="text/javascript" th:src="@{/js/food/js/idvmevlje.js}"></script>
    </div>
</div>
<div class="main_footer pngFix">
    <div class="footer_con1 clearfix">
        <!--<p class="text pngFix"><a href="https://www.paichi.net/" class="footer_homelink"></a></p>-->
        <div class="logobottom"
             style="height:196px;width:600px;background: url(/js/food/images/20190606113304_957.png) left center no-repeat;background-size:70% auto;">
            <a href="http://www.meishi.cc" style="height:100%;width:200px;display:block;"></a>
        </div>
        <div class="links">
            <ul class="cleearfix">
                <li class="sina"><a class="img" target="_blank"
                                    href="https://e.weibo.com/paichi"><span>关注：49万</span></a>
                    <p><a target="_blank" href="https://e.weibo.com/paichi">点击进入<br>PaiChi官方微博</a></p></li>
                <li class="tengxun"><a class="img" target="_blank" href="https://user.qzone.qq.com/613171717"><span>关注：10.9万</span></a>
                    <p><a target="_blank" href="https://user.qzone.qq.com/613171717">点击进入<br>PaiChiQQ空间</a></p></li>
                <li class="weixin"><a target="_blank" href="https://sj.meishi.cc/" class="img"></a>
                    <p><a target="_blank" href="https://sj.meishi.cc/">扫描二维码添加<br>PaiChi为微信好友</a></p></li>
                <li class="download"><a target="_blank" href="https://sj.meishi.cc/" class="img"></a>
                    <p><a target="_blank" href="https://sj.meishi.cc/">扫描二维码下载<br>PaiChi手机客户端</a></p></li>
            </ul>
        </div>
    </div>
    <div class="footer_con3">
        <ul class="clearfix">
            <li><a target="_blank" href="https://j.meishi.cc/" title="公司简介">公司简介</a></li>
            <li><a target="_blank" href="https://j.meishi.cc/aboutus.html" title="关于我们">关于我们</a></li>
            <li><a target="_blank" href="https://j.meishi.cc/download.html" title="产品下载">产品下载</a></li>
            <li><a target="_blank" href="https://j.meishi.cc/joinus.html" title="加入我们">加入我们</a></li>
            <li><a target="_blank" href="https://j.meishi.cc/contactus.html" title="联系我们">联系我们</a></li>
            <li><a target="_blank" href="https://j.meishi.cc/contactus.html" title="商务合作">商务合作</a></li>
            <li><a target="_blank" href="https://www.paichi.net/siteinfo/user_agreement.php" title="用户协议">用户协议</a></li>
            <li><a target="_blank" href="https://www.paichi.net/siteinfo/privacy.php" title="用户协议">隐私政策</a></li>
            <li><a target="_blank" href="https://www.paichi.net/siteinfo/maps.php" title="网站地图">网站地图</a></li>
            <li><a target="_blank" href="https://www.paichi.net/siteinfo/links.php" title="友情链接">友情链接</a></li>
        </ul>
        <p><a target="_blank" href="https://www.miibeian.gov.cn" class="gray_a">京ICP备14030359号</a>/<a target="_blank"
                                                                                                      href="https://beian.gov.cn/"
                                                                                                      class="gray_a"><img
                th:src="@{/js/food/images/20180208111357_93713.png}">京公网安备11010802026928</a> Copyright © 2003-2020 paichi CO.,LTD.</p>
    </div>
</div>
<div style="display:none;">
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cspan id='cnzz_stat_icon_1259001544'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/stat.php%3Fid%3D1259001544' type='text/javascript'%3E%3C/script%3E"));</script>
</div>
</body>
</html>