<!DOCTYPE html>
<head lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>加入我们</title>
    <meta name="keywords" content="PaiChi">
    <meta name="description" content="PaiChi">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/js/about/css/ss_base.css}">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/js/about/css/about1.css}">
    <script type="text/javascript" th:src="@{/js/about/js/jquery.min.js}"></script>
</head>
<body>
<div class="topbar" id="topbar">
    <div class="topbar_c">
        <a href="/" class="logo"></a>
        <ul class="nav">
            <li><a href="/about/index.html"><strong>首页</strong></a></li>
            <li><a href="/about/about_us.html"><strong>关于我们</strong></a></li>
            <!--<li><a href="download.html"><strong>产品下载</strong></a></li>-->
            <li class="active"><a href="/about/join_us.html"><strong>加入我们</strong></a></li>
            <li><a href="/about/contact_us.html"><strong>联系我们</strong></a></li>
        </ul>
    </div>
</div>
<div class="banner1" style="background:url(/js/about/images/20190104170950_407.jpeg) center no-repeat;background-size:cover;">
    <div class="bigtitle">
        <strong>寻 找 发 光 的 你</strong>
        <div class="line"></div>
        <em>关爱 快乐 和谐 学习 执行</em>
    </div>
</div>
<div class="content">
    <div class="desitem">
        <p>
            我们是一个快乐的、有激情的、脚踏实地的团队；我们的团队理念是“关爱、快乐、和谐、学习、执行”；我们为每一位伙伴提倡开放、平等的合作关系，宽松、积极的工作方式，体贴、温暖的“家”环境；我们关注每一位伙伴关注的一切，在这里，你可以走的更远。<br>我们期待你的加入！
        </p>
    </div>
    <div class="title1">
        <h2>福利待遇</h2>
    </div>
    <div class="joinus_list">
        <div class="jl_item"><img src="images/20190902145719_199.jpeg" class="jl_img" alt>
            <p class="jl_des"><strong>高</strong>大上的办公环境</p></div>
        <div class="jl_item"><img src="images/20190104172648_581.jpeg" class="jl_img" alt>
            <p class="jl_des"><strong>免</strong>费零食吃吃吃</p></div>
        <div class="jl_item"><img src="images/20190104172648_945.jpeg" class="jl_img" alt>
            <p class="jl_des"><strong>健</strong>身房、音乐弹唱、游戏机任你玩</p></div>
        <div class="jl_item"><img src="images/20190104172648_180.jpeg" class="jl_img" alt>
            <p class="jl_des"><strong>各</strong>种节日趴，精心定制的生日趴，创意脑洞团建</p></div>
        <div class="jl_item"><img src="images/20190104172648_688.jpeg" class="jl_img" alt>
            <p class="jl_des"><strong>老</strong>板每天陪你玩王者，绝不让你无聊和孤单</p></div>
        <div class="jl_item"><img src="images/20190104172648_836.jpeg" class="jl_img" alt>
            <p class="jl_des"><strong>每</strong>年两次加薪机会，季度奖金，获得期权的机会</p></div>
    </div>
    <div class="title1">
        <h2>招聘职位</h2>
    </div>
    <div class="zpw"
         style="background:url(/js/about/images/20190104181031_969.jpeg) right 100px no-repeat;background-size:50% auto;">
        <div class="zpitem">
            <strong class="t1">新媒体编辑</strong>
            <em class="t2">职责：</em>
            <p class="des">1、负责千万级微信公众号的内容编辑，负责搜集素材、编辑、审校等工作，懂得捕捉相关热点及时进行撰稿发布；<br>
                2、根据部门提供的选题进行素材整理和文案撰写，发布相关软文；<br>
                3、收集、分析和处理微信的意见和反馈信息，提高文章阅读数及转发数等关键指标；<br>
                4、配合公司策划相关推广活动，并参与执行。</p>
            <em class="t2">要求：</em>
            <p class="des">1、喜欢美食，热爱美食；<br>
                2、有较强的专题策划、信息采编整合与写作能力；<br>
                3、有较高的职业素养、敬业精神及团队精神，善于沟通；<br>
                4、能够承受高强度的工作压力。</p>
            <p class="tips">简历请附带项目或作品，邮件主题为：“应聘职位+姓名+手机号”<br>发送至HR@meishi.cc</p>
        </div>
    </div>
    <div class="zpw"
         style="background:url(/js/about/images/20190104180656_296.jpeg) right 100px no-repeat;background-size:50% auto;">
        <div class="zpitem">
            <strong class="t1">产品经理</strong>
            <em class="t2">职责：</em>
            <p class="des">1、独立负责后台产品的策划、实施及维护，对后台产品负责；<br>
                2、负责完成需求调研，制定明确的产品需求，并与业务部门持续沟通，完善后台产品尽最大可能提升内部效率；<br>
                3、有机会参与搭建公司的数据平台，完善数据指标，进而为业务提升提供完整的数据支持；<br>
                4、负责对同类型产品进行调研，帮助公司提升后台产品质量。</p>
            <em class="t2">要求：</em>
            <p class="des">1、3年以上后台产品工作经验，熟悉产品设计业务流程；<br>
                2、独立负责过完整的互联网公司后台产品的搭建及维护；<br>
                3、熟练使用各种产品原型设计工具；<br>
                4、思维清晰善于表达，有良好的跨部门协作能力；<br>
                5、优秀的逻辑思维能力及理解能力，同时善于快速学习和自我提升；<br>
                6、擅长基于数据和用户反馈挖掘需求完善产品；<br>
                7、热爱美食，并对美食相关的互联网产品有自己的认识和理解；<br>
                8、你如果是一个乐天派并且兴趣广泛，那再好不过了；<br>
                9、当然，如果还能乐于分享，有感染力，那就太完美了；<br>
                10、有国内一线互联网工作经验者优先。</p>
            <p class="tips">简历请附带项目或作品，邮件主题为：“应聘职位+姓名+手机号”<br>发送至HR@meishi.cc</p>
        </div>
    </div>
    <div class="zpw"
         style="background:url(/js/about/images/20190104181307_941.jpeg) right 100px no-repeat;background-size:50% auto;">
        <div class="zpitem">
            <strong class="t1">销售总监</strong>
            <em class="t2">职责：</em>
            <p class="des">1、负责客户开发和广告销售，具备客户开拓能力；”<br>
                2、完成广告销售任务指标；”<br>
                3、建立和管理销售队伍，招募、培训、激励、考核下属员工，提升部门工作效率。</p>
            <em class="t2">要求：</em>
            <p class="des">1、具备5年以上广告销售能力及经验、营销策划能力（互联网广告销售背景优先，但同样欢迎具备其它媒体类型的销售经历）；”<br>
                2、具备客户开拓能力、具备正确的价格观和职业操守；”<br>
                3、厨电、食品快销、调味料、日化等行业客户资源优先录用。</p>
            <p class="tips">简历请附带项目或作品，邮件主题为：“应聘职位+姓名+手机号”<br>发送至HR@meishi.cc</p>
        </div>
    </div>
    <div class="zpw"
         style="background:url(/js/about/images/20190104180657_252.jpeg) right 100px no-repeat;background-size:50% auto;">

        <div class="zpitem">
            <strong class="t1">高级运维工程师</strong>
            <em class="t2">职责：</em>
            <p class="des">1、负责网络以及服务器的网络设置、维护和优化、网络的安全监控、系统性能管理和优化、网络性能管理和优化；<br>
                2、负责日常网络及各子系统管理维护；<br>
                3、负责配合开发搭建测试平台，协助开发设计、推行、实施和持续改；<br>
                4、负责相关故障、疑难问题排查处理，编制汇总故障、问题，定期提交汇总报告；<br>
                5、负责网络监控和应急反应，以确保网络系统有7*24小时的持续运作能力，保证系统的稳定。</p>
            <em class="t2">要求：</em>
            <p class="des">1、3年以上大型项目运维工作经验（centos,redhat）；<br>
                2、熟悉LNMP架构（nginx,mysql,php）；<br>
                3、熟悉redis,memcached,lvs常用服务的部署优化；<br>
                4、具有丰富的网络故障排查和解决经验，突出的网络故障的分析和解决问题能力；<br>
                5、精通网络系统及架构部署，精通网络相关原理，深入了解TCP/IP协议，具备高密度数据中心网络规划与实施运维经验；<br>
                6、熟悉大中型网络和数据中心系统、网络、存储、备份和安全等架构的配置和管理，具有大中型网络架构设计与维护能力；<br>
                7、能够运用python、perl或shell编写网络运维工具，熟练使用linux常用命令；<br>
                8、具备较强的交流、沟通和表达能力，以及较强文档编写能力； <br>
                9、具有优秀的项目控制、组织和协调的能力，良好推动力、执行力及自我驱动力；<br>
                10、有Linux内核研究、移植、调优、开发经验者优先。</p>
            <p class="tips">简历请附带项目或作品，邮件主题为：“应聘职位+姓名+手机号”<br>发送至HR@meishi.cc</p>
        </div>
    </div>
    <div class="zpw"
         style="background:url(/js/about/images/20190104180657_630.jpeg) right 100px no-repeat;background-size:50% auto;">
        <div class="zpitem">
            <strong class="t1">短视频广告销售</strong>
            <em class="t2">职责：</em>
            <p class="des">1、负责短视频广告的新客户开发和客户关系维护；<br>
                2、开发潜在客户，并对大客户进行维护和管理，提高客户的忠诚度；<br>
                3、进行销售预测，制定销售计划，参与广告的研究及决策，完成并超越公司设定的销售任务。</p>
            <em class="t2">要求：</em>
            <p class="des">1、大专以上学历，喜欢销售工作并希望高收入提高自己成就感；<br>
                2、至少1年以上广告销售从业经验，熟悉互联网视频产品销售者优先，如（品牌客户、中小客户均可）；<br>
                3、能独立创造业绩能力；<br>
                4、个性开朗，有很强的学习能力和适应能力，可以在短时间内快速了解短视频行业特点并掌握销售资源，能够在高强压力下独立完成销售项目；<br>
                5、工作积极主动、实干、高效率、敢于开拓创新。</p>
            <p class="tips">简历请附带项目或作品，邮件主题为：“应聘职位+姓名+手机号”<br>发送至HR@meishi.cc</p>
        </div>
    </div>
</div>
<div class="bottom"><p>京ICP备 150335号 / 京公网安备 11010802026928 Copyright © 2003-2018 MEISHIJ CO.,LTD.</p></div>
<script>
    $(function () {
        $(window).scroll(function () {
            var st = $(window).scrollTop();
            if (st > 100) {
                $("#topbar").addClass("show");
            } else {
                $("#topbar").removeClass("show");
            }
        });
    });
</script>
</body>
   
    