<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>美食菜单_私人的美食专题 - PaiChi</title>
    <meta name="keywords" content="美食,美食网,菜谱,菜谱网,美食地图,食谱,食谱网,特色食谱,特色美食,美食大全家常菜谱,菜谱大全">
    <meta name="description" content="美食菜单属于每一个人的私人美食专题，PaiChi">
    <meta content="www.meishij.net" name="author">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script>var _hmt = _hmt || [];</script>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/js/recipe_list/css/ss_base.css}">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/js/recipe_list/css/main.css}">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/js/recipe_list/css/list.css}">
    <script type="text/javascript" th:src="@{/js/recipe_list/js/j.m.js}"></script>
    <script type="text/javascript" th:src="@{/js/recipe_list/js/main.js}"></script>
    <script type="text/javascript" th:src="@{/js/recipe_list/js/list.js}"></script>
    <script th:src="@{/js/recipe_list/js/ds.js}"></script>
    <script>var _czc = _czc || [];
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?01dd6a7c493607e115255b7e72de5f40";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();</script>
</head>
<body style>
<div class="adinheader">
    <div class="adinheader_w">
        <script>
            (function () {
                var s = "_" + Math.random().toString(36).slice(2);
                document.write('<div id="' + s + '"></div>');
                (window.slotbydup = window.slotbydup || []).push({
                    id: '206520',
                    container: s,
                    size: '990,40',
                    display: 'inlay-fix'
                });
            })();
        </script>
    </div>
</div>
<div class="header">
    <div class="header_c">
        <a href="/" class="logo pngFix"></a>
        <div class="main_search_top_w">
            <div class="suggestionsBox" id="suggestions" style="display:none;">
                <ul class="suggestionList" id="autoSuggestionsList"></ul>
            </div>
            <form class="search" action="https://so.meishi.cc/">
                <input type="text" class="text" name="q" defaultval="请输入菜谱/食材/菜单/作者" x-webkit-speech
                       value="请输入菜谱/食材/菜单/作者" autocomplete="off"
                       onfocus="if(this.value=='请输入菜谱/食材/菜单/作者'){this.value='';}$(this).css('color','#333');"
                       onblur="if(this.value==''){this.value='请输入菜谱/食材/菜单/作者';$(this).css('color','#999');}"
                       href="/ajax/ajaxtitle.php" id="inputString"><input type="submit" class="submit" value="搜 索">
            </form>
        </div>
        <div class="loginitem_h">
            <script th:src="@{/js/recipe_list/js/loginheader_n2.js}"></script>
        </div>
    </div>
</div>
<div class="nav">
    <ul id="main_nav">
        <li><a href="/" class="link pngFix"><strong>首页</strong></a></li>
        <li class="hasmore">
            <a href="https://www.meishij.net/chufang/diy/" class="link pngFix"><strong>菜谱大全</strong></a>
            <div class="dw clearfix">
                <div class="dww clearfix dww_cpdq">
                    <div class="dwitem clearfix pngFix">
                        <dl class="clearfix">
                            <dt><a href="https://www.meishij.net/chufang/diy/">家常菜谱</a></dt>
                            <dd><a href="https://www.meishij.net/chufang/diy/jiangchangcaipu/">家常菜</a></dd>
                            <dd><a href="https://www.meishij.net/chufang/diy/langcaipu/">凉菜</a></dd>
                            <dd><a href="https://www.meishij.net/chufang/diy/sushi/">素食</a></dd>
                            <dd><a href="https://www.meishij.net/chufang/diy/wancan/">晚餐</a></dd>
                            <dd><a href="https://www.meishij.net/chufang/diy/sijiacai/">私家菜</a></dd>
                            <dd><a href="https://www.meishij.net/chufang/diy/recaipu/">热菜</a></dd>
                            <dd><a href="https://www.meishij.net/chufang/diy/haixian/">海鲜</a></dd>
                            <dd><a href="https://www.meishij.net/chufang/diy/yunfu/">孕妇</a></dd>
                            <dd><a href="https://www.meishij.net/chufang/diy/zaocan/">早餐</a></dd>
                            <dd><a href="https://www.meishij.net/chufang/diy/wucan/">午餐</a></dd>
                            <dd><a href="https://www.meishij.net/chufang/diy/tianpindianxin/">甜品点心</a></dd>
                            <dd><a href="https://www.meishij.net/chufang/diy/tangbaocaipu/">汤粥</a></dd>
                            <dd><a href="https://www.meishij.net/chufang/diy/baobaocaipu/">宝宝食谱-婴儿食谱</a></dd>
                            <dd><a href="https://www.meishij.net/chufang/diy/gaodianxiaochi/">糕点主食</a></dd>
                            <dd><a href="https://www.meishij.net/chufang/diy/weibolucaipu/">微波炉</a></dd>
                        </dl>
                    </div>
                    <div class="dwitem dwitem_half clearfix">
                        <dl class="clearfix">
                            <dt><a href="https://www.meishij.net/china-food/caixi/">中华菜系</a></dt>
                            <dd><a href="https://www.meishij.net/china-food/caixi/chuancai/">川菜</a></dd>
                            <dd><a href="https://www.meishij.net/china-food/caixi/yuecai/">粤菜</a></dd>
                            <dd><a href="https://www.meishij.net/china-food/caixi/dongbeicai/">东北菜</a></dd>
                            <dd><a href="https://www.meishij.net/china-food/caixi/xiangcai/">湘菜</a></dd>
                            <dd><a href="https://www.meishij.net/china-food/caixi/lucai/">鲁菜</a></dd>
                            <dd><a href="https://www.meishij.net/china-food/caixi/zhecai/">浙菜</a></dd>
                            <dd><a href="https://www.meishij.net/china-food/caixi/hubeicai/">湖北菜</a></dd>
                            <dd><a href="https://www.meishij.net/china-food/caixi/qingzhencai/">清真菜</a></dd>
                        </dl>
                    </div>
                    <div class="dwitem dwitem_half clearfix">
                        <dl class="clearfix">
                            <dt><a href="https://www.meishij.net/china-food/xiaochi/">各地小吃</a></dt>
                            <dd><a href="https://www.meishij.net/china-food/xiaochi/sichuan/">四川小吃</a></dd>
                            <dd><a href="https://www.meishij.net/china-food/xiaochi/guangdong/">广东小吃</a></dd>
                            <dd><a href="https://www.meishij.net/china-food/xiaochi/beijing/">北京小吃</a></dd>
                            <dd><a href="https://www.meishij.net/china-food/xiaochi/shanxii/">陕西小吃</a></dd>
                        </dl>
                    </div>
                    <br>
                    <div class="dwitem dwitem_half clearfix">
                        <dl class="clearfix">
                            <dt><a href="https://www.meishij.net/chufang/diy/guowaicaipu1/">外国菜谱</a></dt>
                            <dd><a href="https://www.meishij.net/chufang/diy/guowaicaipu1/hanguo/">韩国料理</a></dd>
                            <dd><a href="https://www.meishij.net/chufang/diy/guowaicaipu1/japan/">日本料理</a></dd>
                            <dd><a href="https://www.meishij.net/chufang/diy/guowaicaipu1/faguo/">法国菜</a></dd>
                            <dd><a href="https://www.meishij.net/chufang/diy/guowaicaipu1/yidali/">意大利餐</a></dd>
                        </dl>
                    </div>
                    <div class="dwitem dwitem_half clearfix">
                        <dl class="clearfix">
                            <dt><a href="https://www.meishij.net/hongpei/">烘焙</a></dt>
                            <dd><a href="https://www.meishij.net/hongpei/dangaomianbao/">蛋糕面包</a></dd>
                            <dd><a href="https://www.meishij.net/hongpei/bingganpeifang/">饼干配方</a></dd>
                            <dd><a href="https://www.meishij.net/hongpei/tianpindianxin/">甜品点心</a></dd>
                        </dl>
                    </div>
                    <br>
                    <div class="dwitem dwitem_half clearfix">
                        <dl class="clearfix">
                            <dt><a href="https://www.meishij.net/pengren/">厨房百科</a></dt>
                            <dd><a href="https://www.meishij.net/pengren/baipanzhoubian/">摆盘围边</a></dd>
                            <dd><a href="https://www.meishij.net/pengren/jiqiao/">烹饪技巧</a></dd>
                            <dd><a href="https://www.meishij.net/pengren/chufangmiaozhao/">生活妙招</a></dd>
                            <dd><a href="https://www.meishij.net/pengren/chufang/">美食专题</a></dd>
                        </dl>
                    </div>
                    <div class="dwitem dwitem_half clearfix">
                        <dl class="clearfix">
                            <dt><a href="https://www.meishij.net/shicai/">食材百科</a></dt>
                            <dd><a href="https://www.meishij.net/shicai/shucai_list">蔬菜</a></dd>
                            <dd><a href="https://www.meishij.net/shicai/shuiguo_list">水果</a></dd>
                            <dd><a href="https://www.meishij.net/shicai/gulei_list">谷类</a></dd>
                        </dl>
                    </div>
                    <div class="bgitem"></div>
                </div>
            </div>
        </li>
        <li class="hasmore"><a href="https://www.meishij.net/jiankang/" class="link pngFix"><strong>饮食健康</strong></a>
            <div class="dw clearfix">
                <div class="dww clearfix dww_ysjk">
                    <div class="dwitem clearfix pngFix">
                        <dl class="clearfix">
                            <dt><a href="https://www.meishij.net/jiankang/">饮食健康</a></dt>
                            <dd><a href="https://www.meishij.net/jiankang/changshi/">饮食小常识</a></dd>
                            <dd><a href="https://www.meishij.net/jiankang/meirong/">美容瘦身</a></dd>
                            <dd><a href="https://www.meishij.net/jiankang/shipinanquan/">食品安全</a></dd>
                            <dd><a href="https://www.meishij.net/jiankang/yangsheng/">养生妙方</a></dd>
                            <dd><a href="https://www.meishij.net/jiankang/jinji/">饮食禁忌</a></dd>
                            <dd><a href="https://www.meishij.net/jiankang/zhongyi/">中医保健</a></dd>
                            <dd><a href="https://www.meishij.net/jiankang/muying/">母婴健康饮食</a></dd>
                            <dd><a href="https://www.meishij.net/jiankang/yinshixinwen/">饮食新闻</a></dd>
                        </dl>
                    </div>
                    <div class="dwitem clearfix">
                        <dl class="clearfix">
                            <dt><a href="https://www.meishij.net/yaoshanshiliao/gongnengxing/">功能性调理</a></dt>
                            <dd><a href="https://www.meishij.net/yaoshanshiliao/gongnengxing/qingrequhuo/">清热去火</a></dd>
                            <dd><a href="https://www.meishij.net/yaoshanshiliao/gongnengxing/jianfei/">减肥</a></dd>
                            <dd><a href="https://www.meishij.net/yaoshanshiliao/gongnengxing/qutan/">祛痰</a></dd>
                            <dd><a href="https://www.meishij.net/yaoshanshiliao/gongnengxing/wufa/">乌发</a></dd>
                            <dd><a href="https://www.meishij.net/yaoshanshiliao/gongnengxing/ziyinbushen/">滋阴补肾</a></dd>
                            <dd><a href="https://www.meishij.net/yaoshanshiliao/gongnengxing/jianpikaiwei/">健脾开胃</a>
                            </dd>
                            <dd><a href="https://www.meishij.net/yaoshanshiliao/gongnengxing/xiaohuabulang/">消化不良</a>
                            </dd>
                            <dd><a href="https://www.meishij.net/yaoshanshiliao/gongnengxing/qingrejiedu/">清热解毒</a></dd>
                            <dd><a href="https://www.meishij.net/yaoshanshiliao/gongnengxing/buyangzhuangyang/">补阳壮阳</a>
                            </dd>
                            <dd><a href="https://www.meishij.net/yaoshanshiliao/gongnengxing/zengfei/">增肥</a></dd>
                        </dl>
                    </div>
                    <br>
                    <div class="dwitem dwitem_half clearfix">
                        <dl class="clearfix">
                            <dt><a href="https://www.meishij.net/yaoshanshiliao/renqunshanshi/">人群膳食</a></dt>
                            <dd><a href="https://www.meishij.net/yaoshanshiliao/renqunshanshi/yunfu/">孕妇</a></dd>
                            <dd><a href="https://www.meishij.net/yaoshanshiliao/renqunshanshi/laoren/">老人</a></dd>
                            <dd><a href="https://www.meishij.net/yaoshanshiliao/renqunshanshi/chanfu/">产妇</a></dd>
                            <dd><a href="https://www.meishij.net/yaoshanshiliao/renqunshanshi/rumu/">哺乳期</a></dd>
                            <dd><a href="https://www.meishij.net/yaoshanshiliao/renqunshanshi/qingshaonian/">青少年</a>
                            </dd>
                            <dd><a href="https://www.meishij.net/yaoshanshiliao/renqunshanshi/rouer/">幼儿</a></dd>
                            <dd><a href="https://www.meishij.net/yaoshanshiliao/renqunshanshi/xuelingqi/">学龄期儿童</a></dd>
                        </dl>
                    </div>
                    <div class="dwitem dwitem_half clearfix">
                        <dl class="clearfix">
                            <dt><a href="https://www.meishij.net/yaoshanshiliao/jibingtiaoli/">疾病调理</a></dt>
                            <dd><a href="https://www.meishij.net/yaoshanshiliao/jibingtiaoli/tangniaobing/">糖尿病</a></dd>
                            <dd><a href="https://www.meishij.net/yaoshanshiliao/jibingtiaoli/gaoxueya/">高血压</a></dd>
                            <dd><a href="https://www.meishij.net/yaoshanshiliao/jibingtiaoli/tongfeng/">痛风</a></dd>
                            <dd><a href="https://www.meishij.net/yaoshanshiliao/jibingtiaoli/weiyan/">胃炎</a></dd>
                            <dd><a href="https://www.meishij.net/yaoshanshiliao/jibingtiaoli/zhichuang/">痔疮</a></dd>
                            <dd><a href="https://www.meishij.net/yaoshanshiliao/jibingtiaoli/gengnianqi/">更年期</a></dd>
                            <dd><a href="https://www.meishij.net/yaoshanshiliao/jibingtiaoli/jiakangxian/">甲状腺</a></dd>
                        </dl>
                    </div>
                    <br>
                    <div class="dwitem clearfix">
                        <dl class="clearfix">
                            <dt><a href="https://www.meishij.net/yaoshanshiliao/zangfu/">脏腑调理</a></dt>
                            <dd><a href="https://www.meishij.net/yaoshanshiliao/zangfu/ganmao/">感冒</a></dd>
                            <dd><a href="https://www.meishij.net/yaoshanshiliao/zangfu/shentiaoli/">补肾</a></dd>
                            <dd><a href="https://www.meishij.net/yaoshanshiliao/zangfu/yangweizaoxie/">阳痿早泄</a></dd>
                            <dd><a href="https://www.meishij.net/yaoshanshiliao/zangfu/buxue/">补血</a></dd>
                            <dd><a href="https://www.meishij.net/yaoshanshiliao/zangfu/bianmi/">便秘</a></dd>
                            <dd><a href="https://www.meishij.net/yaoshanshiliao/zangfu/fuxie/">腹泻</a></dd>
                            <dd><a href="https://www.meishij.net/yaoshanshiliao/zangfu/houxuehuayu/">活血化瘀</a></dd>
                        </dl>
                    </div>
                    <div class="bgitem"></div>
                </div>
            </div>
        </li>
        <li class="current"><a href="https://i.meishi.cc/recipe_list/" class="link pngFix"><strong>美食菜单</strong></a>
        </li>
        <li style="position:relative;z-index:100;">
            <a style="padding:0 11px;" href="https://i.meishi.cc/jiajuguan/" class="link pngFix">
                <strong>家居馆</strong>
            </a>
        </li>
        <li><a href="https://i.meishi.cc/daren_task/daren.php" class="link"><strong>美食达人</strong><img
                th:src="@{/js/recipe_list/images/20160909164810_443.png}"
                style="display:inline-block;margin-left:-7px;vertical-align:top;margin-top:8px;"></a></li>
        <li><a href="https://www.meishij.net/video/" class="link pngFix"><strong>菜谱视频</strong></a></li>
        <li><a href="https://i.meishi.cc/download_msj.php" class="link pngFix"><strong>产品下载</strong></a></li>
    </ul>
</div>
<div class="main_search main_search_slideUp pngFix" slideUp="1" style="_display:none;" id="main_search">
    <div class="main_search_w">
        <div class="searchform_div">
            <form action="https://so.meishi.cc/" target="_blank"><input type="text" class="text" name="q"
                                                                        x-webkit-speech autocomplete="off"
                                                                        id="inputString" placeholder="输入菜谱、食材、作者"><input
                    type="submit" class="submit" value="搜 索"></form>
        </div>
        <span id="searchslideup_btn" class="pngFix" style="background-position:0px -48px;">自动收缩</span>
    </div>
</div>
<div class="bottom_back_top_top bottom_back_top_top_slideUp" id="bottom_back_top_top"><a href="#"
                                                                                         class="backtotop pngFix">回到顶部</a>
</div>
<div class="main_w clearfix">
    <div class="main">
        <div class="bbtitles" id="bbtitles">菜单是你的一桌饭
            <span class="paixu_cd">
                <a class="l_n current" href="https://i.meishi.cc/recipe_list/?st=new#bbtitles">最新</a>　
                <a class="l_n" href="https://i.meishi.cc/recipe_list/?st=hot#bbtitles">最热</a>
            </span>
        </div>
        <div class="cdlist_main" id="cdlist">
            <span class="loading">加载中...</span>
            <div class="cdlist_w cdlist_w_current" po="1">
                <div class="cdlist_item_style1 clearfix">
                    <h3><a href="https://i.meishi.cc/recipe_list/detail.php?cid=17330825">我的菜单</a></h3>
                    <span class="cpcount"><em>12</em>篇菜谱</span>
                    <div class="info">
                        <dl>
                            <dd><strong class="tag">2018-07-05 11:36</strong></dd>
                        </dl>
                        <a class="author" href="https://i.meishi.cc/cook.php?id=12947507"><img
                                th:src="@{/js/recipe_list/images/tx2_9.png}"><strong>柠檬8326</strong></a>
                    </div>
                    <ul class="cplist">
                        <li><a href="https://i.meishi.cc/recipe_list/detail.php?cid=17330825">
                            <img th:src="@{/js/recipe_list/images/a13384850_154468136043363.jpeg}"><h4>酒鬼鸡爪</h4></a></li>
                        <li><a href="https://i.meishi.cc/recipe_list/detail.php?cid=17330825">
                            <img th:src="@{/js/recipe_list/images/a2378495_148513462393239.jpeg}"><h4>番茄鱼片汤</h4></a></li>
                        <li><a href="https://i.meishi.cc/recipe_list/detail.php?cid=17330825">
                            <img th:src="@{/js/recipe_list/images/a494680_146406670448282.jpeg}"><h4>水煮牛肉</h4></a></li>
                        <li><a href="https://i.meishi.cc/recipe_list/detail.php?cid=17330825">
                            <img th:src="@{/js/recipe_list/images/a9198668_150294089048550.jpeg}"><h4>红薯饼</h4></a></li>
                        <li><a href="https://i.meishi.cc/recipe_list/detail.php?cid=17330825">
                            <img th:src="@{/js/recipe_list/images/a364242_142174929521875.jpeg}"><h4>老北京炸酱面</h4></a></li>
                    </ul>
                </div>
                <div class="cdlist_item_style1 clearfix">
                    <h3><a href="https://i.meishi.cc/recipe_list/detail.php?cid=19435761">我的菜单</a></h3>
                    <span class="cpcount"><em>10</em>篇菜谱</span>
                    <div class="info">
                        <dl>
                            <dd><strong class="tag">2020-05-16 16:22</strong></dd>
                        </dl>
                        <a class="author" href="https://i.meishi.cc/cook.php?id=14623363"><img
                                th:src="@{/js/recipe_list/images/tx2_3.png}"><strong>杰米9175032545</strong></a>
                    </div>
                    <ul class="cplist">
                        <li><a href="https://i.meishi.cc/recipe_list/detail.php?cid=19435761">
                            <img th:src="@{/js/recipe_list/images/a2798595_145095385400559.jpeg}"><h4>小熊的圣诞礼物便当</h4></a></li>
                        <li><a href="https://i.meishi.cc/recipe_list/detail.php?cid=19435761">
                            <img th:src="@{/js/recipe_list/images/efc8d7632200b87339161f2009d7cb6b_150x150.jpeg}"><h4>油豆角炖肉</h4></a></li>
                        <li><a href="https://i.meishi.cc/recipe_list/detail.php?cid=19435761">
                            <img th:src="@{/js/recipe_list/images/a8315575_149690024033367.jpeg}"><h4>大辣椒炒肉</h4></a></li>
                        <li><a href="https://i.meishi.cc/recipe_list/detail.php?cid=19435761">
                            <img th:src="@{/js/recipe_list/images/a3995606_150401690895344.jpeg}"><h4>土豆炖豆角</h4></a></li>
                        <li><a href="https://i.meishi.cc/recipe_list/detail.php?cid=19435761">
                            <img th:src="@{/js/recipe_list/images/a6695887_152341974070947.jpeg}"><h4>牛肉炖萝卜</h4></a></li>
                    </ul>
                </div>
                <div class="cdlist_item_style1 clearfix">
                    <h3><a href="https://i.meishi.cc/recipe_list/detail.php?cid=18936348">我的菜单</a></h3>
                    <span class="cpcount"><em>10</em>篇菜谱</span>
                    <div class="info">
                        <dl>
                            <dd><strong class="tag">2019-09-14 16:09</strong></dd>
                        </dl>
                        <a class="author" href="https://i.meishi.cc/cook.php?id=14061490"><img
                                th:src="@{/js/recipe_list/images/tx2_7.png}"><strong>杰米0387024236</strong></a>
                    </div>
                    <ul class="cplist">
                        <li><a href="https://i.meishi.cc/recipe_list/detail.php?cid=18936348">
                            <img th:src="@{/js/recipe_list/images/a4420184_146400135873854.jpeg}"><h4>椒香干煎带鱼</h4></a></li>
                        <li><a href="https://i.meishi.cc/recipe_list/detail.php?cid=18936348">
                            <img th:src="@{/js/recipe_list/images/a9050441_158705722262765.jpeg}"><h4>凤梨咕噜肉</h4></a></li>
                        <li><a href="https://i.meishi.cc/recipe_list/detail.php?cid=18936348">
                            <img th:src="@{/js/recipe_list/images/a13384850_154466951365496.jpeg}"><h4>豆豉回锅肉</h4></a></li>
                        <li><a href="https://i.meishi.cc/recipe_list/detail.php?cid=18936348">
                            <img th:src="@{/js/recipe_list/images/a13187148_154510497670918.jpeg}"><h4>可乐鸡翅</h4></a></li>
                        <li><a href="https://i.meishi.cc/recipe_list/detail.php?cid=18936348">
                            <img th:src="@{/js/recipe_list/images/a1025708_149388094718647.jpeg}"><h4>红烧肉</h4></a></li>
                    </ul>
                </div>
                <div class="cdlist_item_style1 clearfix">
                    <h3><a href="https://i.meishi.cc/recipe_list/detail.php?cid=19586430">我的菜单</a></h3>
                    <span class="cpcount"><em>12</em>篇菜谱</span>
                    <div class="info">
                        <dl>
                            <dd><strong class="tag">44分前</strong></dd>
                        </dl>
                        <a class="author" href="https://i.meishi.cc/cook.php?id=14820834"><img
                                th:src="@{/js/recipe_list/images/tx2_7.png}"><strong>杰米0819698643</strong></a>
                    </div>
                    <ul class="cplist">
                        <li><a href="https://i.meishi.cc/recipe_list/detail.php?cid=19586430">
                            <img th:src="@{/js/recipe_list/images/a13384850_154467049727608.jpeg}"><h4>干拌土豆片</h4></a></li>
                        <li><a href="https://i.meishi.cc/recipe_list/detail.php?cid=19586430">
                            <img th:src="@{/js/recipe_list/images/a113291_154511347525697.jpeg}"><h4>咖喱土豆</h4></a></li>
                        <li><a href="https://i.meishi.cc/recipe_list/detail.php?cid=19586430">
                            <img th:src="@{/js/recipe_list/images/a13119183_154466419247524.jpeg}"><h4>凉拌面</h4></a></li>
                        <li><a href="https://i.meishi.cc/recipe_list/detail.php?cid=19586430">
                            <img th:src="@{/js/recipe_list/images/a13190532_154484161203158.jpeg}"><h4>干锅土豆片</h4></a></li>
                        <li><a href="https://i.meishi.cc/recipe_list/detail.php?cid=19586430">
                            <img th:src="@{/js/recipe_list/images/a9198668_153986709928600.jpeg}"><h4>自制麻辣烫</h4></a></li>
                    </ul>
                </div>
                <div class="cdlist_item_style1 clearfix">
                    <h3><a href="https://i.meishi.cc/recipe_list/detail.php?cid=17382788">我的菜单</a></h3>
                    <span class="cpcount"><em>18</em>篇菜谱</span>
                    <div class="info">
                        <dl>
                            <dd><strong class="tag">2018-07-18 11:35</strong></dd>
                        </dl>
                        <a class="author" href="https://i.meishi.cc/cook.php?id=12985305"><img
                                th:src="@{/js/recipe_list/images/tx2_3.png}"><strong>小木偶964</strong></a>
                    </div>
                    <ul class="cplist">
                        <li><a href="https://i.meishi.cc/recipe_list/detail.php?cid=17382788">
                            <img th:src="@{/js/recipe_list/images/a3542197_151132001979256.jpeg}"><h4>油炸臭豆腐</h4></a></li>
                        <li><a href="https://i.meishi.cc/recipe_list/detail.php?cid=17382788">
                            <img th:src="@{/js/recipe_list/images/a13667263_155395467907612.jpeg}"><h4>油炸猪排</h4></a></li>
                        <li><a href="https://i.meishi.cc/recipe_list/detail.php?cid=17382788">
                            <img th:src="@{/js/recipe_list/images/a2281438_147433553057644.jpeg}"><h4>不用油炸的鸡翅根</h4></a></li>
                        <li><a href="https://i.meishi.cc/recipe_list/detail.php?cid=17382788">
                            <img th:src="@{/js/recipe_list/images/a4125983_150137727745616.jpeg}"><h4>油炸鸡米花</h4></a></li>
                        <li><a href="https://i.meishi.cc/recipe_list/detail.php?cid=17382788">
                            <img th:src="@{/js/recipe_list/images/a13116233_154475344423765.jpeg}"><h4>油炸火腿肠</h4></a></li>
                    </ul>
                </div>
                <div class="cdlist_item_style1 clearfix">
                    <h3><a href="https://i.meishi.cc/recipe_list/detail.php?cid=19417077">我的菜单</a></h3>
                    <span class="cpcount"><em>13</em>篇菜谱</span>
                    <div class="info">
                        <dl>
                            <dd><strong class="tag">2020-05-01 13:30</strong></dd>
                        </dl>
                        <a class="author" href="https://i.meishi.cc/cook.php?id=14647306"><img
                                th:src="@{/js/recipe_list/images/tx2_8.png}"><strong>杰米4026586139</strong></a>
                    </div>
                    <ul class="cplist">
                        <li><a href="https://i.meishi.cc/recipe_list/detail.php?cid=19417077">
                            <img th:src="@{/js/recipe_list/images/a2827639_151556829530544.jpeg}"><h4>油焖大虾</h4></a></li>
                        <li><a href="https://i.meishi.cc/recipe_list/detail.php?cid=19417077">
                            <img th:src="@{/js/recipe_list/images/a30010_154589383979467.jpeg}"><h4>红烧带鱼</h4></a></li>
                        <li><a href="https://i.meishi.cc/recipe_list/detail.php?cid=19417077">
                            <img th:src="@{/js/recipe_list/images/a6878481_155167853936903.jpeg}"><h4>干锅花菜</h4></a></li>
                        <li><a href="https://i.meishi.cc/recipe_list/detail.php?cid=19417077">
                            <img th:src="@{/js/recipe_list/images/nopic.gif}"><h4>清炖鸡汤</h4></a></li>
                        <li><a href="https://i.meishi.cc/recipe_list/detail.php?cid=19417077">
                            <img th:src="@{/js/recipe_list/images/nopic.gif}"><h4>扬州炒饭</h4></a></li>
                    </ul>
                </div>
                <div class="cdlist_item_style1 clearfix">
                    <h3><a href="https://i.meishi.cc/recipe_list/detail.php?cid=10762190">我的菜单</a></h3>
                    <span class="cpcount"><em>10</em>篇菜谱</span>
                    <div class="info">
                        <dl>
                            <dd><strong class="tag">2016-08-21 21:54</strong></dd>
                        </dl>
                        <a class="author" href="https://i.meishi.cc/cook.php?id=6912416"><img
                                th:src="@{/js/recipe_list/images/tx2_3.png}"><strong>中国强(来自微信.)</strong></a>
                    </div>
                    <ul class="cplist">
                        <li><a href="https://i.meishi.cc/recipe_list/detail.php?cid=10762190">
                            <img th:src="@{/js/recipe_list/images/a1259208_142208287596986.jpeg}"><h4>三蔬小炒肉丁</h4></a></li>
                        <li><a href="https://i.meishi.cc/recipe_list/detail.php?cid=10762190">
                            <img th:src="@{/js/recipe_list/images/a13116233_154466782315810.jpeg}"><h4>家常小炒鸡</h4></a></li>
                        <li><a href="https://i.meishi.cc/recipe_list/detail.php?cid=10762190">
                            <img th:src="@{/js/recipe_list/images/a13384097_154450995081685.jpeg}"><h4>电饭煲鸡腿</h4></a></li>
                        <li><a href="https://i.meishi.cc/recipe_list/detail.php?cid=10762190">
                            <img th:src="@{/js/recipe_list/images/a13261690_154485792632806.jpeg}"><h4>蒜香烤茄子</h4></a></li>
                        <li><a href="https://i.meishi.cc/recipe_list/detail.php?cid=10762190">
                            <img th:src="@{/js/recipe_list/images/a4420184_146415633887387.jpeg}"><h4>蚝油香菇油菜</h4></a></li>
                    </ul>
                </div>
                <div class="cdlist_item_style1 clearfix">
                    <h3><a href="https://i.meishi.cc/recipe_list/detail.php?cid=14256927">我的文章</a></h3>
                    <span class="cpcount"><em>11</em>篇菜谱</span>
                    <div class="info">
                        <dl>
                            <dd><strong class="tag">2017-04-04 16:23</strong></dd>
                        </dl>
                        <a class="author" href="https://i.meishi.cc/cook.php?id=9778775"><img
                                th:src="@{/js/recipe_list/images/tx2_4.png}"><strong>草木枝</strong></a>
                    </div>
                    <ul class="cplist">
                        <li><a href="https://i.meishi.cc/recipe_list/detail.php?cid=14256927">
                            <img th:src="@{/js/recipe_list/images/97b2d9fbea8e99df87ed6cac41b7cff1_150x150.jpeg}"><h4>蒸出来的更健康，12种快手下饭菜</h4>
                        </a></li>
                    </ul>
                </div>
                <div class="cdlist_item_style1 clearfix">
                    <h3><a href="https://i.meishi.cc/recipe_list/detail.php?cid=17062671">我的菜单</a></h3>
                    <span class="cpcount"><em>10</em>篇菜谱</span>
                    <div class="info">
                        <dl>
                            <dd><strong class="tag">2018-05-03 05:31</strong></dd>
                        </dl>
                        <a class="author" href="https://i.meishi.cc/cook.php?id=12770212"><img
                                th:src="@{/js/recipe_list/images/tx2_4.png}"><strong>胡尚伟梦空间心理咨询室</strong></a>
                    </div>
                    <ul class="cplist">
                        <li><a href="https://i.meishi.cc/recipe_list/detail.php?cid=17062671">
                            <img th:src="@{/js/recipe_list/images/a8488470_149804336799597.jpeg}"><h4>暴腌脆黄瓜</h4></a></li>
                        <li><a href="https://i.meishi.cc/recipe_list/detail.php?cid=17062671">
                            <img th:src="@{/js/recipe_list/images/3c096d658c1f9c3da573326f771e4fdc_150x150.jpeg}"><h4>鸡腿炖土豆</h4></a></li>
                        <li><a href="https://i.meishi.cc/recipe_list/detail.php?cid=17062671">
                            <img th:src="@{/js/recipe_list/images/a10429822_155895881538753.jpeg}"><h4>东北茄子炖土豆</h4></a></li>
                        <li><a href="https://i.meishi.cc/recipe_list/detail.php?cid=17062671">
                            <img th:src="@{/js/recipe_list/images/a10399764_151896821185437.jpeg}"><h4>东北土豆炖茄子</h4></a></li>
                        <li><a href="https://i.meishi.cc/recipe_list/detail.php?cid=17062671">
                            <img th:src="@{/js/recipe_list/images/a3586137_145665005918649.jpeg}"><h4>烤箱烤红薯</h4></a></li>
                    </ul>
                </div>
                <div class="cdlist_item_style1 clearfix">
                    <h3><a href="https://i.meishi.cc/recipe_list/detail.php?cid=13683425">我的菜单</a></h3>
                    <span class="cpcount"><em>10</em>篇菜谱</span>
                    <div class="info">
                        <dl>
                            <dd><strong class="tag">2017-02-14 17:44</strong></dd>
                        </dl>
                        <a class="author" href="https://i.meishi.cc/cook.php?id=9545003"><img
                                th:src="@{/js/recipe_list/images/q9545003_148706549876128.jpeg}"><strong>传扬(来自微信.)</strong></a>
                    </div>
                    <ul class="cplist">
                        <li><a href="https://i.meishi.cc/recipe_list/detail.php?cid=13683425">
                            <img th:src="@{/js/recipe_list/images/a6801209_156620460892900.jpeg}"><h4>番茄菌菇汤</h4></a></li>
                        <li><a href="https://i.meishi.cc/recipe_list/detail.php?cid=13683425">
                            <img th:src="@{/js/recipe_list/images/a13190532_157533843867144.jpeg}"><h4>酸辣汤</h4></a></li>
                        <li><a href="https://i.meishi.cc/recipe_list/detail.php?cid=13683425">
                            <img th:src="@{/js/recipe_list/images/a13190532_154484252103458.jpeg}"><h4>酸汤肥牛</h4></a></li>
                        <li><a href="https://i.meishi.cc/recipe_list/detail.php?cid=13683425">
                            <img th:src="@{/js/recipe_list/images/a1259208_10320.jpeg}"><h4>三蔬小炒蛋</h4></a></li>
                        <li><a href="https://i.meishi.cc/recipe_list/detail.php?cid=13683425">
                            <img th:src="@{/js/recipe_list/images/a13119183_154440446946130.jpeg}"><h4>过桥豆腐</h4></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="listtyle1_page">
            <div class="listtyle1_page_w"><a href="https://i.meishi.cc/recipe_list/?st=new&page=1#bbtitles"
                                             class="current">1</a><a
                    href="https://i.meishi.cc/recipe_list/?st=new&page=2#bbtitles" class>2</a><a
                    href="https://i.meishi.cc/recipe_list/?st=new&page=3#bbtitles" class>3</a><a
                    href="https://i.meishi.cc/recipe_list/?st=new&page=4#bbtitles" class>4</a><a
                    href="https://i.meishi.cc/recipe_list/?st=new&page=5#bbtitles" class>5</a><span>...</span><a
                    href="https://i.meishi.cc/recipe_list/?st=new&page=2#bbtitles" class="next">下一页</a><span
                    class="gopage"><form action="https://i.meishi.cc/recipe_list/">共244695页，到第 <input type="text"
                                                                                                      class="text"
                                                                                                      value="2"
                                                                                                      name="page"> 页 <input
                    type="submit" class="submit" value="确定"></form></span></div>
        </div>
    </div>
</div>
<div style="margin:0 auto;padding-top:20px;width:990px;">
    <div style="display:inline-block;vertical-align:top;">
        <script type="text/javascript" th:src="@{/js/recipe_list/js/fasjbsigw.js}"></script>
    </div>
    <div style="display:inline-block;vertical-align:top;">
        <script type="text/javascript" th:src="@{/js/recipe_list/js/idvmevlje.js}"></script>
    </div>
</div>
<div class="main_footer pngFix">
    <div class="footer_con1 clearfix">
        <!--<p class="text pngFix"><a href="https://www.meishij.net/" class="footer_homelink"></a></p>-->
        <div class="logobottom"
             style="height:196px;width:600px;background: url(/js/recipe_list/images/20190606113304_957.png) left center no-repeat;background-size:70% auto;">
            <a href="http://www.meishi.cc" style="height:100%;width:200px;display:block;"></a>
        </div>
        <div class="links">
            <ul class="cleearfix">
                <li class="sina"><a class="img" target="_blank"
                                    href="https://e.weibo.com/meishij"><span>关注：49万</span></a>
                    <p><a target="_blank" href="https://e.weibo.com/meishij">点击进入<br>美食杰官方微博</a></p></li>
                <li class="tengxun"><a class="img" target="_blank" href="https://user.qzone.qq.com/613171717"><span>关注：10.9万</span></a>
                    <p><a target="_blank" href="https://user.qzone.qq.com/613171717">点击进入<br>美食杰QQ空间</a></p></li>
                <li class="weixin"><a target="_blank" href="https://sj.meishi.cc/" class="img"></a>
                    <p><a target="_blank" href="https://sj.meishi.cc/">扫描二维码添加<br>美食杰为微信好友</a></p></li>
                <li class="download"><a target="_blank" href="https://sj.meishi.cc/" class="img"></a>
                    <p><a target="_blank" href="https://sj.meishi.cc/">扫描二维码下载<br>美食杰手机客户端</a></p></li>
            </ul>
        </div>
    </div>
    <div class="footer_con3">
        <ul class="clearfix">
            <li><a target="_blank" href="https://j.meishi.cc/" title="公司简介">公司简介</a></li>
            <li><a target="_blank" href="https://j.meishi.cc/aboutus.html" title="关于我们">关于我们</a></li>
            <li><a target="_blank" href="https://j.meishi.cc/download.html" title="产品下载">产品下载</a></li>
            <li><a target="_blank" href="https://j.meishi.cc/joinus.html" title="加入我们">加入我们</a></li>
            <li><a target="_blank" href="https://j.meishi.cc/contactus.html" title="联系我们">联系我们</a></li>
            <li><a target="_blank" href="https://j.meishi.cc/contactus.html" title="商务合作">商务合作</a></li>
            <li><a target="_blank" href="https://www.meishij.net/siteinfo/user_agreement.php" title="用户协议">用户协议</a></li>
            <li><a target="_blank" href="https://www.meishij.net/siteinfo/privacy.php" title="用户协议">隐私政策</a></li>
            <li><a target="_blank" href="https://www.meishij.net/siteinfo/maps.php" title="网站地图">网站地图</a></li>
            <li><a target="_blank" href="https://www.meishij.net/siteinfo/links.php" title="友情链接">友情链接</a></li>
        </ul>
        <p><a target="_blank" href="https://www.miibeian.gov.cn" class="gray_a">京ICP备150335号</a>/<a target="_blank"
                                                                                                    href="https://beian.gov.cn/"
                                                                                                    class="gray_a"><img
                th:src="@{/js/recipe_list/images/20180208111357_93713.png}">京公网安备11010802026928</a> Copyright © 2003-2020 MEISHIJ CO.,LTD.</p>
    </div>
</div>
<div style="display:none;">
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cspan id='cnzz_stat_icon_1259001544'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/stat.php%3Fid%3D1259001544' type='text/javascript'%3E%3C/script%3E"));</script>
</div>
</body>
</html>