<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>PaiChi - 美食,菜谱 - 中国最全的家常菜谱美食网</title>
    <meta name="keywords" content="美食,美食网,菜谱,菜谱网,美食地图,食谱,食谱网,特色食谱,特色美食,美食大全家常菜谱,菜谱大全">
    <meta name="description" content="PaiChi - 中国最优质的美食，食谱，菜谱网。做你最喜爱的美食网，菜谱网。提供最人性化的菜谱大全">
    <meta content="www.paichi.net" name="author">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script>var _hmt = _hmt || [];</script>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/js/login/css/ss_base.css}">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/js/login/css/main.css}">
    <script type="text/javascript" th:src="@{/js/login/js/j.m.js}"></script>
    <script type="text/javascript" th:src="@{/js/login/js/main.js}"></script>
    <script th:src="@{/js/login/js/ds.js}"></script>
    <link th:href="@{/verifyImage/css/slider.css}" rel="stylesheet">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script th:src="@{/verifyImage/js/slider.js}"></script>
    <script th:src="@{/layui/layui.all.js}"></script>
    <script>var _czc = _czc || [];
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?01dd6a7c493607e115255b7e72de5f40";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();</script>
</head>
<body style>
<div class="main_w clearfix">
    <!DOCTYPE HTML>
    <html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8; charset=UTF-8">
        <title>欢迎来到PaiChi</title>
        <meta name="keywords" content="牛肉的做法,牛肉,牛肉的家常做法,牛肉怎么做,家常牛肉的做法,牛肉怎么做好吃,牛肉的做法大全,牛肉的视频,如何做牛肉,牛肉的菜谱,牛肉的制作方法">
        <meta name="description"
              content="牛肉的做法 - 家常牛肉的做法非常简单易学。如果牛肉怎么做好吃,牛肉的家常做法如何做一直困扰着你,PaiChi提供的图文牛肉的家常做法大全和牛肉的视频,用最短的时间让你学会牛肉的做法">
        <meta content="www.paichi.net" name="author">
        <meta name="renderer" content="webkit">

        <meta name="“viewport”" content="“width=device-width;" initial-scale="1.0”">

        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">


        <link th:href="@{/js/login/css/base.css}" rel="stylesheet">
        <link th:href="@{/js/login/css/login2019.css}" rel="stylesheet">
        <script type="text/javascript" th:src="@{/js/login/js/jquery-2.1.4.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/login/js/jquery.form.js}"></script>
    </head>
    <body>
    <div class="login_main">
        <div class="login_nav">
            <div class="login_navw">
                <a href="https://www.paichi.net/" class="logo"></a>
                <ul>
                    <li><a href="https://www.paichi.net/">首页</a></li>
                    <li><a href="https://www.paichi.net/chufang/diy/">菜谱大全</a></li>
                    <li><a href="https://www.paichi.net/jiankang/">饮食健康</a></li>
                    <li><a href="https://i.meishi.cc/recipe_list/">美食菜单</a></li>
                    <li><a href="https://i.meishi.cc/daren_task/daren.php">美食达人</a></li>
                    <li><a href="https://www.paichi.net/video/">菜谱视频</a></li>
                    <li><a href="https://i.meishi.cc/download_msj.php">产品下载</a></li>
                </ul>
            </div>
        </div>
        <div class="login_title">欢迎来到PaiChi</div>

        <div class="new_loginpage">


            <script type="text/javascript">
                $(function () {
                    $(".login_false_tip").hide();
                    $("#nl_loginbox_w_w").removeClass("right").addClass("left");
                    $(this).siblings().removeClass("current");
                    $(this).addClass("current");
                    $("#login_phone_tab").click(function () {
                        $(".login_false_tip").hide();
                        $("#nl_loginbox_w_w").removeClass("right").addClass("left");
                        $(this).siblings().removeClass("current");
                        $(this).addClass("current");
                    });
                    $("#login_acc_tab").click(function () {
                        $(".login_false_tip").hide();
                        $("#nl_loginbox_w_w").removeClass("left").addClass("right");
                        $(this).siblings().removeClass("current");
                        $(this).addClass("current");
                    });
                });

            </script>


            <div class="nl_loginbox_w" id="msj_loginbox">

                <div class="loginbox_title">
                    <a href="javascript:;" class="current" id="login_phone_tab">手机号登录</a>　|　<a href="javascript:;"
                                                                                               id="login_acc_tab">账号密码登录</a>
                </div>


                <div class="nl_loginbox_w_w left" id="nl_loginbox_w_w">

                    <div class="nl_loginbox_w1" id="nl_loginbox_w1">
                        <form>
                            <div class="nl_loginitem">
                                <input id="login_mobile" type="text" name="username" class="text" placeholder="请输入手机号">
                            </div>
                            <div class="nl_loginitem">
                                <input type="hidden" name="login_type" value="1">
                                <input id="login_code" type="text" class="text forcheck pyzm_forcheck yzm"
                                       name="password" placeholder="请输入验证码">
                                <a href="javascript:void(0)" class="phone_yzmbtn" id="phone_yzmbtn">获取验证码</a>
                            </div>


                            <div class="nl_loginitem" style="height:20px;line-height:20px;">
                                <label class="label2"><input type="checkbox" checked="checked" class="checkbox"
                                                             name="cookietime"> 下次自动登录　　
                                    <a href="https://i.meishi.cc/resetpw.php" class="forgetpassword1">忘记密码？</a></label>
                            </div>
                            <div class="nl_loginitem" style="text-align:center;">
                                <input type="submit" class="submit" value="登 录">
                            </div>
                        </form>
                    </div>

                    <div class="nl_loginbox_w2" id="nl_loginbox_w2">

                        <form>
                            <div class="nl_loginitem">
                                <input type="text" class="text" name="username" placeholder="请输入账号">
                            </div>
                            <div class="nl_loginitem">
                                <input type="hidden" name="login_type" value="2">
                                <input type="password" class="password" name="password" placeholder="请输入密码">
                            </div>

                            <div class="nl_loginitem" style="height:20px;line-height:20px;">
                                <label class="label2">
                                    <input type="checkbox" checked="checked" class="checkbox" name="cookietime"> 下次自动登录　　
                                        <a href class="forgetpassword1">忘记密码？</a>
                                </label>
                            </div>

                            <div class="nl_loginitem" style="text-align:center;">
                                <input type="submit" class="submit" id value="登 录">
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="nl_more_zc" id="nl_more_zc">
                <div class="nl_loginbox_www">
                    <div class="nl_loginbox_ww">

                        <div class="loginbox_title">
                            <span class="current">注册PaiChi</span>
                        </div>

                        <div class="nl_loginbox_w" style="float:left;">
                            <!--注册-->
                            <form class="register_form_email" action="/regist" mothod="POST" id="reg_form">
                                <input type="hidden" name="ac" id="ac" th:value="${ac}">
                                <!--<div class="nl_loginitem">
                                    <input type="text" name="reg_phone" class="text forcheck pn_forcheck" passCheck="0"
                                           id="reg_phone" placeholder="请输入手机号">
                                </div>-->
                                <div class="nl_loginitem">
                                    <input type="text" name="reg_email" class="text forcheck email_forcheck" passCheck="0"
                                           id="reg_phone" placeholder="请输入邮箱">
                                </div>
                                <div class="login_tips tip" style="display:none;" id="reg_phone_tip"></div>
                                <div class="nl_loginitem">
                                    <input type="text" name="reg_code" id="reg_code"
                                           class="text forcheck pyzm_forcheck1 yzm" passCheck="0" placeholder="请输入验证码">
                                    <a href="javascript:void(0)" class="phone_yzmbtn" id="phone_yzmbtn1">获取验证码</a>
                                </div>
                                <div class="login_tips false" style="display:none;" id="reg_code_tip"></div>
                                <div class="nl_loginitem">
                                    <input type="text" name="password" class="text forcheck pw_forcheck" passCheck="0"
                                           id="password" placeholder="密码">
                                </div>
                                <div class="login_tips tip" style="display:none;" id="password_tip"></div>
                                <div class="nl_loginitem">
                                    <input type="text" name="confirm_password" class="text forcheck confirmPw_forcheck" passCheck="0"
                                           id="confirm_password" placeholder="确认密码">
                                </div>
                                <div class="login_tips tip" style="display:none;" id="confirm_tip"></div>
                                <div class="nl_loginitem">
                                    <input type="text" name="username" class="text forcheck" passCheck="0"
                                           id="username" placeholder="昵称(可不填)">
                                </div>
                                <!-- <div class="nl_loginitem">
                                    <input type="password" class="password forcheck pw_forcheck" passCheck="0"  placeholder="请输入密码">
                                </div>
                                <div class="login_tips tip"  style="display:none;"> </div>
                                <div class="login_pw_tips state1" style="display:none;"> </div> -->

                                <div class="nl_loginitem" style="height:20px;line-height:20px;">
                                    <label class="label2"><input type="checkbox" class="checkbox" checked="1"
                                                                 id="xianyi"> 我已阅读并且同意PaiChi<a href="login/user_agreement"
                                                                                               target="_blank">《用户协议》</a>和<a
                                            href="login/privacy" target="_blank">《隐私政策》</a></label>
                                </div>
                                <div class="login_tips tip" style="display:none;"></div>
                                <div class="nl_loginitem" style="text-align:center;">
                                    <input type="submit" class="submit register_submit" id="reg_but" value="注 册">
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
            <a href="javascript:void(0)" class="golink" id="nl_gozc" opened="0">没有账号？立即注册</a>
            <div class="nl_or">————————　使用第三方登录　————————</div>

            <div class="nl_dsf_w">
                <div class="nl_dsf_w1">
                    <a href="https://i.meishi.cc/connect/index.php?site=weixin" class="a1"><span class="icon"></span>微信登录</a><a
                        href="https://i.meishi.cc/connect/index.php?site=qzone" class="a2"><span class="icon"></span>QQ登录</a><a
                        href="https://i.meishi.cc/connect/index.php?site=sina" class="a3"><span class="icon"></span>微博登录</a>
                </div>

                <a href="javascript:void(0)" class="golink1" id="more_dsf_btn" opened="0">更多第三方登录方式</a>

                <div class="nl_moredsf" id="nl_moredsf">
                    <a href="https://i.meishi.cc/connect/index.php?site=renren" class="a1">人人网</a>
                    <a href="https://i.meishi.cc/connect/index.php?site=baidu" class="a2">百度</a>
                    <a href="https://i.meishi.cc/connect/index.php?site=kaixin001" class="a3">开心网</a>
                    <a href="https://i.meishi.cc/connect/index.php?site=sdo" class="a4">盛大通行证</a>
                </div>
            </div>
        </div>
    </div>

    <style>

        .blackbg {
            height: 100%;
            width: 100%;
            position: fixed;
            left: 0px;
            top: 0px;
            z-index: 1000;
            background: rgba(0, 0, 0, 0.7);
            display: none;
        }

        .yzmbox {
            width: 400px;
            height: 252px;
            background: #fff;
            border-radius: 24px;
            box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.3);
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            z-index: 1100;
            position: fixed;
            display: none;
        }

        .yzmbox .t {
            text-align: center;
            color: #333;
            line-height: 30px;
            font-size: 20px;
            font-weight: 600;
            padding-top: 20px;
        }

        .yzmbox .w {
            text-align: center;
            padding-top: 16px;
        }

        .yzmbox .yzmimg {
            height: 40px;
            width: 100px;
            display: inline-block;
            vertical-align: top;
            margin-left: 20px;
            cursor: pointer;
        }

        .yzmbox .text {
            height: 40px;
            width: 200px;
            border: 1px solid #ddd;
            box-sizing: border-box;
            padding: 9px;
            line-height: 20px;
            font-size: 16px;
        }

        .yzmbox .btnw .btn {
            height: 40px;
            width: 100px;
            border-radius: 20px;
            margin: 20px auto;
            background: #ea5d4e;
            color: #fff;
            display: block;
            text-align: center;
            line-height: 40px;
            font-size: 16px;
        }

        .yzmbox .btnw .btn:hover {
            background: #db432e;
        }
    </style>

    <div class="blackbg" id="yzm_blackbg"></div>
    <!--验证码风控，采用滑动补全图片方法解决风控问题-->
    <div class="yzmbox" id="yzm_yzmbox">

        <!--拼图验证码-->
        <!--<div class="slide_img_content">
            <img id="before_img" class="slide_img_mark" src="@{/verifyImage/after_image/sample_after_mark.png}">
            <img id="back_img" src="@{/verifyImage/after_image/sample_after.png}">
        </div>-->
        <div class="slide_img_content">
            <img id="before_img" class="slide_img_mark">
            <img id="back_img">
        </div>

        <div class="slider">
            <div class="slider_arror" onselectstart="return false;">
                <img style="margin-top: 5px;" id="arror_icon" th:src="@{/verifyImage/icon/right_arror.png}" draggable="false" width="30px" height="30px">
            </div>
            <div class="slider_mask">
            </div>
            <span class="slider_tip" onselectstart="return false;">滑动来移动拼图</span>
        </div>

        <!--图文验证码-->

        <!--<div class="t">请输入验证码</div>
        <div class="w">
            <input type="text" id="yzm_mobile" class="text" placeholder="请输入验证码"><img
                th:src="@{/js/login/images/verfiy_img.png}" class="yzmimg" id="yzmbox_yzmimg">
        </div>
        <div class="btnw">
            <a href="javascript:;" class="btn" id="yzmbox_yzmbtn">确定</a>
        </div>
        <input type="hidden" value="afe7f13ae6d5f025fb65168fd26de025" name="verifycode_key" id="verifycode_key">
        <input type="hidden" value="7f570ffc2f1206e5eafea3a8b4d393d4" name="verifycode_key_mobile" id="verifycode_key_mobile">-->
    </div>

    <script th:inline="javascript">
        var ctx = [[@{/}]]
    </script>
    <script>
        var yzmsti;
        var yzmsti1;

        var type = $("#ac").val();
        if (type == 'zhuce') {
            $("#nl_more_zc").slideDown();
            $("#nl_gozc").html("已有账号？立即登录");
            $("#nl_gozc").attr("opened", "1");
            $("#msj_loginbox").slideUp();
        }

        //显示验证码验证弹窗
        function showYZM() {

            // 初始化验证码
            $.ajax({
                type : "get",// 请求方式
                url : ctx + "login/getImgInfo",// 发送请求地址
                dataType : "json",
                async : false,
                // 请求成功后的回调函数有两个参数
                success : function(data) {
                    lx = data.xLocation;
                    ly = data.yLocation;
                    backImg = data.backName;
                    frontImg = data.markName;

                    initImg(backImg, frontImg, ly);
                    initMovement();
                },
                error : function(){
                    layer.msg('请求拼图验证失败，请稍后重试！', {
                        time: 500, //500ms后自动关闭
                    });
                }
            });

            //弹出拼图验证码
            $("#yzm_blackbg").fadeIn();
            $("#yzm_yzmbox").fadeIn();


        }

        //发送邮箱验证码
        function doPyzmNext() {
            var _this = $("#phone_yzmbtn1");
            var reg_email = $("#reg_phone").val();
            //发送注册邮箱验证码
            $.ajax({
                type : "post",// 请求方式
                url : ctx + "regist/sendMailRegistCode",// 发送请求地址
                dataType : "json",
                data : reg_email,
                contentType:"application/json",
                async : false,
                success : function(data) {
                    layer.msg(data.msg, {
                        time: 1000, //1000ms后自动关闭
                    });

                },
                error : function(data){
                    layer.msg(data.msg, {
                        time: 1000, //1000ms后自动关闭
                    });
                }
            });
            _this.addClass("sended");
            _this.html("60秒后重新获取");
            var i = 59;
            yzmsti1 = setInterval(function () {
                _this.html(i + "秒后重新获取");
                if (i == 0) {
                    clearInterval(yzmsti1);
                    _this.removeClass("sended");
                    _this.html("获取验证码");
                }
                i--;
            }, 1000);

        }

        function doPyzmNext2() {
            var _this = $("#phone_yzmbtn");
            _this.addClass("sended");
            _this.html("60秒后重新获取");
            var i = 59;
            yzmsti1 = setInterval(function () {
                _this.html(i + "秒后重新获取");
                if (i == 0) {
                    clearInterval(yzmsti1);
                    _this.removeClass("sended");
                    _this.html("获取验证码");
                }
                i--;
            }, 1000);

        }

        $(function () {

            $("#yzm_blackbg").click(function () {
                $("#yzm_blackbg").fadeOut();
                $("#yzm_yzmbox").fadeOut();

                //重新拼图验证
                $('#back_img').attr('src', '')
                $('#before_img').attr('src', '');
                $('.slide_img_mark').css('margin-top', 0);
            });


            // 刷新验证码
            $("#yzmbox_yzmimg").click(function () {
                var _this = $(this);
                var verify_code_key = $('#verifycode_key_mobile').val();
                var url = 'https://i.meishi.cc/ajax/verfiy_img.php?verifycode_key=';
                url = url + verify_code_key + '&rand=' + (new Date()).getTime();
                _this.attr("src", url)
            });

            //监听输入验证码后的提交
            // $("#yzmbox_yzmbtn").click(function () {
            //     var _this = $(this);
            //     var mobile_login = $('#login_mobile').val();
            //     if (!mobile_login) {
            //         var mobile = $('#reg_phone').val();
            //         var login_type = "2";
            //         var type = 2;
            //     } else {
            //         var mobile = $('#login_mobile').val();
            //         var login_type = "1";
            //         var type = 6;
            //     }
            //     var verify_code_key = $('#verifycode_key_mobile').val();
            //     var yzm_mobile = $('#yzm_mobile').val();
            //     $.post("/send_mobile_code.php", {
            //         "mobile": mobile,
            //         "verifycode": yzm_mobile,
            //         "verifycode_key": verify_code_key,
            //         "type": type
            //     }, function (data) {
            //         var obj = eval('(' + data + ')');
            //         if (obj.code == '1') {
            //             $("#yzm_blackbg").fadeOut();
            //             $("#yzm_yzmbox").fadeOut();
            //             if (login_type == 1) {
            //                 doPyzmNext2();
            //             } else {
            //                 doPyzmNext();
            //             }
            //
            //         } else {
            //             alert("验证码错误，请重新输入");
            //         }
            //
            //     })
            // });
            $("#yzmbox_yzmbtn").click(function () {
                var _this = $(this);
                var mobile_login = $('#login_mobile').val();
                var mobile;
                var login_type;
                var type;

                if (!mobile_login) {
                    mobile = $('#reg_phone').val();
                    login_type = "2";
                    type = 2;
                } else {
                    mobile = $('#login_mobile').val();
                    login_type = "1";
                    type = 6;
                }
                var verify_code_key = $('#verifycode_key_mobile').val();
                var yzm_mobile = $('#yzm_mobile').val();
                $.post(ctx + "sendRegistCode", {
                    "mobile": mobile,
                    "verifycode": yzm_mobile,
                    "verifycode_key": verify_code_key,
                    "type": type
                }, function (data) {
                    var obj = eval('(' + data + ')');
                    if (obj.code == '1') {
                        $("#yzm_blackbg").fadeOut();
                        $("#yzm_yzmbox").fadeOut();
                        if (login_type == 1) {
                            doPyzmNext2();
                        } else {
                            doPyzmNext();
                        }

                    } else {
                        alert("验证码错误，请重新输入");
                    }

                })
            });


            $("#phone_yzmbtn").click(function () {

                var _this = $(this);


                if (_this.hasClass("sended")) {

                } else {
                    showYZM();
                }
            });

            //监听获取验证码按钮
            $("#phone_yzmbtn1").click(function () {

                var reg_email = $("#reg_phone").attr("passCheck");
                var sended = $("#phone_yzmbtn1");
                if (reg_email == 0) {
                    layer.msg('请填写正确的邮箱', {
                        time: 500, //500ms后自动关闭
                    });
                } else if(sended.hasClass("sended")) {
                    layer.msg('验证码已发送，请稍后再次发送', {
                        time: 500, //500ms后自动关闭
                    });
                } else {
                    showYZM();
                }
            });

            $("#more_dsf_btn").click(function () {

                if ($(this).attr("opened") == 0) {
                    $("#nl_moredsf").slideDown();
                    $(this).html("收起");
                    $(this).attr("opened", "1");
                } else {
                    $("#nl_moredsf").slideUp();
                    $(this).html("更多第三方登录方式");
                    $(this).attr("opened", "0");
                }


            });

            $("#nl_gozc").click(function () {

                if ($(this).attr("opened") == 0) {
                    $("#nl_more_zc").slideDown();
                    $(this).html("已有账号？立即登录");
                    $(this).attr("opened", "1");
                    $("#msj_loginbox").slideUp();
                } else {
                    $("#nl_more_zc").slideUp();
                    $(this).html("没有账号？立即注册");
                    $(this).attr("opened", "0");
                    $("#msj_loginbox").slideDown();
                }


            });

            //注册表单参数验证，鼠标松开事件
            $(".pn_forcheck").keyup(function () {
                var val = $(this).val();
                $(this).parent().next().show();
                if (checkPhonenum(val)) {
                    $(this).parent().next().removeClass().addClass("login_tips true");
                    $(this).parent().next().html("手机号码格式正确");
                    $(this).attr("passCheck", "1");
                } else {
                    $(this).parent().next().removeClass().addClass("login_tips tip");
                    $(this).parent().next().html("请输入正确的手机号码");
                    $(this).attr("passCheck", "0");
                }

            });

            //注册表单参数验证，失去焦点事件
            $(".pn_forcheck").blur(function () {
                var val = $(this).val();
                $(this).parent().next().show();
                if (checkPhonenum(val)) {
                    $(this).parent().next().removeClass().addClass("login_tips true");
                    $(this).parent().next().html("邮箱格式正确");
                    $(this).attr("passCheck", "1");
                } else {
                    $(this).parent().next().removeClass().addClass("login_tips false");
                    $(this).parent().next().html("请输入正确的邮箱");
                    $(this).attr("passCheck", "0");
                }
            });


            //验证登陆
            $(".pyzm_forcheck").blur(function () {
                var _this = $(this);
                var mobile = $('#login_mobile').val();
                var code = $('#login_code').val();
                $.post("/yz_mobile_code.php", {
                    'mobile': mobile,
                    'type': 6,
                    'code': code
                }, function (data) {
                    var obj = eval('(' + data + ')');
                    if (obj.code == 1) {
                        _this.parent().next().removeClass().addClass("login_tips true");
                        _this.parent().next().html("验证码正确");
                        _this.attr("passCheck", "1");
                        _this.parent().next().show();
                    } else {
                        _this.parent().next().removeClass().addClass("login_tips false");
                        _this.parent().next().html("验证码错误");
                        _this.attr("passCheck", "0");
                        _this.parent().next().show();
                    }

                });

            });

            //验证注册
            $(".pyzm_forcheck1").blur(function () {
                var _this = $(this);
                var mobile = $('#reg_phone').val();
                var code = $('#reg_code').val();
                $.post("/yz_mobile_code.php", {
                    'mobile': mobile,
                    'type': 2,
                    'code': code
                }, function (data) {
                    var obj = eval('(' + data + ')');
                    if (obj.code == 1) {
                        _this.parent().next().removeClass().addClass("login_tips true");
                        _this.parent().next().html("验证码正确");
                        _this.attr("passCheck", "1");
                        _this.parent().next().show();
                    } else {
                        _this.parent().next().removeClass().addClass("login_tips false");
                        _this.parent().next().html("验证码错误");
                        _this.attr("passCheck", "0");
                        _this.parent().next().show();
                    }

                });

            });

            //邮箱格式验证
            $(".email_forcheck").keyup(function () {
                var val = $(this).val();
                $(this).parent().next().show();
                if (checkEmail(val)) {
                    $(this).parent().next().removeClass().addClass("login_tips true");
                    $(this).parent().next().html("邮箱格式正确");
                    $(this).attr("passCheck", "1");
                } else {
                    $(this).parent().next().removeClass().addClass("login_tips tip");
                    $(this).parent().next().html("请输入正确的邮箱");
                    $(this).attr("passCheck", "0");
                }

            });
            //邮箱格式验证
            $(".email_forcheck").blur(function () {
                var val = $(this).val();
                $(this).parent().next().show();
                if (checkEmail(val)) {
                    $(this).parent().next().removeClass().addClass("login_tips true");
                    $(this).parent().next().html("邮箱格式正确");
                    $(this).attr("passCheck", "1");
                } else {
                    $(this).parent().next().removeClass().addClass("login_tips false");
                    $(this).parent().next().html("请输入正确的邮箱");
                    $(this).attr("passCheck", "0");
                }
            });

            //密码格式验证
            $(".pw_forcheck").keyup(function () {

                //确认密码
                var confirmPw = $("#confirm_password").val();
                //密码
                var password = $("#password").val();

                if (password.length < 5) {
                    /*$(this).parent().next().show();
                    $(this).parent().next().next().hide();
                    $(this).parent().next().removeClass().addClass("login_tips false");
                    $(this).parent().next().html("密码的长度应为6-16位");
                    $(this).attr("passCheck", "0");*/
                    $("#password_tip").show();
                    //修改密码时，确认密码的提示应当隐藏
                    $("#confirm_tip").hide();
                    $("#password_tip").removeClass().addClass("login_tips false");
                    $("#password_tip").html("密码的长度应为6-16位");
                    $("#password_tip").attr("passCheck", "0");
                } else if (password.length > 15) {
                    /*$(this).parent().next().show();
                    $(this).parent().next().next().hide();
                    $(this).parent().next().removeClass().addClass("login_tips false");
                    $(this).parent().next().html("密码的长度应为6-16位");
                    $(this).attr("passCheck", "0");*/
                    $("#password_tip").show();
                    $("#confirm_tip").hide();
                    $("#password_tip").removeClass().addClass("login_tips false");
                    $("#password_tip").html("密码的长度应为6-16位");
                    $("#password_tip").attr("passCheck", "0");
                } else {
                    /*$(this).parent().next().hide();
                    $(this).parent().next().next().show();
                    var pwcheckele = $(this).parent().next().next();*/
                    $("#confirm_tip").hide();
                    $("#password_tip").hide();
                    $("#password_tip").show();

                    var pwcheckele = $("#password_tip");
                    var x = checkPw(password);
                    if (x == 1) {
                        pwcheckele.removeClass().addClass("login_pw_tips state1");
                        pwcheckele.html("密码强度：弱");
                    } else if (x == 2) {
                        pwcheckele.removeClass().addClass("login_pw_tips state2");
                        pwcheckele.html("密码强度：中");
                    } else if (x == 3) {
                        pwcheckele.removeClass().addClass("login_pw_tips state3");
                        pwcheckele.html("密码强度：强");
                    }
                    $(this).attr("passCheck", "1");
                }
                if (password != confirmPw) {
                    //页面js中取消这种按照节点查找定位，太麻烦而且有多个是会有定位不准问题，直接给标签唯一标志id，获取id进行操作
                    /*$(this).parent().next().show();
                    $(this).parent().next().next().hide();
                    $(this).parent().next().removeClass().addClass("login_tips false");
                    $(this).parent().next().html("两次密码不相同");
                    $(this).attr("passCheck", "0");*/
                    if (confirmPw != "") {
                        $("#confirm_tip").show();
                        $("#confirm_tip").removeClass().addClass("login_tips false");
                        $("#confirm_tip").html("两次密码不相同");
                        $("#confirm_tip").attr("passCheck", "0");
                    }
                } else {
                    $("#confirm_tip").show();
                    /*$(this).parent().next().hide();
                    $(this).parent().next().next().show();*/
                    var pwcheckele = $("#confirm_tip");
                    var x = checkPw(confirmPw);
                    if (x == 1) {
                        pwcheckele.removeClass().addClass("login_pw_tips state1");
                        pwcheckele.html("密码强度：弱");
                    } else if (x == 2) {
                        pwcheckele.removeClass().addClass("login_pw_tips state2");
                        pwcheckele.html("密码强度：中");
                    } else if (x == 3) {
                        pwcheckele.removeClass().addClass("login_pw_tips state3");
                        pwcheckele.html("密码强度：强");
                    }
                    $(this).attr("passCheck", "1");
                }
            });

            //确认密码格式验证
            $(".confirmPw_forcheck").keyup(function () {
                //确认密码
                var confirmPw = $("#confirm_password").val();
                //密码
                var password = $("#password").val();
                if (password != confirmPw) {
                    //页面js中取消这种按照节点查找定位，太麻烦而且有多个是会有定位不准问题，直接给标签唯一标志id，获取id进行操作
                    /*$(this).parent().next().show();
                    $(this).parent().next().next().hide();
                    $(this).parent().next().removeClass().addClass("login_tips false");
                    $(this).parent().next().html("两次密码不相同");
                    $(this).attr("passCheck", "0");*/
                    $("#confirm_tip").show();
                    $("#confirm_tip").removeClass().addClass("login_tips false");
                    $("#confirm_tip").html("两次密码不相同");
                    $("#confirm_tip").attr("passCheck", "0");

                } else if (confirmPw.length < 5) {
                    /*$(this).parent().next().show();
                    $(this).parent().next().next().hide();
                    $(this).parent().next().removeClass().addClass("login_tips false");
                    $(this).parent().next().html("密码的长度应为6-16位");
                    $(this).attr("passCheck", "0");*/
                    $("#confirm_tip").show();
                    $("#confirm_tip").removeClass().addClass("login_tips false");
                    $("#confirm_tip").html("密码的长度应为6-16位");
                    $("#confirm_tip").attr("passCheck", "0");
                } else if (confirmPw.length > 15) {
                    /*$(this).parent().next().show();
                    $(this).parent().next().next().hide();
                    $(this).parent().next().removeClass().addClass("login_tips false");
                    $(this).parent().next().html("密码的长度应为6-16位");
                    $(this).attr("passCheck", "0");*/
                    $("#confirm_tip").show();
                    // $("#confirm_tip").next().next().hide();
                    $("#confirm_tip").removeClass().addClass("login_tips false");
                    $("#confirm_tip").html("密码的长度应为6-16位");
                    $("#confirm_tip").attr("passCheck", "0");
                } else {
                    $("#confirm_tip").show();
                    /*$(this).parent().next().hide();
                    $(this).parent().next().next().show();*/
                    var pwcheckele = $("#confirm_tip");
                    var x = checkPw(confirmPw);
                    if (x == 1) {
                        pwcheckele.removeClass().addClass("login_pw_tips state1");
                        pwcheckele.html("密码强度：弱");
                    } else if (x == 2) {
                        pwcheckele.removeClass().addClass("login_pw_tips state2");
                        pwcheckele.html("密码强度：中");
                    } else if (x == 3) {
                        pwcheckele.removeClass().addClass("login_pw_tips state3");
                        pwcheckele.html("密码强度：强");
                    }
                    $(this).attr("passCheck", "1");
                }
            });

            $(".register_submit").click(function (e) {

                var f = submitCheck($(this));
                if (f == 1) {
                    $(this).parents("form").sibmit();
                } else {
                    alert("资料填写错误，请写相关代码");
                    e.preventDefault();
                }

            });

            $("#reg_but").click(function () {
                var _this = $(this);
                var re_box = $('#xianyi').val();
                if (re_box == 0) {
                    _this.parent().prev().removeClass().addClass("login_tips false");
                    _this.parent().prev().html("验证码正确");
                    _this.parent().prev().show();
                    return false;
                }
                $('#reg_form').submit();
            });

        });

        function checkPhonenum(string) {
            var reg = /^0?1[3|4|5|8|7][0-9]\d{8}$/;
            return reg.test(string);
        }

        function checkEmail(string) {
            var reg = /^([\.a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(\.[a-zA-Z0-9_-])+/;
            ;
            return reg.test(string);
        }

        function checkPw(string) {

            var Mcolor, Wcolor, Scolor, Color_Html;
            var m = 0;
            var Modes = 0;
            if (string.length <= 4) {
                m = 1;
            }
            if (string.length <= 0) {
                m = 0;
            }

            for (i = 0; i < string.length; i++) {
                var charType = 0;
                var t = string.charCodeAt(i);
                if (t >= 48 && t <= 57) {
                    charType = 1;
                } else if (t >= 65 && t <= 90) {
                    charType = 2;
                } else if (t >= 97 && t <= 122) {
                    charType = 4;
                } else {
                    charType = 4;
                }
                Modes |= charType;
            }
            for (i = 0; i < 4; i++) {
                if (Modes & 1) {
                    m++;
                }
                Modes >>>= 1;
            }
            return (m);
        };

        //提交参数检查
        function submitCheck(ele) {
            var f = ele.parents("form");
            console.log(f);
            if (f.hasClass("register_form_pn")) {

                var e = $(".register_form_pn .forcheck");

            } else if (f.hasClass("register_form_email")) {
                var e = $(".register_form_email .forcheck");
            }

            var arr = [];
            console.log(e);
            $.each(e, function () {
                arr.push($(this).attr("passCheck"));
            });


            alert(arr[0]);
            alert(arr[1]);
            alert(arr[2]);
            alert(arr[3]);

            if ($.inArray("0", arr) == -1) {
                return 1;
            } else {
                return 0;
            }


        }


    </script>

    </body>
    </html>
</div>
<div style="display:none;">
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cspan id='cnzz_stat_icon_1259001544'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/stat.php%3Fid%3D1259001544' type='text/javascript'%3E%3C/script%3E"));</script>
</div>
</body>
</html>