<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>健康频道 - PaiChi健康网为您提供最合理健康饮食建议、健康小常识、健康减肥、女性健康</title>
    <meta name="keywords" content="健康网、健康、健康之路、健康饮食、女性健康、健康减肥、健康小常识、两性健康、PaiChi健康网，健康减肥方法。">
    <meta name="description" content="PaiChi健康网为您提供最合理健康饮食建议、健康小常识、健康减肥、女性健康、两性健康。让你走一条健康饮食之路。">
    <meta content="www.paichi.net" name="author">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script>var _hmt = _hmt || [];</script>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/js/jiankang/css/ss_base.css}">
    <link rel="stylesheet" type="text/css" media="all" href="css/main.css">
    <link rel="stylesheet" type="text/css" media="all" href="css/list.css">
    <script type="text/javascript" src="js/j.m.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/list.js"></script>
    <script src="js/ds.js"></script>
    <script>var _czc = _czc || [];
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?01dd6a7c493607e115255b7e72de5f40";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();</script>
</head>
<body style>
<div class="adinheader">
    <div class="adinheader_w">
        <script>
            (function () {
                var s = "_" + Math.random().toString(36).slice(2);
                document.write('<div id="' + s + '"></div>');
                (window.slotbydup = window.slotbydup || []).push({
                    id: '206520',
                    container: s,
                    size: '990,40',
                    display: 'inlay-fix'
                });
            })();
        </script>
    </div>
</div>
<div class="header">
    <div class="header_c">
        <a href="https://www.paichi.net/" class="logo pngFix"></a>
        <div class="main_search_top_w">
            <div class="suggestionsBox" id="suggestions" style="display:none;">
                <ul class="suggestionList" id="autoSuggestionsList"></ul>
            </div>
            <form class="search" action="https://so.meishi.cc/">
                <input type="text" class="text" name="q" defaultval="请输入菜谱/食材/菜单/作者" x-webkit-speech
                       value="请输入菜谱/食材/菜单/作者" autocomplete="off"
                       onfocus="if(this.value=='请输入菜谱/食材/菜单/作者'){this.value='';}$(this).css('color','#333');"
                       onblur="if(this.value==''){this.value='请输入菜谱/食材/菜单/作者';$(this).css('color','#999');}"
                       href="/ajax/ajaxtitle.php" id="inputString"><input type="submit" class="submit" value="搜 索">
            </form>
        </div>
        <div class="loginitem_h">
            <script th:src="@{/js/loginheader_n2.js}"></script>
        </div>
    </div>
</div>
<div class="nav">
    <ul id="main_nav">
        <li><a href="https://www.paichi.net/" class="link pngFix"><strong>首页</strong></a></li>
        <li class="hasmore">
            <a href="https://www.paichi.net/chufang/diy/" class="link pngFix"><strong>菜谱大全</strong></a>
            <div class="dw clearfix">
                <div class="dww clearfix dww_cpdq">
                    <div class="dwitem clearfix pngFix">
                        <dl class="clearfix">
                            <dt><a href="https://www.paichi.net/chufang/diy/">家常菜谱</a></dt>
                            <dd><a href="https://www.paichi.net/chufang/diy/jiangchangcaipu/">家常菜</a></dd>
                            <dd><a href="https://www.paichi.net/chufang/diy/langcaipu/">凉菜</a></dd>
                            <dd><a href="https://www.paichi.net/chufang/diy/sushi/">素食</a></dd>
                            <dd><a href="https://www.paichi.net/chufang/diy/wancan/">晚餐</a></dd>
                            <dd><a href="https://www.paichi.net/chufang/diy/sijiacai/">私家菜</a></dd>
                            <dd><a href="https://www.paichi.net/chufang/diy/recaipu/">热菜</a></dd>
                            <dd><a href="https://www.paichi.net/chufang/diy/haixian/">海鲜</a></dd>
                            <dd><a href="https://www.paichi.net/chufang/diy/yunfu/">孕妇</a></dd>
                            <dd><a href="https://www.paichi.net/chufang/diy/zaocan/">早餐</a></dd>
                            <dd><a href="https://www.paichi.net/chufang/diy/wucan/">午餐</a></dd>
                            <dd><a href="https://www.paichi.net/chufang/diy/tianpindianxin/">甜品点心</a></dd>
                            <dd><a href="https://www.paichi.net/chufang/diy/tangbaocaipu/">汤粥</a></dd>
                            <dd><a href="https://www.paichi.net/chufang/diy/baobaocaipu/">宝宝食谱-婴儿食谱</a></dd>
                            <dd><a href="https://www.paichi.net/chufang/diy/gaodianxiaochi/">糕点主食</a></dd>
                            <dd><a href="https://www.paichi.net/chufang/diy/weibolucaipu/">微波炉</a></dd>
                        </dl>
                    </div>
                    <div class="dwitem dwitem_half clearfix">
                        <dl class="clearfix">
                            <dt><a href="https://www.paichi.net/china-food/caixi/">中华菜系</a></dt>
                            <dd><a href="https://www.paichi.net/china-food/caixi/chuancai/">川菜</a></dd>
                            <dd><a href="https://www.paichi.net/china-food/caixi/yuecai/">粤菜</a></dd>
                            <dd><a href="https://www.paichi.net/china-food/caixi/dongbeicai/">东北菜</a></dd>
                            <dd><a href="https://www.paichi.net/china-food/caixi/xiangcai/">湘菜</a></dd>
                            <dd><a href="https://www.paichi.net/china-food/caixi/lucai/">鲁菜</a></dd>
                            <dd><a href="https://www.paichi.net/china-food/caixi/zhecai/">浙菜</a></dd>
                            <dd><a href="https://www.paichi.net/china-food/caixi/hubeicai/">湖北菜</a></dd>
                            <dd><a href="https://www.paichi.net/china-food/caixi/qingzhencai/">清真菜</a></dd>
                        </dl>
                    </div>
                    <div class="dwitem dwitem_half clearfix">
                        <dl class="clearfix">
                            <dt><a href="https://www.paichi.net/china-food/xiaochi/">各地小吃</a></dt>
                            <dd><a href="https://www.paichi.net/china-food/xiaochi/sichuan/">四川小吃</a></dd>
                            <dd><a href="https://www.paichi.net/china-food/xiaochi/guangdong/">广东小吃</a></dd>
                            <dd><a href="https://www.paichi.net/china-food/xiaochi/beijing/">北京小吃</a></dd>
                            <dd><a href="https://www.paichi.net/china-food/xiaochi/shanxii/">陕西小吃</a></dd>
                        </dl>
                    </div>
                    <br>
                    <div class="dwitem dwitem_half clearfix">
                        <dl class="clearfix">
                            <dt><a href="https://www.paichi.net/chufang/diy/guowaicaipu1/">外国菜谱</a></dt>
                            <dd><a href="https://www.paichi.net/chufang/diy/guowaicaipu1/hanguo/">韩国料理</a></dd>
                            <dd><a href="https://www.paichi.net/chufang/diy/guowaicaipu1/japan/">日本料理</a></dd>
                            <dd><a href="https://www.paichi.net/chufang/diy/guowaicaipu1/faguo/">法国菜</a></dd>
                            <dd><a href="https://www.paichi.net/chufang/diy/guowaicaipu1/yidali/">意大利餐</a></dd>
                        </dl>
                    </div>
                    <div class="dwitem dwitem_half clearfix">
                        <dl class="clearfix">
                            <dt><a href="https://www.paichi.net/hongpei/">烘焙</a></dt>
                            <dd><a href="https://www.paichi.net/hongpei/dangaomianbao/">蛋糕面包</a></dd>
                            <dd><a href="https://www.paichi.net/hongpei/bingganpeifang/">饼干配方</a></dd>
                            <dd><a href="https://www.paichi.net/hongpei/tianpindianxin/">甜品点心</a></dd>
                        </dl>
                    </div>
                    <br>
                    <div class="dwitem dwitem_half clearfix">
                        <dl class="clearfix">
                            <dt><a href="https://www.paichi.net/pengren/">厨房百科</a></dt>
                            <dd><a href="https://www.paichi.net/pengren/baipanzhoubian/">摆盘围边</a></dd>
                            <dd><a href="https://www.paichi.net/pengren/jiqiao/">烹饪技巧</a></dd>
                            <dd><a href="https://www.paichi.net/pengren/chufangmiaozhao/">生活妙招</a></dd>
                            <dd><a href="https://www.paichi.net/pengren/chufang/">美食专题</a></dd>
                        </dl>
                    </div>
                    <div class="dwitem dwitem_half clearfix">
                        <dl class="clearfix">
                            <dt><a href="https://www.paichi.net/shicai/">食材百科</a></dt>
                            <dd><a href="https://www.paichi.net/shicai/shucai_list">蔬菜</a></dd>
                            <dd><a href="https://www.paichi.net/shicai/shuiguo_list">水果</a></dd>
                            <dd><a href="https://www.paichi.net/shicai/gulei_list">谷类</a></dd>
                        </dl>
                    </div>
                    <div class="bgitem"></div>
                </div>
            </div>
        </li>
        <li class="hasmore current"><a href="https://www.paichi.net/jiankang/" class="link pngFix"><strong>饮食健康</strong></a>
            <div class="dw clearfix">
                <div class="dww clearfix dww_ysjk">
                    <div class="dwitem clearfix pngFix">
                        <dl class="clearfix">
                            <dt><a href="https://www.paichi.net/jiankang/">饮食健康</a></dt>
                            <dd><a href="https://www.paichi.net/jiankang/changshi/">饮食小常识</a></dd>
                            <dd><a href="https://www.paichi.net/jiankang/meirong/">美容瘦身</a></dd>
                            <dd><a href="https://www.paichi.net/jiankang/shipinanquan/">食品安全</a></dd>
                            <dd><a href="https://www.paichi.net/jiankang/yangsheng/">养生妙方</a></dd>
                            <dd><a href="https://www.paichi.net/jiankang/jinji/">饮食禁忌</a></dd>
                            <dd><a href="https://www.paichi.net/jiankang/zhongyi/">中医保健</a></dd>
                            <dd><a href="https://www.paichi.net/jiankang/muying/">母婴健康饮食</a></dd>
                            <dd><a href="https://www.paichi.net/jiankang/yinshixinwen/">饮食新闻</a></dd>
                        </dl>
                    </div>
                    <div class="dwitem clearfix">
                        <dl class="clearfix">
                            <dt><a href="https://www.paichi.net/yaoshanshiliao/gongnengxing/">功能性调理</a></dt>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/gongnengxing/qingrequhuo/">清热去火</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/gongnengxing/jianfei/">减肥</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/gongnengxing/qutan/">祛痰</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/gongnengxing/wufa/">乌发</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/gongnengxing/ziyinbushen/">滋阴补肾</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/gongnengxing/jianpikaiwei/">健脾开胃</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/gongnengxing/xiaohuabulang/">消化不良</a>
                            </dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/gongnengxing/qingrejiedu/">清热解毒</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/gongnengxing/buyangzhuangyang/">补阳壮阳</a>
                            </dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/gongnengxing/zengfei/">增肥</a></dd>
                        </dl>
                    </div>
                    <br>
                    <div class="dwitem dwitem_half clearfix">
                        <dl class="clearfix">
                            <dt><a href="https://www.paichi.net/yaoshanshiliao/renqunshanshi/">人群膳食</a></dt>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/renqunshanshi/yunfu/">孕妇</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/renqunshanshi/laoren/">老人</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/renqunshanshi/chanfu/">产妇</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/renqunshanshi/rumu/">哺乳期</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/renqunshanshi/qingshaonian/">青少年</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/renqunshanshi/rouer/">幼儿</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/renqunshanshi/xuelingqi/">学龄期儿童</a></dd>
                        </dl>
                    </div>
                    <div class="dwitem dwitem_half clearfix">
                        <dl class="clearfix">
                            <dt><a href="https://www.paichi.net/yaoshanshiliao/jibingtiaoli/">疾病调理</a></dt>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/jibingtiaoli/tangniaobing/">糖尿病</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/jibingtiaoli/gaoxueya/">高血压</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/jibingtiaoli/tongfeng/">痛风</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/jibingtiaoli/weiyan/">胃炎</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/jibingtiaoli/zhichuang/">痔疮</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/jibingtiaoli/gengnianqi/">更年期</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/jibingtiaoli/jiakangxian/">甲状腺</a></dd>
                        </dl>
                    </div>
                    <br>
                    <div class="dwitem clearfix">
                        <dl class="clearfix">
                            <dt><a href="https://www.paichi.net/yaoshanshiliao/zangfu/">脏腑调理</a></dt>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/zangfu/ganmao/">感冒</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/zangfu/shentiaoli/">补肾</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/zangfu/yangweizaoxie/">阳痿早泄</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/zangfu/buxue/">补血</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/zangfu/bianmi/">便秘</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/zangfu/fuxie/">腹泻</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/zangfu/houxuehuayu/">活血化瘀</a></dd>
                        </dl>
                    </div>
                    <div class="bgitem"></div>
                </div>
            </div>
        </li>
        <li><a href="https://i.meishi.cc/recipe_list/" class="link pngFix"><strong>美食菜单</strong></a></li>
        <li style="position:relative;z-index:100;"><a style="padding:0 11px;" href="https://i.meishi.cc/jiajuguan/"
                                                      class="link pngFix"><strong>家居馆</strong>
        </a></li>
        <li><a href="https://i.meishi.cc/daren_task/daren.php" class="link"><strong>美食达人</strong><img
                src="images/20160909164810_443.png"
                style="display:inline-block;margin-left:-7px;vertical-align:top;margin-top:8px;"></a></li>
        <li><a href="https://www.paichi.net/video/" class="link pngFix"><strong>菜谱视频</strong></a></li>
        <li><a href="https://i.meishi.cc/download_msj.php" class="link pngFix"><strong>产品下载</strong></a></li>
    </ul>
</div>
<div class="main_search main_search_slideUp pngFix" slideUp="1" style="_display:none;" id="main_search">
    <div class="main_search_w">
        <div class="searchform_div">
            <form action="https://so.meishi.cc/" target="_blank"><input type="text" class="text" name="q"
                                                                        x-webkit-speech autocomplete="off"
                                                                        id="inputString" placeholder="健康饮食"><input
                    type="submit" class="submit" value="搜 索"></form>
        </div>
        <span id="searchslideup_btn" class="pngFix" style="background-position:0px -48px;">自动收缩</span>
    </div>
</div>
<div class="bottom_back_top_top bottom_back_top_top_slideUp" id="bottom_back_top_top"><a href="#" title="返回健康饮食的顶部"
                                                                                         class="backtotop pngFix">回到顶部</a>
</div>
<div class="main_w clearfix">
    <div class="main">
        <strong class="bbtitles"><a target="_blank" href="http://sj.meishi.cc/app.php?to=health" class="jksz pngFix">戌时宜清淡晚餐，是养心包的最佳时机，可通过散步、沐浴来缓解疲
            劳。</a></strong>
        <div class="listnav clearfix mt0" id="listnav">
            <ul class="listnav_ul" id="listnav_ul">
                <li disable="1"><a href class="link">我的体质（未开放）</a></li>
                <li class="current hover"><h1><a href="https://www.paichi.net/jiankang/" class="link">饮食健康</a></h1></li>
                <li><a href="https://www.paichi.net/yaoshanshiliao/renqunshanshi/" class="link">人群膳食</a></li>
                <li><a href="/yaoshanshiliao/jibingtiaoli/" class="link">疾病调理</a></li>
                <li><a href="https://www.paichi.net/yaoshanshiliao/gongnengxing/" class="link">功能性调理</a></li>
                <li><a href="/yaoshanshiliao/zangfu/" class="link">脏腑调理</a></li>
            </ul>
            <div class="listnav_con clearfix" id="listnav_con_c">
                <dl class="listnav_dl_style1 w210 br1 bb1 clearfix">
                    <dt>饮食资讯</dt>
                    <dd><a href="https://www.paichi.net/xinxianzixun/">新鲜资讯</a></dd>
                    <dd><a href="https://www.paichi.net/jiankang/shipinanquan/">食品安全</a></dd>
                </dl>
                <dl class="listnav_dl_style1 w570 bb1 br1 clearfix">
                    <dt>饮食文化</dt>
                    <dd><a href="https://www.paichi.net/wenhua/diangu/">美食典故</a></dd>
                    <dd><a href="https://www.paichi.net/wenhua/pincha/">茶文化</a></dd>
                    <dd><a href="https://www.paichi.net/wenhua/haiwai/">外国饮食文化</a></dd>
                    <dd><a href="https://www.paichi.net/wenhua/kafei/">酒文化</a></dd>
                    <dd><a href="https://www.paichi.net/wenhua/liyi/">中西餐礼仪</a></dd>
                </dl>
                <dl class="listnav_dl_style1 w210 bb1 clearfix">
                    <dt>专区</dt>
                    <dd><a href="https://www.paichi.net/yunfu/">孕妇专区</a></dd>
                </dl>
                <dl class="listnav_dl_style1 w990  clearfix">
                    <dt>健康指南</dt>
                    <dd><a href="https://www.paichi.net/jiankang/changshi/">饮食小常识</a></dd>
                    <dd><a href="https://www.paichi.net/jiankang/jinji/">饮食禁忌</a></dd>
                    <dd><a href="https://www.paichi.net/jiankang/yangsheng/">养生妙方</a></dd>
                    <dd><a href="https://www.paichi.net/jiankang/zhongyi/">中医保健</a></dd>
                    <dd><a href="https://www.paichi.net/jiankang/meirong/">美容瘦身</a></dd>
                    <dd><a href="https://www.paichi.net/jiankang/muying/">母婴健康饮食</a></dd>
                </dl>
            </div>
        </div>        <!-- <strong class="bbtitles">七月，疏肝养心，清热消暑</strong>
	<div class="ztlist_style1 clearfix" id="ztlist_style1_index">
		<div id="index_cd_leftarrow"></div><div id="index_cd_leftarrow_mask"></div><div id="index_cd_rightarrow"></div><div id="index_cd_rightarrow_mask"></div>
			<div class="ztlist_style1_item_w" id="ztlist_style1_item_w">
				<div class="ztlist_style1_item_ww" id="ztlist_style1_item_ww">
							<div class="ztlist_style1_item_w1">
								<div class="ztlist_style1_item">
					<ul class="ztlist_style1_item_list clearfix">
						<li class="current clearfix">
							<div class="topzt">
								<a target="_blank" href="http://i.meishi.cc/huodong/zt.php?zt_id=1723" class="img"><img src="http://s1.st.paichi.net/p2/20180302/20180302092950_413.jpg"><span class="fixer"></span></a>
								<div class="c">
									<strong class="title"><a target="_blank" href="http://i.meishi.cc/huodong/zt.php?zt_id=1723">元宵汤圆这么多年的误会终于解除了</a></strong>
									<p>元宵汤圆你到底站哪边</p>								</div>
							</div>
						</li>
					</ul>
				</div>
								<div class="ztlist_style1_item">
					<ul class="ztlist_style1_item_list clearfix">
						<li class="current clearfix">
							<div class="topzt">
								<a target="_blank" href="http://i.meishi.cc/huodong/zt.php?zt_id=1319" class="img"><img src="http://images.paichi.net/p/20170925/6ac39c5f33030ec9d1d5d678d72fd3ec.jpg"><span class="fixer"></span></a>
								<div class="c">
									<strong class="title"><a target="_blank" href="http://i.meishi.cc/huodong/zt.php?zt_id=1319">中秋就要到了，然而... ...</a></strong>
									<p>小编们却为月饼掐了一场架</p>								</div>
							</div>
						</li>
					</ul>
				</div>
								<div class="ztlist_style1_item mr0">
					<ul class="ztlist_style1_item_list clearfix">
						<li class="current clearfix">
							<div class="topzt">
								<a target="_blank" href="http://i.meishi.cc/huodong/zt.php?zt_id=389" class="img"><img src="http://images.paichi.net/p/20161216/8f4a0a3ac25ec2eed17e29e599d6f9df.jpg"><span class="fixer"></span></a>
								<div class="c">
									<strong class="title"><a target="_blank" href="http://i.meishi.cc/huodong/zt.php?zt_id=389">如何做出完美溏心蛋</a></strong>
									<p>一颗蛋的成功逆袭</p>								</div>
							</div>
						</li>
					</ul>
				</div>
								<div class="ztlist_style1_item mb0">
					<ul class="ztlist_style1_item_list clearfix">
						<li class="current clearfix">
							<div class="topzt">
								<a target="_blank" href="http://i.meishi.cc/huodong/zt.php?zt_id=382" class="img"><img src="http://images.paichi.net/p/20161209/391791a6b3c41c3cb5266eef22358bc7.jpg"><span class="fixer"></span></a>
								<div class="c">
									<strong class="title"><a target="_blank" href="http://i.meishi.cc/huodong/zt.php?zt_id=382">千万种滋味却只会煮着吃</a></strong>
									<p>技能爆表豆腐食单</p>								</div>
							</div>
						</li>
					</ul>
				</div>
								<div class="ztlist_style1_item mb0">
					<ul class="ztlist_style1_item_list clearfix">
						<li class="current clearfix">
							<div class="topzt">
								<a target="_blank" href="http://i.meishi.cc/huodong/zt.php?zt_id=481" class="img"><img src="http://images.paichi.net/p/20170310/e3f4e74ab7ff99ceee74ea07d05745ac.jpg"><span class="fixer"></span></a>
								<div class="c">
									<strong class="title"><a target="_blank" href="http://i.meishi.cc/huodong/zt.php?zt_id=481">西餐盘里的香草和香料</a></strong>
									<p>有它们才够法国味</p>								</div>
							</div>
						</li>
					</ul>
				</div>
								<div class="ztlist_style1_item mr0 mb0">
					<ul class="ztlist_style1_item_list clearfix">
						<li class="current clearfix">
							<div class="topzt">
								<a target="_blank" href="http://i.meishi.cc/huodong/zt.php?zt_id=403" class="img"><img src="http://images.paichi.net/p/20161222/e7e49f17d385f487f39478c610e06cee.jpg"><span class="fixer"></span></a>
								<div class="c">
									<strong class="title"><a target="_blank" href="http://i.meishi.cc/huodong/zt.php?zt_id=403">味觉盛宴 无辣不欢</a></strong>
									<p>寒冷冬季6道火辣美食温暖你</p>								</div>
							</div>
						</li>
					</ul>
				</div>
							</div>
						<div class="ztlist_style1_item_w1">
								<div class="ztlist_style1_item">
					<ul class="ztlist_style1_item_list clearfix">
						<li class="current clearfix">
							<div class="topzt">
								<a target="_blank" href="http://i.meishi.cc/huodong/zt.php?zt_id=371" class="img"><img src="http://images.paichi.net/p/20161213/d7fa2cb7f3a3c71cd32e94475cd87e9d.jpg"><span class="fixer"></span></a>
								<div class="c">
									<strong class="title"><a target="_blank" href="http://i.meishi.cc/huodong/zt.php?zt_id=371">小白必学厨房基础刀法</a></strong>
									<p>手起刀落，片丝条块全掌握</p>								</div>
							</div>
						</li>
					</ul>
				</div>
								<div class="ztlist_style1_item">
					<ul class="ztlist_style1_item_list clearfix">
						<li class="current clearfix">
							<div class="topzt">
								<a target="_blank" href="http://i.meishi.cc/huodong/zt.php?zt_id=603" class="img"><img src="http://images.paichi.net/p/20170526/5f1aee580cf9fbb730ef177964a82357.jpg"><span class="fixer"></span></a>
								<div class="c">
									<strong class="title"><a target="_blank" href="http://i.meishi.cc/huodong/zt.php?zt_id=603">教你制作软萌的日式和果子</a></strong>
									<p>超详细做法，手把手教会你</p>								</div>
							</div>
						</li>
					</ul>
				</div>
								<div class="ztlist_style1_item mr0">
					<ul class="ztlist_style1_item_list clearfix">
						<li class="current clearfix">
							<div class="topzt">
								<a target="_blank" href="http://i.meishi.cc/huodong/zt.php?zt_id=475" class="img"><img src="http://images.paichi.net/p/20170309/acc7b1a37c019b8df653c6f229febdac.jpg"><span class="fixer"></span></a>
								<div class="c">
									<strong class="title"><a target="_blank" href="http://i.meishi.cc/huodong/zt.php?zt_id=475">吃面姿势不正确引发糖尿病</a></strong>
									<p>营养师总结六大实用健康吃面技巧！</p>								</div>
							</div>
						</li>
					</ul>
				</div>
								<div class="ztlist_style1_item mb0">
					<ul class="ztlist_style1_item_list clearfix">
						<li class="current clearfix">
							<div class="topzt">
								<a target="_blank" href="http://i.meishi.cc/huodong/zt.php?zt_id=334" class="img"><img src="http://images.paichi.net/p/20161127/87ddb45849f5132ec9073deed9f8a569.jpg"><span class="fixer"></span></a>
								<div class="c">
									<strong class="title"><a target="_blank" href="http://i.meishi.cc/huodong/zt.php?zt_id=334">鸡翅鸡腿巧去骨</a></strong>
									<p>吃肉不吐骨头才痛快！</p>								</div>
							</div>
						</li>
					</ul>
				</div>
								<div class="ztlist_style1_item mb0">
					<ul class="ztlist_style1_item_list clearfix">
						<li class="current clearfix">
							<div class="topzt">
								<a target="_blank" href="http://i.meishi.cc/huodong/zt.php?zt_id=441" class="img"><img src="http://images.paichi.net/p/20170116/0285fc090c71269dedcbead31721d079.jpg"><span class="fixer"></span></a>
								<div class="c">
									<strong class="title"><a target="_blank" href="http://i.meishi.cc/huodong/zt.php?zt_id=441">吃年糕，年年高</a></strong>
									<p>春节吃年糕，这样做最好！</p>								</div>
							</div>
						</li>
					</ul>
				</div>
								<div class="ztlist_style1_item mr0 mb0">
					<ul class="ztlist_style1_item_list clearfix">
						<li class="current clearfix">
							<div class="topzt">
								<a target="_blank" href="http://i.meishi.cc/daren_task/article_detail.php?id=379" class="img"><img src="http://images.paichi.net/p/20161020/2ffefdb18f835696b1ce6626455eef8b.jpg"><span class="fixer"></span></a>
								<div class="c">
									<strong class="title"><a target="_blank" href="http://i.meishi.cc/daren_task/article_detail.php?id=379">美食达人版块全新改版</a></strong>
									<p>更多好文好友好福利如期而至</p>								</div>
							</div>
						</li>
					</ul>
				</div>
							</div>
						<div class="ztlist_style1_item_w1">
								<div class="ztlist_style1_item">
					<ul class="ztlist_style1_item_list clearfix">
						<li class="current clearfix">
							<div class="topzt">
								<a target="_blank" href="http://i.meishi.cc/huodong/zt.php?zt_id=392" class="img"><img src="http://images.paichi.net/p/20161220/4e923f1b01466b1c86f919d515e2a521.jpg"><span class="fixer"></span></a>
								<div class="c">
									<strong class="title"><a target="_blank" href="http://i.meishi.cc/huodong/zt.php?zt_id=392">如何做一顿好吃的饺子</a></strong>
									<p>冬至饺子这样做，全家人都抢着吃</p>								</div>
							</div>
						</li>
					</ul>
				</div>
								<div class="ztlist_style1_item">
					<ul class="ztlist_style1_item_list clearfix">
						<li class="current clearfix">
							<div class="topzt">
								<a target="_blank" href="http://i.meishi.cc/huodong/zt.php?zt_id=329" class="img"><img src="http://images.paichi.net/p/20161114/80049efee79266020489a605b4bd90ca.jpg"><span class="fixer"></span></a>
								<div class="c">
									<strong class="title"><a target="_blank" href="http://i.meishi.cc/huodong/zt.php?zt_id=329">猪肉这么做</a></strong>
									<p>鼻子都香掉</p>								</div>
							</div>
						</li>
					</ul>
				</div>
								<div class="ztlist_style1_item mr0">
					<ul class="ztlist_style1_item_list clearfix">
						<li class="current clearfix">
							<div class="topzt">
								<a target="_blank" href="http://i.meishi.cc/huodong/zt.php?zt_id=346" class="img"><img src="http://images.paichi.net/p/20161122/6084837cfb343fd26d6179744cd1eafe.jpg"><span class="fixer"></span></a>
								<div class="c">
									<strong class="title"><a target="_blank" href="http://i.meishi.cc/huodong/zt.php?zt_id=346">一学就会的万能糖醋汁</a></strong>
									<p>拯救小白的料汁配方大揭密</p>								</div>
							</div>
						</li>
					</ul>
				</div>
								<div class="ztlist_style1_item mb0">
					<ul class="ztlist_style1_item_list clearfix">
						<li class="current clearfix">
							<div class="topzt">
								<a target="_blank" href="http://i.meishi.cc/huodong/zt.php?zt_id=454" class="img"><img src="http://images.paichi.net/p/20170213/da81863e4b786b6b9d027f6fb1a6acbd.jpg"><span class="fixer"></span></a>
								<div class="c">
									<strong class="title"><a target="_blank" href="http://i.meishi.cc/huodong/zt.php?zt_id=454">“多喝热水“直男拯救大法</a></strong>
									<p>知道你的坚强和脆弱，你的温柔与狂野。</p>								</div>
							</div>
						</li>
					</ul>
				</div>
								<div class="ztlist_style1_item mb0">
					<ul class="ztlist_style1_item_list clearfix">
						<li class="current clearfix">
							<div class="topzt">
								<a target="_blank" href="http://i.meishi.cc/huodong/zt.php?zt_id=377" class="img"><img src="http://images.paichi.net/p/20161208/7e591c4cd8d1a4176a03d2de649b0b40.jpg"><span class="fixer"></span></a>
								<div class="c">
									<strong class="title"><a target="_blank" href="http://i.meishi.cc/huodong/zt.php?zt_id=377">原来你是这样的一只鸡</a></strong>
									<p>平凡小鸡 却有万千滋味</p>								</div>
							</div>
						</li>
					</ul>
				</div>
								<div class="ztlist_style1_item mr0 mb0">
					<ul class="ztlist_style1_item_list clearfix">
						<li class="current clearfix">
							<div class="topzt">
								<a target="_blank" href="http://i.meishi.cc/huodong/zt.php?zt_id=395" class="img"><img src="http://images.paichi.net/p/20161215/62333ba6d2cfcea16d2fbfb598f97f02.jpg"><span class="fixer"></span></a>
								<div class="c">
									<strong class="title"><a target="_blank" href="http://i.meishi.cc/huodong/zt.php?zt_id=395">品鱼滋味 悟鲜之道</a></strong>
									<p>一次成功的6种风味鱼料理</p>								</div>
							</div>
						</li>
					</ul>
				</div>
							</div>
						</div>
		</div>
	</div>
	<div class="ztlist_cur" id="ztlist_cur"><span></span><span class="current"></span><span></span></div> -->
        <strong class="bbtitles" id="bbtitles">合理的饮食，是身体健康的第一要素<span class="paixu"><a
                href="/health.php?cid=18&sortby=update#bbtitles" class="current">最新</a> | <a
                href="/health.php?cid=18&sortby=renqi#bbtitles">最热</a></span></strong>
        <div class="listtyle1_w listtyle1_w_c4" id="listtyle1_w">
            <div class="listtyle1_list clearfix" id="listtyle1_list">
                <div class="listtyle1 ml0">
                    <div class="img"><a target="_blank" title="九阳净食机XJS-02A——让你用得安心，吃得放心"
                                        href="https://www.paichi.net/zuofa/jiuyangjingshijixjs02arangni.html"
                                        class="img"><img class="cpimg" alt="九阳净食机XJS-02A——让你用得安心，吃得放心"
                                                         th:src="@{/js/jiankang/images/d9238bd8c219ca81ad538a15d3a25091_150x150.jpeg}"
                                                         width="232" height="232"></a></div>
                    <div class="info1">
                        <strong class="title"><a target="_blank" title="九阳净食机XJS-02A——让你用得安心，吃得放心"
                                                 href="https://www.paichi.net/zuofa/jiuyangjingshijixjs02arangni.html">九阳净食机XJS-02A——让你用得安心，吃得放心</a></strong>
                        <div class="d1"><span>0 评论</span><span>1662 人气</span></div>
                    </div>
                </div>
                <div class="listtyle1">
                    <div class="img"><a target="_blank" title="日行万步更健康？要注意这些点搭配氨糖软骨素钙片，避免伤关节！"
                                        href="https://www.paichi.net/zuofa/rixingwanbugengjiankangyaozh.html"
                                        class="img"><img class="cpimg" alt="日行万步更健康？要注意这些点搭配氨糖软骨素钙片，避免伤关节！"
                                                         th:src="@{/js/jiankang/images/1356c4e86d81974d82a9750e8af63e5a_150x150.jpeg}"
                                                         width="232" height="232"></a></div>
                    <div class="info1">
                        <strong class="title"><a target="_blank" title="日行万步更健康？要注意这些点搭配氨糖软骨素钙片，避免伤关节！"
                                                 href="https://www.paichi.net/zuofa/rixingwanbugengjiankangyaozh.html">日行万步更健康？要注意这些点搭配氨糖软骨素钙片，避免伤关节！</a></strong>
                        <div class="d1"><span>0 评论</span><span>4579 人气</span></div>
                    </div>
                </div>
                <div class="listtyle1">
                    <div class="img"><a target="_blank" title="如何安稳过夏季？试试这几个方法搭配多种维生素矿物质片"
                                        href="https://www.paichi.net/zuofa/ruheanwenguoxiajishishizheji.html"
                                        class="img"><img class="cpimg" alt="如何安稳过夏季？试试这几个方法搭配多种维生素矿物质片"
                                                         th:src="@{/js/jiankang/images/3ca8b7834a418eef31a273e47c5cc6df_150x150.jpeg}"
                                                         width="232" height="232"></a></div>
                    <div class="info1">
                        <strong class="title"><a target="_blank" title="如何安稳过夏季？试试这几个方法搭配多种维生素矿物质片"
                                                 href="https://www.paichi.net/zuofa/ruheanwenguoxiajishishizheji.html">如何安稳过夏季？试试这几个方法搭配多种维生素矿物质片</a></strong>
                        <div class="d1"><span>0 评论</span><span>1617 人气</span></div>
                    </div>
                </div>
                <div class="listtyle1">
                    <div class="img"><a target="_blank" title="老酒新酿 偏爱老味道的人一定要品品匠上匠"
                                        href="https://www.paichi.net/zuofa/laojiuxinniangpianailaoweida.html"
                                        class="img"><img class="cpimg" alt="老酒新酿 偏爱老味道的人一定要品品匠上匠"
                                                         th:src="@{/js/jiankang/images/f594589ec3f0cc9a8ea240d071c31c29_150x150.jpeg}"
                                                         width="232" height="232"></a></div>
                    <div class="info1">
                        <strong class="title"><a target="_blank" title="老酒新酿 偏爱老味道的人一定要品品匠上匠"
                                                 href="https://www.paichi.net/zuofa/laojiuxinniangpianailaoweida.html">老酒新酿
                            偏爱老味道的人一定要品品匠上匠</a></strong>
                        <div class="d1"><span>0 评论</span><span>4129 人气</span></div>
                    </div>
                </div>
                <div class="listtyle1 ml0">
                    <div class="img"><a target="_blank" title="匠心追求，酱香佳酿的匠上匠全新升级了！"
                                        href="https://www.paichi.net/zuofa/jiangxinzhuiqiujiangxiangjia.html"
                                        class="img"><img class="cpimg" alt="匠心追求，酱香佳酿的匠上匠全新升级了！"
                                                         th:src="@{/js/jiankang/images/d6ebacd7ee75a6a5353b9fae33ff14b6_150x150.jpeg}"
                                                         width="232" height="232"></a></div>
                    <div class="info1">
                        <strong class="title"><a target="_blank" title="匠心追求，酱香佳酿的匠上匠全新升级了！"
                                                 href="https://www.paichi.net/zuofa/jiangxinzhuiqiujiangxiangjia.html">匠心追求，酱香佳酿的匠上匠全新升级了！</a></strong>
                        <div class="d1"><span>0 评论</span><span>3289 人气</span></div>
                    </div>
                </div>
                <div class="listtyle1">
                    <div class="img"><a target="_blank" title="匠上匠1号：古法秘调，打造酱酒品质新标杆"
                                        href="https://www.paichi.net/zuofa/jiangshangjiang1haogufamidia.html"
                                        class="img"><img class="cpimg" alt="匠上匠1号：古法秘调，打造酱酒品质新标杆"
                                                         th:src="@{/js/jiankang/images/0226b20f89ce1e720b9484149287af19_150x150.jpeg}"
                                                         width="232" height="232"></a></div>
                    <div class="info1">
                        <strong class="title"><a target="_blank" title="匠上匠1号：古法秘调，打造酱酒品质新标杆"
                                                 href="https://www.paichi.net/zuofa/jiangshangjiang1haogufamidia.html">匠上匠1号：古法秘调，打造酱酒品质新标杆</a></strong>
                        <div class="d1"><span>0 评论</span><span>4345 人气</span></div>
                    </div>
                </div>
                <div class="listtyle1">
                    <div class="img"><a target="_blank" title="匠上匠升级品质全新上市，国风包装发扬国潮精神"
                                        href="https://www.paichi.net/zuofa/jiangshangjiangshengjipinzhi_1.html"
                                        class="img"><img class="cpimg" alt="匠上匠升级品质全新上市，国风包装发扬国潮精神"
                                                         th:src="@{/js/jiankang/images/dfb15d17320e3413c087094671ab4235_150x150.jpeg}"
                                                         width="232" height="232"></a></div>
                    <div class="info1">
                        <strong class="title"><a target="_blank" title="匠上匠升级品质全新上市，国风包装发扬国潮精神"
                                                 href="https://www.paichi.net/zuofa/jiangshangjiangshengjipinzhi_1.html">匠上匠升级品质全新上市，国风包装发扬国潮精神</a></strong>
                        <div class="d1"><span>0 评论</span><span>3391 人气</span></div>
                    </div>
                </div>
                <div class="listtyle1">
                    <div class="img"><a target="_blank" title="盼盼豹发力定制推出“高考定制罐” 超强应援更懂高考学子心"
                                        href="https://www.paichi.net/zuofa/panpanbaofalidingzhituichuga.html"
                                        class="img"><img class="cpimg" alt="盼盼豹发力定制推出“高考定制罐” 超强应援更懂高考学子心"
                                                         th:src="@{/js/jiankang/images/2e71e74a6b3f8d87e47b29aee909f42c_150x150.jpeg}"
                                                         width="232" height="232"></a></div>
                    <div class="info1">
                        <strong class="title"><a target="_blank" title="盼盼豹发力定制推出“高考定制罐” 超强应援更懂高考学子心"
                                                 href="https://www.paichi.net/zuofa/panpanbaofalidingzhituichuga.html">盼盼豹发力定制推出“高考定制罐”
                            超强应援更懂高考学子心</a></strong>
                        <div class="d1"><span>1 评论</span><span>1363 人气</span></div>
                    </div>
                </div>
                <div class="listtyle1 ml0">
                    <div class="img"><a target="_blank" title="烹饪会流失维C，用这些方法和汤臣倍健维生素C咀嚼片来改善"
                                        href="https://www.paichi.net/zuofa/pengrenhuiliushiweicyongzhex.html"
                                        class="img"><img class="cpimg" alt="烹饪会流失维C，用这些方法和汤臣倍健维生素C咀嚼片来改善"
                                                         th:src="@{/js/jiankang/images/4d7187748c6c5cf5b654bbc2c1c8308e_150x150.jpeg}"
                                                         width="232" height="232"></a></div>
                    <div class="info1">
                        <strong class="title"><a target="_blank" title="烹饪会流失维C，用这些方法和汤臣倍健维生素C咀嚼片来改善"
                                                 href="https://www.paichi.net/zuofa/pengrenhuiliushiweicyongzhex.html">烹饪会流失维C，用这些方法和汤臣倍健维生素C咀嚼片来改善</a></strong>
                        <div class="d1"><span>0 评论</span><span>3501 人气</span></div>
                    </div>
                </div>
                <div class="listtyle1">
                    <div class="img"><a target="_blank" title="热爱打羽毛球膝盖疼？日常须注意这几点搭配氨糖软骨素！"
                                        href="https://www.paichi.net/zuofa/reaidayumaoqiuxigaitengricha.html"
                                        class="img"><img class="cpimg" alt="热爱打羽毛球膝盖疼？日常须注意这几点搭配氨糖软骨素！"
                                                         th:src="@{/js/jiankang/images/514aff02e1433d2051f41363aa3e5fc6_150x150.jpeg}"
                                                         width="232" height="232"></a></div>
                    <div class="info1">
                        <strong class="title"><a target="_blank" title="热爱打羽毛球膝盖疼？日常须注意这几点搭配氨糖软骨素！"
                                                 href="https://www.paichi.net/zuofa/reaidayumaoqiuxigaitengricha.html">热爱打羽毛球膝盖疼？日常须注意这几点搭配氨糖软骨素！</a></strong>
                        <div class="d1"><span>0 评论</span><span>4737 人气</span></div>
                    </div>
                </div>
                <div class="listtyle1">
                    <div class="img"><a target="_blank" title="错误的跑步方式危害关节？快了解氨糖软骨素钙片的功效和作用"
                                        href="https://www.paichi.net/zuofa/cuowudepaobufangshiweihaigua.html"
                                        class="img"><img class="cpimg" alt="错误的跑步方式危害关节？快了解氨糖软骨素钙片的功效和作用"
                                                         th:src="@{/js/jiankang/images/80f06c6423375024c8377c8ba61ee191_150x150.jpeg}"
                                                         width="232" height="232"></a></div>
                    <div class="info1">
                        <strong class="title"><a target="_blank" title="错误的跑步方式危害关节？快了解氨糖软骨素钙片的功效和作用"
                                                 href="https://www.paichi.net/zuofa/cuowudepaobufangshiweihaigua.html">错误的跑步方式危害关节？快了解氨糖软骨素钙片的功效和作用</a></strong>
                        <div class="d1"><span>0 评论</span><span>2767 人气</span></div>
                    </div>
                </div>
                <div class="listtyle1">
                    <div class="img"><a target="_blank" title="夏季易关节不适？日常多注意3点，适当补充氨糖"
                                        href="https://www.paichi.net/zuofa/xiajiyiguanjiebushirichangdu.html"
                                        class="img"><img class="cpimg" alt="夏季易关节不适？日常多注意3点，适当补充氨糖"
                                                         th:src="@{/js/jiankang/images/54d185fb9ed261c82c08336a0691ff20_150x150.jpeg}"
                                                         width="232" height="232"></a></div>
                    <div class="info1">
                        <strong class="title"><a target="_blank" title="夏季易关节不适？日常多注意3点，适当补充氨糖"
                                                 href="https://www.paichi.net/zuofa/xiajiyiguanjiebushirichangdu.html">夏季易关节不适？日常多注意3点，适当补充氨糖</a></strong>
                        <div class="d1"><span>0 评论</span><span>4706 人气</span></div>
                    </div>
                </div>
            </div><!-- listtyle1_list end -->
            <div class="listtyle1_page">
                <div class="listtyle1_page_w"><a href="/health.php?cid=18&sortby=update&page=1" class="current">1</a><a
                        href="/health.php?cid=18&sortby=update&page=2" class>2</a><a
                        href="/health.php?cid=18&sortby=update&page=3" class>3</a><a
                        href="/health.php?cid=18&sortby=update&page=4" class>4</a><a
                        href="/health.php?cid=18&sortby=update&page=5" class>5</a><span>...</span><a
                        href="/health.php?cid=18&sortby=update&page=2" class="next">下一页</a><span class="gopage"><form
                        action="https://www.paichi.net/health.php"><input type="hidden" value="18" name="cid"><input
                        type="hidden" value="update" name="sortby">共1674页，到第 <input type="text" class="text" value="2"
                                                                                    name="page"> 页 <input type="submit"
                                                                                                          class="submit"
                                                                                                          value="确定"></form></span>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        _czc.push(﻿﻿['_trackEvent', 'pc', 'pc_jiankang']
        )
        ;
        _czc.push(﻿﻿['_trackEvent', 'pc', 'pc_jiankang_class_18']
        )
        ;
        $(function () {
            var js = document.createElement("script");
            js.language = "javascript";
            js.src = "http://click.paichi.net/pl/lclick.php?i=18&addclick=1&_" + (new Date()).getTime();
            document.body.appendChild(js);
        });
    </script>
</div>
<div style="margin:0 auto;padding-top:20px;width:990px;">
    <div style="display:inline-block;vertical-align:top;">
        <script type="text/javascript" th:src="@{/js/jiankang/js/fasjbsigw.js}"></script>
    </div>
    <div style="display:inline-block;vertical-align:top;">
        <script type="text/javascript" th:src="@{/js/jiankang/js/idvmevlje.js}"></script>
    </div>
</div>
<div class="main_footer pngFix">
    <div class="footer_con1 clearfix">
        <!--<p class="text pngFix"><a href="https://www.paichi.net/" class="footer_homelink"></a></p>-->
        <div class="logobottom"
             style="height:196px;width:600px;background: url(/js/jiankang/images/20190606113304_957.png) left center no-repeat;background-size:70% auto;">
            <a href="http://www.meishi.cc" style="height:100%;width:200px;display:block;"></a>
        </div>
        <div class="links">
            <ul class="cleearfix">
                <li class="sina"><a class="img" target="_blank"
                                    href="https://e.weibo.com/paichi"><span>关注：49万</span></a>
                    <p><a target="_blank" href="https://e.weibo.com/paichi">点击进入<br>PaiChi官方微博</a></p></li>
                <li class="tengxun"><a class="img" target="_blank" href="https://user.qzone.qq.com/613171717"><span>关注：10.9万</span></a>
                    <p><a target="_blank" href="https://user.qzone.qq.com/613171717">点击进入<br>PaiChiQQ空间</a></p></li>
                <li class="weixin"><a target="_blank" href="https://sj.meishi.cc/" class="img"></a>
                    <p><a target="_blank" href="https://sj.meishi.cc/">扫描二维码添加<br>PaiChi为微信好友</a></p></li>
                <li class="download"><a target="_blank" href="https://sj.meishi.cc/" class="img"></a>
                    <p><a target="_blank" href="https://sj.meishi.cc/">扫描二维码下载<br>PaiChi手机客户端</a></p></li>
            </ul>
        </div>
    </div>
    <div class="footer_con3">
        <ul class="clearfix">
            <li><a target="_blank" href="https://j.meishi.cc/" title="公司简介">公司简介</a></li>
            <li><a target="_blank" href="https://j.meishi.cc/aboutus.html" title="关于我们">关于我们</a></li>
            <li><a target="_blank" href="https://j.meishi.cc/download.html" title="产品下载">产品下载</a></li>
            <li><a target="_blank" href="https://j.meishi.cc/joinus.html" title="加入我们">加入我们</a></li>
            <li><a target="_blank" href="https://j.meishi.cc/contactus.html" title="联系我们">联系我们</a></li>
            <li><a target="_blank" href="https://j.meishi.cc/contactus.html" title="商务合作">商务合作</a></li>
            <li><a target="_blank" href="https://www.paichi.net/siteinfo/user_agreement.php" title="用户协议">用户协议</a></li>
            <li><a target="_blank" href="https://www.paichi.net/siteinfo/privacy.php" title="用户协议">隐私政策</a></li>
            <li><a target="_blank" href="https://www.paichi.net/siteinfo/maps.php" title="网站地图">网站地图</a></li>
            <li><a target="_blank" href="https://www.paichi.net/siteinfo/links.php" title="友情链接">友情链接</a></li>
        </ul>
        <p><a target="_blank" href="https://www.miibeian.gov.cn" class="gray_a">京ICP备14030359号</a>/<a target="_blank"
                                                                                                      href="https://beian.gov.cn/"
                                                                                                      class="gray_a"><img
                th:src="@{/js/jiankang/images/20180208111357_93713.png}">京公网安备11010802026928</a> Copyright © 2003-2020 paichi CO.,LTD.</p>
    </div>
</div>
<div style="display:none;">
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cspan id='cnzz_stat_icon_1259001544'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/stat.php%3Fid%3D1259001544' type='text/javascript'%3E%3C/script%3E"));</script>
</div>
</body>
</html>