<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paichi.modules.record.mapper.FileRecordMapper">

    <insert id="saveFileRecord" parameterType="FileRecord">
        insert into paichi.file_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pictureUrl != null">
                PICTURE_URL,
            </if>
                UPLOAD_TIME,
            <if test="pictureType != null">
                PICTURE_TYPE,
            </if>
            <if test="uploadUserId != null">
                UPLOAD_USER_ID,
            </if>
                DEL_FLAG
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pictureUrl != null">
                #{pictureUrl},
            </if>
                now(),
            <if test="pictureType != null">
                #{pictureType, jdbcType=NUMERIC},
            </if>
            <if test="uploadUserId != null and uploadUserId != ''">
                #{uploadUserId},
            </if>
                #{delFlag}
        </trim>
    </insert>

    <!--查询临时文件-->
    <select id="queryTempFile" resultType="FileRecord">
        select PICTURE_URL, UPLOAD_TIME, PICTURE_TYPE, UPLOAD_USER_ID, DEL_FLAG
        from paichi.file_record
        where PICTURE_TYPE = 2
    </select>

    <!--删除临时文件（将删除标志变为2）-->
    <update id="deleteTempFileByUrl" parameterType="String">
        update paichi.file_record
        set DEL_FLAG = 2
        where PICTURE_URL = #{url}
    </update>
</mapper>
