<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paichi.modules.effect.mapper.EffectMapper">

    <select id="getEffect" parameterType="String" resultType="Effect">
        select * from EFFECT where tasteName = ${effectName}
    </select>

    <insert id="saveEffect" parameterType="Taste" useGeneratedKeys="true" keyProperty="effectId">
        insert into EFFECT (EFFECT_NAME) values(${effectName})
    </insert>
</mapper>
