<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>菜谱大全_家庭菜谱_家庭实用菜谱大全</title>
    <meta name="keywords" content="菜谱大全,家庭菜谱,家庭实用菜谱大全">
    <meta name="description" content="菜谱大全,家庭菜谱,家庭实用菜谱大全">
    <meta content="www.paichi.net" name="author">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script>var _hmt = _hmt || [];</script>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/ss_base.css}">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/js/news/css/list.css}">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/layui/css/layui.css}">
    <script type="text/javascript" th:src="@{/js/j.m.js}"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
    <script type="text/javascript" th:src="@{/js/list.js}"></script>
    <script th:src="@{/layui/layui.js}" charset="utf-8"></script>
    <script th:src="@{/js/ds.js}"></script>
    <script th:src="@{/js/chufang/js/chufang.js}"></script>
    <script>var _czc = _czc || [];
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?01dd6a7c493607e115255b7e72de5f40";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();</script>
    <script th:inline="javascript">
        var ctx = [[@{/}]]
    </script>
</head>
<body style>
<div class="adinheader">
    <div class="adinheader_w">
        <script>
            (function () {
                var s = "_" + Math.random().toString(36).slice(2);
                document.write('<div id="' + s + '"></div>');
                (window.slotbydup = window.slotbydup || []).push({
                    id: '206520',
                    container: s,
                    size: '990,40',
                    display: 'inlay-fix'
                });
            })();
        </script>
    </div>
</div>
<div class="header">
    <div class="header_c">
        <a href="/" class="logo pngFix"></a>
        <div class="main_search_top_w">
            <div class="suggestionsBox" id="suggestions" style="display:none;">
                <ul class="suggestionList" id="autoSuggestionsList"></ul>
            </div>
            <form class="search" action="https://so.meishi.cc/">
                <input type="text" class="text" name="q" defaultval="请输入菜谱/食材/菜单/作者" x-webkit-speech
                       value="请输入菜谱/食材/菜单/作者" autocomplete="off"
                       onfocus="if(this.value=='请输入菜谱/食材/菜单/作者'){this.value='';}$(this).css('color','#333');"
                       onblur="if(this.value==''){this.value='请输入菜谱/食材/菜单/作者';$(this).css('color','#999');}"
                       href="/ajax/ajaxtitle.php" id="inputString"><input type="submit" class="submit" value="搜 索">
            </form>
        </div>
        <div class="loginitem_h">
            <script th:src="@{/js/loginheader_n2.js}"></script>
        </div>
    </div>
</div>
<div class="nav">
    <ul id="main_nav">
        <li><a href="/" class="link pngFix"><strong>首页</strong></a></li>
        <li class="hasmore current">
            <a th:href="@{/chufang/diy/index.html}" class="link pngFix"><strong>菜谱大全</strong></a>
            <div class="dw clearfix">
                <div class="dww clearfix dww_cpdq">
                    <div class="dwitem clearfix pngFix">
                        <dl class="clearfix">
                            <dt><a href="https://www.paichi.net/chufang/diy/">家常菜谱</a></dt>
                            <dd><a href="https://www.paichi.net/chufang/diy/jiangchangcaipu/">家常菜</a></dd>
                            <dd><a href="https://www.paichi.net/chufang/diy/langcaipu/">凉菜</a></dd>
                            <dd><a href="https://www.paichi.net/chufang/diy/sushi/">素食</a></dd>
                            <dd><a href="https://www.paichi.net/chufang/diy/wancan/">晚餐</a></dd>
                            <dd><a href="https://www.paichi.net/chufang/diy/sijiacai/">私家菜</a></dd>
                            <dd><a href="https://www.paichi.net/chufang/diy/recaipu/">热菜</a></dd>
                            <dd><a href="https://www.paichi.net/chufang/diy/haixian/">海鲜</a></dd>
                            <dd><a href="https://www.paichi.net/chufang/diy/yunfu/">孕妇</a></dd>
                            <dd><a href="https://www.paichi.net/chufang/diy/zaocan/">早餐</a></dd>
                            <dd><a href="https://www.paichi.net/chufang/diy/wucan/">午餐</a></dd>
                            <dd><a href="https://www.paichi.net/chufang/diy/tianpindianxin/">甜品点心</a></dd>
                            <dd><a href="https://www.paichi.net/chufang/diy/tangbaocaipu/">汤粥</a></dd>
                            <dd><a href="https://www.paichi.net/chufang/diy/baobaocaipu/">宝宝食谱-婴儿食谱</a></dd>
                            <dd><a href="https://www.paichi.net/chufang/diy/gaodianxiaochi/">糕点主食</a></dd>
                            <dd><a href="https://www.paichi.net/chufang/diy/weibolucaipu/">微波炉</a></dd>
                        </dl>
                    </div>
                    <div class="dwitem dwitem_half clearfix">
                        <dl class="clearfix">
                            <dt><a href="https://www.paichi.net/china-food/caixi/">中华菜系</a></dt>
                            <dd><a href="https://www.paichi.net/china-food/caixi/chuancai/">川菜</a></dd>
                            <dd><a href="https://www.paichi.net/china-food/caixi/yuecai/">粤菜</a></dd>
                            <dd><a href="https://www.paichi.net/china-food/caixi/dongbeicai/">东北菜</a></dd>
                            <dd><a href="https://www.paichi.net/china-food/caixi/xiangcai/">湘菜</a></dd>
                            <dd><a href="https://www.paichi.net/china-food/caixi/lucai/">鲁菜</a></dd>
                            <dd><a href="https://www.paichi.net/china-food/caixi/zhecai/">浙菜</a></dd>
                            <dd><a href="https://www.paichi.net/china-food/caixi/hubeicai/">湖北菜</a></dd>
                            <dd><a href="https://www.paichi.net/china-food/caixi/qingzhencai/">清真菜</a></dd>
                        </dl>
                    </div>
                    <div class="dwitem dwitem_half clearfix">
                        <dl class="clearfix">
                            <dt><a href="https://www.paichi.net/china-food/xiaochi/">各地小吃</a></dt>
                            <dd><a href="https://www.paichi.net/china-food/xiaochi/sichuan/">四川小吃</a></dd>
                            <dd><a href="https://www.paichi.net/china-food/xiaochi/guangdong/">广东小吃</a></dd>
                            <dd><a href="https://www.paichi.net/china-food/xiaochi/beijing/">北京小吃</a></dd>
                            <dd><a href="https://www.paichi.net/china-food/xiaochi/shanxii/">陕西小吃</a></dd>
                        </dl>
                    </div>
                    <br>
                    <div class="dwitem dwitem_half clearfix">
                        <dl class="clearfix">
                            <dt><a href="https://www.paichi.net/chufang/diy/guowaicaipu1/">外国菜谱</a></dt>
                            <dd><a href="https://www.paichi.net/chufang/diy/guowaicaipu1/hanguo/">韩国料理</a></dd>
                            <dd><a href="https://www.paichi.net/chufang/diy/guowaicaipu1/japan/">日本料理</a></dd>
                            <dd><a href="https://www.paichi.net/chufang/diy/guowaicaipu1/faguo/">法国菜</a></dd>
                            <dd><a href="https://www.paichi.net/chufang/diy/guowaicaipu1/yidali/">意大利餐</a></dd>
                        </dl>
                    </div>
                    <div class="dwitem dwitem_half clearfix">
                        <dl class="clearfix">
                            <dt><a href="https://www.paichi.net/hongpei/">烘焙</a></dt>
                            <dd><a href="https://www.paichi.net/hongpei/dangaomianbao/">蛋糕面包</a></dd>
                            <dd><a href="https://www.paichi.net/hongpei/bingganpeifang/">饼干配方</a></dd>
                            <dd><a href="https://www.paichi.net/hongpei/tianpindianxin/">甜品点心</a></dd>
                        </dl>
                    </div>
                    <br>
                    <div class="dwitem dwitem_half clearfix">
                        <dl class="clearfix">
                            <dt><a href="https://www.paichi.net/pengren/">厨房百科</a></dt>
                            <dd><a href="https://www.paichi.net/pengren/baipanzhoubian/">摆盘围边</a></dd>
                            <dd><a href="https://www.paichi.net/pengren/jiqiao/">烹饪技巧</a></dd>
                            <dd><a href="https://www.paichi.net/pengren/chufangmiaozhao/">生活妙招</a></dd>
                            <dd><a href="https://www.paichi.net/pengren/chufang/">美食专题</a></dd>
                        </dl>
                    </div>
                    <div class="dwitem dwitem_half clearfix">
                        <dl class="clearfix">
                            <dt><a href="https://www.paichi.net/shicai/">食材百科</a></dt>
                            <dd><a href="https://www.paichi.net/shicai/shucai_list">蔬菜</a></dd>
                            <dd><a href="https://www.paichi.net/shicai/shuiguo_list">水果</a></dd>
                            <dd><a href="https://www.paichi.net/shicai/gulei_list">谷类</a></dd>
                        </dl>
                    </div>
                    <div class="bgitem"></div>
                </div>
            </div>
        </li>
        <li class="hasmore"><a href="https://www.paichi.net/jiankang/" class="link pngFix"><strong>饮食健康</strong></a>
            <div class="dw clearfix">
                <div class="dww clearfix dww_ysjk">
                    <div class="dwitem clearfix pngFix">
                        <dl class="clearfix">
                            <dt><a href="https://www.paichi.net/jiankang/">饮食健康</a></dt>
                            <dd><a href="https://www.paichi.net/jiankang/changshi/">饮食小常识</a></dd>
                            <dd><a href="https://www.paichi.net/jiankang/meirong/">美容瘦身</a></dd>
                            <dd><a href="https://www.paichi.net/jiankang/shipinanquan/">食品安全</a></dd>
                            <dd><a href="https://www.paichi.net/jiankang/yangsheng/">养生妙方</a></dd>
                            <dd><a href="https://www.paichi.net/jiankang/jinji/">饮食禁忌</a></dd>
                            <dd><a href="https://www.paichi.net/jiankang/zhongyi/">中医保健</a></dd>
                            <dd><a href="https://www.paichi.net/jiankang/muying/">母婴健康饮食</a></dd>
                            <dd><a href="https://www.paichi.net/jiankang/yinshixinwen/">饮食新闻</a></dd>
                        </dl>
                    </div>
                    <div class="dwitem clearfix">
                        <dl class="clearfix">
                            <dt><a href="https://www.paichi.net/yaoshanshiliao/gongnengxing/">功能性调理</a></dt>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/gongnengxing/qingrequhuo/">清热去火</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/gongnengxing/jianfei/">减肥</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/gongnengxing/qutan/">祛痰</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/gongnengxing/wufa/">乌发</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/gongnengxing/ziyinbushen/">滋阴补肾</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/gongnengxing/jianpikaiwei/">健脾开胃</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/gongnengxing/xiaohuabulang/">消化不良</a>
                            </dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/gongnengxing/qingrejiedu/">清热解毒</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/gongnengxing/buyangzhuangyang/">补阳壮阳</a>
                            </dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/gongnengxing/zengfei/">增肥</a></dd>
                        </dl>
                    </div>
                    <br>
                    <div class="dwitem dwitem_half clearfix">
                        <dl class="clearfix">
                            <dt><a href="https://www.paichi.net/yaoshanshiliao/renqunshanshi/">人群膳食</a></dt>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/renqunshanshi/yunfu/">孕妇</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/renqunshanshi/laoren/">老人</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/renqunshanshi/chanfu/">产妇</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/renqunshanshi/rumu/">哺乳期</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/renqunshanshi/qingshaonian/">青少年</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/renqunshanshi/rouer/">幼儿</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/renqunshanshi/xuelingqi/">学龄期儿童</a></dd>
                        </dl>
                    </div>
                    <div class="dwitem dwitem_half clearfix">
                        <dl class="clearfix">
                            <dt><a href="https://www.paichi.net/yaoshanshiliao/jibingtiaoli/">疾病调理</a></dt>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/jibingtiaoli/tangniaobing/">糖尿病</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/jibingtiaoli/gaoxueya/">高血压</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/jibingtiaoli/tongfeng/">痛风</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/jibingtiaoli/weiyan/">胃炎</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/jibingtiaoli/zhichuang/">痔疮</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/jibingtiaoli/gengnianqi/">更年期</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/jibingtiaoli/jiakangxian/">甲状腺</a></dd>
                        </dl>
                    </div>
                    <br>
                    <div class="dwitem clearfix">
                        <dl class="clearfix">
                            <dt><a href="https://www.paichi.net/yaoshanshiliao/zangfu/">脏腑调理</a></dt>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/zangfu/ganmao/">感冒</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/zangfu/shentiaoli/">补肾</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/zangfu/yangweizaoxie/">阳痿早泄</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/zangfu/buxue/">补血</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/zangfu/bianmi/">便秘</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/zangfu/fuxie/">腹泻</a></dd>
                            <dd><a href="https://www.paichi.net/yaoshanshiliao/zangfu/houxuehuayu/">活血化瘀</a></dd>
                        </dl>
                    </div>
                    <div class="bgitem"></div>
                </div>
            </div>
        </li>
        <li><a href="https://i.meishi.cc/recipe_list/" class="link pngFix"><strong>美食菜单</strong></a></li>
        <li style="position:relative;z-index:100;"><a style="padding:0 11px;" href="https://i.meishi.cc/jiajuguan/"
                                                      class="link pngFix"><strong>家居馆</strong>
        </a></li>
        <li><a href="https://i.meishi.cc/daren_task/daren.php" class="link"><strong>美食达人</strong><img
                th:src="@{/image/vip_hat.png}"
                style="display:inline-block;margin-left:-7px;vertical-align:top;margin-top:8px;"></a></li>
        <li><a href="https://www.paichi.net/video/" class="link pngFix"><strong>菜谱视频</strong></a></li>
        <li><a href="https://i.meishi.cc/download_msj.php" class="link pngFix"><strong>产品下载</strong></a></li>
    </ul>
</div>
<div class="main_search main_search_slideUp pngFix" slideUp="1" style="_display:none;" id="main_search">
    <div class="main_search_w">
        <div class="searchform_div">
            <form action="https://so.meishi.cc/" target="_blank"><input type="text" class="text" name="q"
                                                                        x-webkit-speech autocomplete="off"
                                                                        id="inputString" placeholder="家常菜谱大全"><input
                    type="submit" class="submit" value="搜 索"></form>
        </div>
        <span id="searchslideup_btn" class="pngFix" style="background-position:0px -48px;">自动收缩</span>
    </div>
</div>
<div class="bottom_back_top_top bottom_back_top_top_slideUp" id="bottom_back_top_top"><a href="#" title="返回家常菜谱大全的顶部"
                                                                                         class="backtotop pngFix">回到顶部</a>
</div>
<div class="main_w clearfix">
    <div class="main">
        <div class="listnav clearfix" id="listnav">
            <ul class="listnav_ul" id="listnav_ul">
                <li disable="1"><a class="link">我的美食属性（未开放）</a></li>
                <li class="current hover"><h1><a href="https://www.paichi.net/chufang/diy/" class="link">家常菜谱</a></h1>
                </li>
                <li><a href="/china-food/caixi/" class="link">中华菜系</a></li>
                <li><a href="/china-food/xiaochi/" class="link">各地小吃</a></li>
                <li><a href="/chufang/diy/guowaicaipu1/" class="link">外国菜谱</a></li>
                <li><a href="/hongpei/" class="link">烘焙</a></li>
                <li><a href="/pengren/" class="link">厨房百科</a></li>
                <li><a href="https://www.paichi.net/shicai/" class="link">食材百科</a></li>
            </ul>
            <div class="listnav_con clearfix" id="listnav_con_c">
                <dl class="listnav_dl_style1 w990 bb1 clearfix">
                    <dt>家常菜谱</dt>
                    <dd><a href="https://www.paichi.net/chufang/diy/jiangchangcaipu/">家常菜</a></dd>
                    <dd><a href="https://www.paichi.net/chufang/diy/sijiacai/">私家菜</a></dd>
                    <dd><a href="https://www.paichi.net/chufang/diy/langcaipu/">凉菜</a></dd>
                    <dd><a href="https://www.paichi.net/chufang/diy/haixian/">海鲜</a></dd>
                    <dd><a href="https://www.paichi.net/chufang/diy/recaipu/">热菜</a></dd>
                    <dd><a href="https://www.paichi.net/chufang/diy/tangbaocaipu/">汤粥</a></dd>
                    <dd><a href="https://www.paichi.net/chufang/diy/sushi/">素食</a></dd>
                    <dd><a href="https://www.paichi.net/chufang/diy/jiangliaozhanliao/">酱料蘸料</a></dd>
                    <dd><a href="https://www.paichi.net/chufang/diy/weibolucaipu/">微波炉</a></dd>
                    <dd><a href="https://www.paichi.net/chufang/diy/huoguo/">火锅底料</a></dd>
                    <dd><a href="https://www.paichi.net/chufang/diy/tianpindianxin/">甜品点心</a></dd>
                    <dd><a href="https://www.paichi.net/chufang/diy/gaodianxiaochi/">糕点主食</a></dd>
                    <dd><a href="https://www.paichi.net/chufang/diy/ganguo/">干果制作</a></dd>
                    <dd><a href="https://www.paichi.net/chufang/diy/rujiangcai/">卤酱</a></dd>
                    <dd><a href="https://www.paichi.net/chufang/diy/yinpin/">时尚饮品</a></dd>
                </dl>
                <dl class="listnav_dl_style1 w300 br1 clearfix">
                    <dt>每日三餐</dt>
                    <dd><a href="https://www.paichi.net/chufang/diy/zaocan/">早餐</a></dd>
                    <dd><a href="https://www.paichi.net/chufang/diy/wucan/">午餐</a></dd>
                    <dd><a href="https://www.paichi.net/chufang/diy/wancan/">晚餐</a></dd>
                    <dd><a href="https://www.paichi.net/chufang/diy/xiawucha/">下午茶</a></dd>
                    <dd><a href="https://www.paichi.net/chufang/diy/yexiao/">夜宵</a></dd>
                </dl>
                <dl class="listnav_dl_style1 w330 br1 clearfix">
                    <dt>人群</dt>
                    <dd><a href="https://www.paichi.net/chufang/diy/laonian/">老年人</a></dd>
                    <dd><a href="https://www.paichi.net/chufang/diy/chanfu/">产妇</a></dd>
                    <dd><a href="https://www.paichi.net/chufang/diy/yunfu/">孕妇</a></dd>
                    <dd><a href="https://www.paichi.net/chufang/diy/baobaocaipu/">宝宝食谱-婴儿食谱</a></dd>
                </dl>
                <dl class="listnav_dl_style1 w360 clearfix">
                    <dt>功效</dt>
                    <dd><a href="https://www.paichi.net/yaoshanshiliao/jibingtiaoli/">疾病调理</a></dd>
                    <dd><a href="https://www.paichi.net/yaoshanshiliao/gongnengxing/">功能性调理</a></dd>
                    <dd><a href="https://www.paichi.net/yaoshanshiliao/zangfu/">脏腑调理</a></dd>
                    <dd><a href="https://www.paichi.net/yaoshanshiliao/renqunshanshi/">人群膳食</a></dd>
                </dl>
            </div>
        </div>
        <div class="bbtitles">印象中的那些妈妈的味道
            <span class="paixu">
                <a href="JavaScript:void(0);" class="current" id="zuixin">最新</a> |
                <a href="JavaScript:void(0);" id="zuire">最热</a>
            </span>
        </div>
        <div class="liststyle1_w clearfix">
            <div class="fliterstyle1" id="fliterstyle1">
                <!--查询条件筛选-->
                <div id="termList">
                </div>
                <div class="fliterstyle1_main">
                    <ul class="tab">
                        <li class="li1" po="1"><a href="####">普通筛选</a></li>
                        <li class="li2 current" po="2"><a href="####">食材筛选</a><span class="littletips_new"></span></li>
                    </ul>
                    <div class="tabcon" po="1" style="display:none;">
                        <dl class="clearfix">
                            <dt class="pngFix">选择难度</dt>
                            <dd class="clearfix">
                                <a onclick="chooseTerm(this.text, 2)" id="新手尝试">新手尝试</a>
                                <a onclick="chooseTerm(this.text, 2)" id="初级入门">初级入门</a>
                                <a onclick="chooseTerm(this.text, 2)" id="初中水平">初中水平</a>
                                <a onclick="chooseTerm(this.text, 2)" id="中级掌勺">中级掌勺</a>
                                <a onclick="chooseTerm(this.text, 2)" id="高级厨师">高级厨师</a>
                                <a onclick="chooseTerm(this.text, 2)" id="厨神级">厨神级</a>
                            </dd>
                        </dl>
                        <dl class="clearfix">
                            <dt class="pngFix">选择工艺</dt>
                            <dd class="clearfix bb0" id="craft">
                                <div class="others" id="craftOthers">
                                </div>
                            </dd>
                            <dd class="long clearfix filter_otherbtn">展开全部 >></dd>
                        </dl>
                        <dl class="clearfix">
                            <dt class="pngFix">选择口味</dt>
                            <dd class="clearfix" id="taste">

                            </dd>
                            <dd class="long clearfix filter_otherbtn">展开全部 >></dd>
                        </dl>
                        <dl class="clearfix">
                            <dt class="pngFix">选择时间</dt>
                            <dd class="clearfix" id="time">
								<a onclick="chooseTerm(this.text, 5)" id="一小时"><一小时</a>
								<a onclick="chooseTerm(this.text, 5)" id="两小时"><两小时</a>
								<a onclick="chooseTerm(this.text, 5)" id="数小时"><数小时</a>
								<a onclick="chooseTerm(this.text, 5)" id="两天"><两天</a>
								<a onclick="chooseTerm(this.text, 5)" id="数天"><数天</a>
								<a onclick="chooseTerm(this.text, 5)" id="未知">未知</a>
                            </dd>
                        </dl>
                </div>
                <div class="tabcon" po="2">
                    <div class="tabcon_scsearch">
                        <div class="w">
                            <input type="text" class="text" name="q" id="yl_q" defaultval="请输入您想查找的食材"
                                   value="请输入您想查找的食材" autocomplete="off"
                                   onfocus="if(this.value=='请输入您想查找的食材'){this.value='';}$(this).css('color','#333');"
                                   onblur="if(this.value==''){this.value='请输入您想查找的食材';$(this).css('color','#999');}">
                            <input type="button" onclick="list_add_shicai()" class="submit pngFix" value=" ">
                        </div>
                    </div>
                    <dl class="clearfix on">
                        <dt class="pngFix">按数量排序</dt>
                        <dd class="clearfix row2">

                            <div class="others">
                            </div>
                        </dd>
                        <dd class="long clearfix filter_otherbtn">展开全部 >></dd>
                    </dl>
                </div>
            </div>
            <div style="padding-top:20px;width:232px;overflow:hidden;">
                <script>
                    (function () {
                        var s = "_" + Math.random().toString(36).slice(2);
                        document.write('<div id="' + s + '"></div>');
                        (window.slotbydup = window.slotbydup || []).push({
                            id: '502312',
                            container: s,
                            size: '230,300',
                            display: 'inlay-fix'
                        });
                    })();
                </script>
            </div>
        </div>
        <div class="listtyle1_w" id="listtyle1_w">
            <div class="listtyle1_list clearfix" id="listtyle1_list">

            </div><!-- listtyle1_list end -->
            <div class="listtyle1_page">
                <div class="listtyle1_page_w" id="page_list"></div>
            </div>

            <script type="text/javascript" th:src="@{/js/chufang/js/jewnfkmaf.js}"></script>
        </div>
    </div>
</div>
<script type="text/javascript">
    _czc.push(﻿﻿['_trackEvent', 'pc', 'pc_list']
    )
    ;
    _czc.push(﻿﻿['_trackEvent', 'pc', 'pc_list_class_13']
    )
    ;
    var is_list_adding = 0;

    function list_add_shicai() {
        var q = $('#yl_q').val();
        if (q != '' && q != '请输入您想查找的食材') {
            if (is_list_adding == 0) {
                is_list_adding = 1;
                $.get('/ajax/list_add_yl.php?c=' + encodeURIComponent(q), null,
                    function (data) {
                        is_list_adding = 0;
                        data = parseInt(data);
                        if (data > 0) {
                            location.href = '/list.php?sortby=update&words=%E5%AE%B6%E5%B8%B8%E8%8F%9C&lm=270&yl=' + data;
                        } else {
                            alert('未能识别的食材，请尝试其他关键字');
                            $('#yl_q').val('');
                        }
                    });
            }
        } else {
            alert('请输入您想查找的食材');
        }
    }

    $(function () {
        var js = document.createElement("script");
        js.language = "javascript";
        js.src = "http://click.paichi.net/pl/lclick.php?i=13&addclick=1&_" + (new Date()).getTime();
        document.body.appendChild(js);
        $("#yl_q").keypress(function (event) {
            if (event.keyCode == 13) {
                list_add_shicai()
            }
        });
    });
</script>
</div>
<div style="margin:0 auto;padding-top:20px;width:990px;">
    <div style="display:inline-block;vertical-align:top;">
        <script type="text/javascript" th:src="@{/js/fasjbsigw.js}"></script>
    </div>
    <div style="display:inline-block;vertical-align:top;">
        <script type="text/javascript" th:src="@{/js/chufang/js/idvmevlje.js}"></script>
    </div>
</div>
<div class="main_footer pngFix">
    <div class="footer_con1 clearfix">
        <!--<p class="text pngFix"><a href="https://www.paichi.net/" class="footer_homelink"></a></p>-->
        <div class="logobottom"
             style="height:196px;width:600px;background: url(/js/chufang/images/20190606113304_957.png) left center no-repeat;background-size:70% auto;">
            <a href="http://www.meishi.cc" style="height:100%;width:200px;display:block;"></a>
        </div>
        <div class="links">
            <ul class="cleearfix">
                <li class="sina"><a class="img" target="_blank"
					href="https://e.weibo.com/paichi"><span>关注：49万</span></a>
                    <p><a target="_blank" href="https://e.weibo.com/paichi">点击进入<br>PaiChi官方微博</a></p></li>
                <li class="tengxun"><a class="img" target="_blank" href="https://user.qzone.qq.com/613171717"><span>关注：10.9万</span></a>
                    <p><a target="_blank" href="https://user.qzone.qq.com/613171717">点击进入<br>PaiChiQQ空间</a></p></li>
                <li class="weixin"><a target="_blank" href="https://sj.meishi.cc/" class="img"></a>
                    <p><a target="_blank" href="https://sj.meishi.cc/">扫描二维码添加<br>PaiChi为微信好友</a></p></li>
                <li class="download"><a target="_blank" href="https://sj.meishi.cc/" class="img"></a>
                    <p><a target="_blank" href="https://sj.meishi.cc/">扫描二维码下载<br>PaiChi手机客户端</a></p></li>
            </ul>
        </div>
    </div>
    <div class="footer_con3">
        <ul class="clearfix">
            <li><a target="_blank" href="https://j.meishi.cc/" title="公司简介">公司简介</a></li>
            <li><a target="_blank" href="https://j.meishi.cc/aboutus.html" title="关于我们">关于我们</a></li>
            <li><a target="_blank" href="https://j.meishi.cc/download.html" title="产品下载">产品下载</a></li>
            <li><a target="_blank" href="https://j.meishi.cc/joinus.html" title="加入我们">加入我们</a></li>
            <li><a target="_blank" href="https://j.meishi.cc/contactus.html" title="联系我们">联系我们</a></li>
            <li><a target="_blank" href="https://j.meishi.cc/contactus.html" title="商务合作">商务合作</a></li>
            <li><a target="_blank" href="https://www.paichi.net/siteinfo/user_agreement.php" title="用户协议">用户协议</a></li>
            <li><a target="_blank" href="https://www.paichi.net/siteinfo/privacy.php" title="用户协议">隐私政策</a></li>
            <li><a target="_blank" href="https://www.paichi.net/siteinfo/maps.php" title="网站地图">网站地图</a></li>
            <li><a target="_blank" href="https://www.paichi.net/siteinfo/links.php" title="友情链接">友情链接</a></li>
        </ul>
        <p><a target="_blank" href="https://www.miibeian.gov.cn" class="gray_a">京ICP备14030359号</a>/
			<a target="_blank" href="https://beian.gov.cn/" class="gray_a">
				<img th:src="@{/js/chufang/images/20180208111357_93713.png}">京公网安备11010802026928</a> Copyright © 2003-2020 paichi CO.,LTD.</p>
    </div>
</div>
<div style="display:none;">
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cspan id='cnzz_stat_icon_1259001544'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/stat.php%3Fid%3D1259001544' type='text/javascript'%3E%3C/script%3E"));</script>
</div>
</body>
</html>