<!DOCTYPE html>
<head lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PaiChi</title>
    <meta name="keywords" content="PaiChi">
    <meta name="description" content="PaiChi">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/ss_base.css}">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/js/about/css/about1.css}">
    <script type="text/javascript" th:src="@{/js/about/js/jquery.min.js}"></script>
</head>
<body>
    <div class="topbar" id="topbar">
            <div class="topbar_c">
                <a href="/" class="logo"></a>
                <ul class="nav">
                    <li class="active"><a href="/about/index.html"><strong>首页</strong></a></li>
                    <li><a href="/about/about_us.html"><strong>关于我们</strong></a></li>
                    <!--<li><a href="download.html"><strong>产品下载</strong></a></li>-->
                    <li><a href="/about/join_us.html"><strong>加入我们</strong></a></li>
                    <li><a href="/about/contact_us.html"><strong>联系我们</strong></a></li>
                </ul>
    
            </div>
        </div>
        <div class="banner1" style="background:url(/js/about/images/20190105191138_137.jpeg) center no-repeat;background-size:cover;height:46.875vw;">
            <div class="bigtitle" style="top:50%;">
                <strong style="font-size:5.20833333vw;line-height:8.8541666666vw;">PaiChi<span>不再为吃什么而苦恼<br>不再错过美味</span></strong>
                <div class="line"></div>
                <em>“与6000万用户一起享受幸福味道美食</em>
                <div class="downloadbtnw">
                    <div class="downloadbtn downloadbtn1"><span class="a">IOS客户端</span><span class="b">扫码安装</span><div class="qrcode"><img src="/js/about/images/20190105184403_687.png" alt><div class="arrow"></div></div></div>
                    <div class="downloadbtn downloadbtn2"><span class="a">安卓客户端</span><span class="b">扫码安装</span><div class="qrcode"><img src="/js/about/images/20190105184733_820.png" alt><div class="arrow"></div></div></div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="index_intro">
                <h1>美食杰是一家什么样的公司？</h1>
                <div class="paraw">
                    <p>美食杰成立于2007年，是一家以用户为中心、数据为基础、内容为服务、技术为驱动、同理心为方法的用户饮食管理服务平台；</p>
                    <p>我们通过美食菜谱吸引用户，将食物、健康、科技三者结合，帮助用户在任意餐饮环境中，了解自身所需的饮食选择方案，完成中国饮食智慧升级。</p>
                    <p>至今美食杰拥有视频菜谱及图文菜谱近百万篇，每年超过1亿次的浏览量，目前为止超过5000万家庭享用我们提供的饮食指南。</p>
                </div>
            </div>
            <div class="title0">
                <h2>美食</h2><span>·</span><h2>美味</h2><span>·</span><h2>美食人</h2>
            </div>
            <div class="index_item1" style="background:url(/js/about/images/20190105200608_591.jpeg) 0px 0px no-repeat;background-size:auto 100%;">
                <div class="boxw" style="left:50%;">
                    <div class="box">
                        <div class="line"></div>
                        <strong class="title">让做饭更具幸福感</strong>
                        <p class="des"><span class="yes"><i class="i1"></i><i class="i2"></i></span>让不会做饭的人会做</p>
                        <p class="des"><span class="yes"><i class="i1"></i><i class="i2"></i></span>让会做饭的人更会做</p>
                        <p class="des"><span class="yes"><i class="i1"></i><i class="i2"></i></span>和最重要的人一起做饭</p>
                    </div>
                </div>
            </div>
            <div class="index_item1" style="background:url(/js/about/images/20190105200609_324.jpeg) right 0px no-repeat;background-size:auto 100%;">
                <div class="boxw" style="left:0%;">
                    <div class="box">
                        <div class="line"></div>
                        <strong class="title">拥有国内领先数量<br>的美食视频</strong>
                        <p class="des"><span class="yes"><i class="i1"></i><i class="i2"></i></span>全球美食</p>
                        <p class="des"><span class="yes"><i class="i1"></i><i class="i2"></i></span>美食机构</p>
                        <p class="des"><span class="yes"><i class="i1"></i><i class="i2"></i></span>美食达人</p>
                        <p class="des"><span class="yes"><i class="i1"></i><i class="i2"></i></span>美食网红</p>
                        <p class="des"><span class="yes"><i class="i1"></i><i class="i2"></i></span>抖音快手美拍等</p>
                    </div>
                </div>
            </div>
            <div class="index_item1" style="background:url(/js/about/images/20190105200609_354.jpeg) 0px 0px no-repeat;background-size:auto 100%;">
                <div class="boxw" style="left:50%;">
                    <div class="box">
                        <div class="line"></div>
                        <strong class="title">全网美食达人的聚集地</strong>
                        <p class="des"><span class="yes"><i class="i1"></i><i class="i2"></i></span>贡献内容</p>
                        <p class="des"><span class="yes"><i class="i1"></i><i class="i2"></i></span>提升知名度</p>
                        <p class="des"><span class="yes"><i class="i1"></i><i class="i2"></i></span>创造商业价值</p>
                    </div>
                </div>
            </div>
            <div class="title0">
                <h2>让吃更科学更健康</h2>
            </div>
            <div class="index_item2" style="background:url(/js/about/images/20190107101447_483.jpeg) 0px 0px no-repeat;background-size:auto 100%;">
                <div class="boxw" style="left:0%;">
                    <div class="box">
                        <div class="quot">“</div>
                        <strong class="title">从为嘴吃到为身体吃<br>到两者兼得</strong>
                        <p class="des">美食杰立志通过正确的饮食管理让饮食健康得到有效的控制和改善</p>
                        <p class="des">目标是建立一个权威有效的人群膳食健康平台</p>
                    </div>
                </div>
            </div>
            <div class="index_item2" style="background:url(/js/about/images/20190107102742_438.jpeg) 0px 0px no-repeat;background-size:auto 100%;">
                <div class="boxw" style="right:0%;">
                    <div class="box">
                        <div class="quot">“</div>
                        <strong class="title">权威+美味+营养=健康<br>完美结合</strong>
                        <p class="des">细分用户需求场景，提供权威的医生解说，科学的饮食建议，可视化的营养信息，丰富的菜谱内容。</p>
                    </div>
                </div>
            </div>
            <div class="title0">
                <h2>个人智慧饮食链</h2>
            </div>
            <div class="index_item2" style="background:url(/js/about/images/20190107101447_480.jpeg) 0px 0px no-repeat;background-size:auto 100%;">
                <div class="boxw" style="left:0%;">
                    <div class="box">
                        <div class="quot">“</div>
                        <strong class="title">让吃饭变简单<br>个人智慧饮食定制</strong>
                        <p class="des">提供内容个性化的<br>精品菜谱</p>
                        <p class="des">智慧饮食管家<br>会比您更了解您</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom"><p>京ICP备 150335号 / 京公网安备 11010802026928 Copyright © 2003-2018 MEISHIJ CO.,LTD.</p></div>
    
        <script>
        $(function(){
            $(window).scroll(function(){
                var st  = $(window).scrollTop();
                if(st>100){
                    $("#topbar").addClass("show");
                }else{
                    $("#topbar").removeClass("show");
                }
            });
        });
        </script>
</body>
   
    